@mixin box-sizing($type:border-box) {
	-webkit-box-sizing: $type;
	box-sizing: $type;
}

@mixin transitions($time:200ms) {
	-webkit-transition:all #{$time} ease-out;
	transition:all #{$time} ease-out;
}