body.features {
  #masthead{
	  background-color: #237A3C;
	  background-image: url(../images/featuremasthead.png);
	  background-position: center 28px;
	  background-repeat: no-repeat;
  }
  #content {
    .wrapper {
      padding: 20px 0;
    }
  }
}