footer {
	background: #e0e0e0;
	position: relative;
	z-index: 2;
	
	.wrapper {
		padding: 80px 0 30px;
		@include break(v-mobile){
			padding: 30px 0px 10px 0px; 
		}
	}
	.desktop {
		display: block!important;
		@include break(v-mobile){
			display: none!important;
		}
	}
	.mobile {
		display: none !important;
		@include break(v-mobile){
			display: block!important;
			margin-bottom: 40px;
		}
	}
	
	form {
		font-size: .8em;
		
		h3 {
			margin: 30px 0 10px 0;
		}
		.form-email {
			@include col(2,3,1);
			input {
				width: 90%;
				line-height: 30px;
				padding: 0;
				border: none;
				border: 1px solid $grey;
				padding: 0 4%;
				font-style: italic;
				font-size: 0.8em;
				@include outer-glow(0);
			}
		}
		.form-submit {
			@include col-last(1,3,1);
			input {
				line-height: 30px;
				padding: 0;
				display: block;
				background: $blue;
				color: white;
				border: none;
				width: 100%;
				padding: 0 5%;
				margin-top: 3px;
				font-size: 0.8em;
				cursor: pointer;

				&:hover {
					background: lighten($blue,6%);
				}
			}
		}
	}
	
	h3 {
		//font-size: .8em;
		font-weight: 100;
	}
	
	.menu {
		@include col(2.2,14,5);
		font-size: .8em;
		ul {
			margin-top: 15px;
			font-size: .8em;
			li {
				line-height: 25px;
				a {
					font-weight: 200;
					/* @include transitions(); */
					&:hover {
						border-bottom: 1px solid #3470AA;
						padding-bottom: 1px;
						color: #105ab2;
					}
				}
			}
		}
	}
	@include break(tablet){
		#Comm {
			display: none;
		}
		.menu {
		@include col(3,14,5);	
		}
		
	}
	@include break(v-tablet){
		#Usef {
			display: none;
		}
		.menu{
		@include col(3,14,5);	
		}
	}
	@include break(mobile){
		#Main {
			display: none;
		}
		.menu{
		@include col(1,3,0);	
		}
	}
	@include break(v-mobile){
		#Main {
			display: none;
		}
		.menu{
		@include col(1,1,0);	
		}
	}
	
	.follow-subscribe {
		@include col-last(4.3,14,5);
		.menu {
			width: 100%;
			float: none;
			
			ul {
				li {
					display: inline-block;
					width: 40px; height: 40px;
					text-indent: -9999px;
					margin: 0px 12.5px 12.5px 0px;
					@include transitions(0.1s);
					background-size: 25px 25px;
					background-repeat: no-repeat;
					background-position: center center;
					
					&:hover {
						background-size: 75%;
						/* @include opacity(.9); 
						-webkit-transform: rotate(-10deg);
						-moz-transform: rotate(-10deg);
						transform: rotate(-10deg);*/
					}
					&.facebook {
						background-image: url('/images/social/06-facebook.svg');
						background-color: #39559F;
					}
					&.twitter {
						background-image: url('/images/social/03-twitter.svg');
						background-color: #1DA0D7;
					}
					
					&.google-plus {
						background-image: url('/images/social/40-google-plus.svg');
						background-color: #E63D28;
					}
					
					&.youtube {
						background-image: url('/images/social/18-youtube.svg');
						background-color: #E63D28;
					}
					
					&.instagram {
						background-image: url('/images/social/38-instagram.svg');
						background-color: #C0B09F;
					}
					&.rss {
						background-image: url('/images/social/20-rss.svg');
						background-color: #FF7F00;
					}
					/*&.steam {
						background-image: url('/images/social/steam.svg');
						background-color: #444444;
					}
					&.windows {
						background-image: url('/images/social/32-windows8.svg');
						background-color: #01C5F3;
					}
					&.android {
						background-image: url('/images/social/36-android.svg');
						background-color: #97CD00;
					}
					&.tumblr {
						background-image: url('/images/social/15-tumblr.svg');
					}
					
					&.pinterest {
						background-image: url('/images/social/33-pinterest.svg');
					}
					
					&.linkedin {
						background-image: url('/images/social/11-linkedin.svg');
					}*/
					
					a {
						display: block;
						line-height: 40px;
						border-bottom: none;
					}
				}
			}
			
		}
		@include break(tablet){
			@include col-last(5,14,5);
		}
		@include break(v-tablet) {
			@include col-last(6,14,5);
		}
		@include break(mobile) {
			@include col-last(1,2,0);
		}
		@include break(v-mobile) {
			@include col-last(1,1,0);
			padding-top: 20px;
		}
		
	}
	
	.copyright {
		margin-top: 65px;
		font-size: .6em;
		font-weight: 100;
		
		p {
			margin: 10px 0;
		}
		a {
			display: inline-block;
			margin-left: 20px;
			color: black;
			&:hover {
				border-bottom: 1px solid #555;
				padding-bottom: 1px;
				text-decoration: none;
			}
		}
		
	}
	
	a.back-to-top {
		position: absolute;
		left: 50%;
		top: -25px;
		width: 50px;
		height: 50px;
		text-indent: -9999px;
		margin-left: -25px;
		background-image: url(/images/glyph-back-to-top.svg);
		background-repeat: no-repeat;
		
		&:hover {
			background-position: right top;
		}
		
	}
	
}
