#content-header.featured-image {
	display: block;
	min-height: 90vh;
	max-height: 600px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  	margin-top: -4px;

	@if $isAMP == 'true' {
		@include break(tablet){
			min-height: 600px;
		}
		@include break(v-mobile){
			min-height: 350px;
			max-height: 350px;
		}
		
		.wrapper {
			position: relative;
			min-height: 80vh;
			max-height: 600px;

			@include break(tablet){
				min-height: 600px;
			}
			@include break(v-mobile){
				min-height: 300px;
			}
		}
	}
	@else {
		@include break(tablet){
			min-height: 600px;
		}
		@include break(v-tablet){
			min-height: 700px;
		}
		@include break(mobile){
			min-height: 260px;
			max-height: 260px;
		}
		@include break(v-mobile){
			min-height: 355px;
			max-height: 355px;
		}
		
		.wrapper {
			position: relative;
			min-height: 80vh;
			max-height: 600px;

			@include break(tablet){
				min-height: 600px;
			}
			@include break(v-tablet){
				min-height: 700px;
			}
			@include break(mobile){
				width: 100%;
				min-height: 260px;
			}
			@include break(v-mobile){
				min-height: 355px;
			}
		}

		@media screen and (min-height: 950px) {
			min-height: 75vh;

			.wrapper {
				min-height: 70vh;
			}
		}
	}
	
	&:before {
		content:"";
		display: block;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		//OLDER @include gradient-trans-percent($start_color:#1E2933,$start_cent:35%,$start_alpha:0.03,$end_color:#1E2933,$end_cent:100%,$end_alpha:1,$degree:180deg);
		
		//darker@include gradient-trans-percent($start_color:#1E2933,$start_cent:15%,$start_alpha:0.40,$end_color:#1E2933,$end_cent:120%,$end_alpha:1,$degree:210deg);
		@include gradient-trans-percent($start_color:#1E2933,$start_cent:35%,$start_alpha:0.20,$end_color:#1E2933,$end_cent:95%,$end_alpha:1,$degree:200deg);
	}
	
	.title-group {
		position: absolute;
		bottom: 80px;
		width: 85%;
		@include break(tablet){
			bottom: 100px;
		}
		@include break(mobile){
			width: 90%;
			margin-left: 5%;
			text-align: center;
			bottom: 50px;
		}
		@include break(v-mobile){
			bottom: 75px;
		}
		
		h1.large {
			color: white;
			text-shadow: 1px 1px 2px #333;
			font-size: 2.6em;

			@if $isAMP == 'true' {
				@include break(tablet){
					font-size: 2.4em;
				}
				@include break(mobile){
					font-size: 1.5em;
				}
				@include break(v-mobile){
					font-size: 1.3em;
				}
			}
			@else {
				&.xlarge {
					font-size: 2.85em;
				}

				&.medium {
					font-size: 2.3em;
				}

				&.small {
					font-size: 2.15em;
				}

				@include break(tablet){
					font-size: 2.5em !important;
				}
				@include break(mobile){
					font-size: 1.5em !important;
				}
				@include break(v-mobile){
					font-size: 1.3em !important;
				}
			}
		}
		
		em {
			color: white;
			text-shadow: 1px 1px 5px black;
			font-weight: 400;
			font-size: .7em;
			font-style: normal;
			padding-left: 5px;

			.author {
				a {
					color: white;
					border-bottom: 1px solid #ccc;
					padding-bottom: 3px;

					&:hover {
						border-bottom: 1px solid $orange;
						padding-bottom: 3px;
					}
				}
			}
		}		
	}
	
	.rating {
		font-family: $f-helvetica-roboto;
		position: absolute;
		bottom: 45px;
		right: 0;
		font-size: 2.8em;
		font-weight: 500;
		color: white;
		text-shadow: 1px 1px 5px rgba(0,0,0,.5);
		line-height: 70px;
		padding: 5px;
		width: 100px;
		text-align: center;
		@include trans-bg(#16b029,.8);
		@include border-radius(5px);

		&.award {
			@include trans-bg(#ff7f00,.7);

			&:hover {
				@include trans-bg(#ff7f00,.9);
			}
		}		
		&.excellent {
			@include trans-bg($c-excellent,.7);
			
			&:hover {
				@include trans-bg($c-excellent,.9);
			}
		}
		&.good {
			@include trans-bg($c-good,.7);

			&:hover {
				@include trans-bg($c-good,.9);
			}
		}
		&.average {
			@include trans-bg($c-average,.7);

			&:hover {
				@include trans-bg($c-average,.9);
			}
		}
		&.bad {
			@include trans-bg($c-bad,.7);

			&:hover {
				@include trans-bg($c-bad,.9);
			}
		}
		
		span {
			
		}

		.label {
		    display: block;
		    font-family: Roboto;
		    font-size: 0.25em;
		    text-transform: uppercase;
		    font-weight: 500;
		    color: #fff;
		    text-align: center;
		    line-height: 1.3;
		    padding: 3px 0 7px;

		    @include break(mobile){
		    	display: none;
		    }
		}

		@include break(mobile){
			width: initial;
			bottom: 10px;
			right: 10px;
			font-size: 1.7em;
			line-height: 60px;
			padding: 0 15px;
			@include border-radius(4px);
		}	
	}
}