body.home {
  #dk_menu {
	  height: 38px;
  }
  header .menu .wrapper > ul > li a.active {
	line-height: 38px;
		&:after {
			margin-top: -5px;
		}
  }
  
  #content {
    .wrapper {
		@include break(v-mobile){
			padding: 15px 0;
		}
      padding: 30px 0 30px;
      .col-2-3 {
	      width: 70%;
	      @include break(tablet){
		      @include col(2,3,2);
		      @media screen and (orientation:portrait) { 
				 width: 100%;
		     }
	      }
	      @include break(mobile){
			  width: 100%;
			  .wrapperMobileOnly {
				  width:  94%;
				  padding: 0 3%;
			}
			
		}

      }
    }
    
    #sidebar {
      padding-top: 5px;
      width: 305px;
	    @include break(tablet){
			    width: 32%;
			     @media screen and (orientation:portrait) { 
					 display: none;
			     }
			    
		}
    }
    
  }
}