@font-face {
	font-family: ModernPictogramsNormal;
	src: url("css/modernpics-webfont.ttf");
	src: url("//cdn2.content.compendiumblog.com/uploads/user/c3298d12-9686-4af0-9362-5ef0b75e1e6b/dd98e6d8-d794-4b70-b66d-5ea44e2e9a9d/File/abc2a1ddc38162d08502d3859369e78b/modernpics_webfont.ttf");
	font-weight: lighter !important;
	font-style: normal;
}