input[type=text],
input[type=password] {
	width: 100%;
	background: white;
	border: none;
	font-size: 0.65em;
	font-style: normal !important;
	line-height: 1.5;
	padding: 6px 8px;
	@include outer-glow(3);
	@include border-radius(2px);
	
	&:focus {
		outline: none;
	}	
}

input[type=submit] {
	display: inline-block;
	background: $blue;
	line-height: 14px;
	padding: 5px 16px;
	color: white;
	text-align: center;
	border: none;
	font-weight: 500;
	font-size: .6em;
	text-transform: uppercase;
	@include border-radius(2px);

	&:hover {
		background: lighten($blue,8%);
	}
	&:active {
		position: relative;
		top: 1px;
	}
}

.button {
	display: inline-block;
	text-align: center;
	line-height: 35px;
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	font-size: .85em;
	
	@include border-top-left-radius(12px);
	@include border-bottom-right-radius(12px);
	@include border-top-right-radius(2px);
	@include border-bottom-left-radius(2px);
	
	&.padded {
		padding: 0 70px;
	}
	
	&.orange {
		@include gradient(#f68e25,#f4761f);
	}
	
	&.purple {
		@include gradient(#9b448c,#843d77);
	}	
}