body.interior {
	#header-ts .menu .wrapper > ul > li a.active {
		height: 47px !important;
		line-height: 42px;
		&:after {
			margin-top: -4px;
		}
	}
	
	#header-ts .menu .wrapper > ul > li a.activeFirst {
		height: 42px!important;
		&:after{
			margin-top: -1px;
		}
	}
	
	.score {
		font-family: $f-helvetica-roboto !important;
	}
	.ShowOnly {
		max-width: 660px;
		width: 96%;
		float: left;
		ul li {
			width: 96%;
			height: 40px;
			line-height: 40px;
			background: white;
			margin: 10px 0px;
			font-weight: 500;
			padding-left: 20px;
			border: 1px solid rgba(202,206,207,0.72);
			a {
				display: block;
				text-decoration: none;
			}
			&.red a {
				color: $red;
			}
			&.green a {
				color: $green;
			}
		}
	}

	&.dark {
		.cta {
			background-color: #333c46 !important;
		}

		#content {
			background: #1e2933 !important;

			#content-header {
				background-color: #333c46;

				h1 {
					color: #fff !important;
				}

				h2, em, em a {
					color: #eee !important;
				}
			}

			p {
				color: #eee !important;

				a {
					box-shadow: inset 0 -2px 0 #FBBB76;
					padding-bottom: 1px;

					&:hover {
						box-shadow: inset 0 -2px 0 #FBBB76;
						padding-bottom: 1px;
						color: #FBBB76;
					}
				}
			}

			.comment-count-block a span.comment-count {
				color: #629dca;
			}
			.comment-count-block a span.interactions-count {
				color: rgba(98, 157, 202, 0.74);
			}
			.social-share-svg .social-share-text {
				color: #ddd;
			}
			.adContainerNews {
				background: #1e2933 !important;
			}


			.related-query, .related-products {
				h3 {
					color: #eee !important;
				}
				a {
					color: #ccc !important;
				}
			}
		}

		#comments #add-new-comment {
			background-color: !important;
			padding-top: 40px;
		}

		#sidebar ul.teaser-list li a h3 {
			color: #ccc;
		}
	}

	&.news,
	&.product,
	&.download,
	&.trivia, &.trivias {
		.col-2-3{
			width: 69%;

			@include break(big-desk) {
				width: 70%;
			}

			@include break(v-tablet) {
				width: 100%;
			}
			
			@include break(mobile) {
				width: 100%;
				.wrapperMobileOnly {
					width: 94%;
					padding: 0 3%;
				}
			}
		}

		#content {
			.social-column {
				position: relative;
				z-index: 1;
				width: 90px;
				display: inline-block;
				float: left;
				list-style-type: none;

				.social-widget {
					margin: 0;
				}

				@include break(mobile){
					@include col(1,1,0);
					margin-bottom: 25px;
				}
			}
			
			.articleBody {
				//@include col-last(8.15,10,2);
				margin-bottom: 30px;

				@include break(mobile){
					@include col-last(1,1,0);
				}

				blockquote {
					background: #f9f9f9;
					margin: 5px 20px 25px 0px;
					padding: 20px 10px 0px 20px;
					font-size: 0.96em;
					border-left: 3px solid #ccc;
				}

				blockquote.twitter-tweet, twitterwidget.twitter-tweet {
					margin: 7px auto !important;
					margin-bottom: 25px !important;
				}

				iframe {
					&.twitter-tweet {
					margin: 7px auto !important;
					margin-bottom: 25px !important;
					}
				}
			}
			
		}
		
		#sidebar {
			@include break(v-tablet) {
				display: none !important;
				@include col-last(1,3,3);
			}
			@include break(mobile){
				display: none;
			}
		}
	}
	

	&.products-cat {

		/*#AddFilter{
			height: 31px;
			border-bottom: 1px solid $light-grey;
			background: white;
			padding: 0 2%;
			font-size: 0.7em;
			font-weight: 600;
			line-height: 31px;
			overflow: hidden;
			span {
			margin-right: 5px;
			}
			
			ul {
				display: inline;
			li {
				display: inline-bloe;
				margin-right: 2px;
			}
			}
			
		}*/

		.filter_bar {
			background: #fff;
			padding: 8px 12px;
			border: 1px solid #e5e5e5;
			border-top: 0;
			font-size: 11px;

			.pills {
				display: inline;
				padding-left: 2px;
			}

			.sorter {
				float: right;
				font-size: 12px;
				position: relative;
				color: #555;
				text-align: right;
				z-index: 999;

				@include break(v-mobile){
					display: none !important;
				}

				#sorted_by {
					font-weight: bold;
					text-transform: lowercase;
				}

				ul {
					position: absolute;
					display: none;
					right: 0;
					top: 18px;
					width: 120px;
					background: #F4F5F7;
					text-align: left;
					border: 1px solid #ccc;
					border-radius: 2px;
					box-shadow: 0 1px 2px rgba(0,0,0,0.25);
				}

				a {
					color: #333;
					background: none !important;
					padding: 0;
					text-shadow: none !important;
				}

				li {
					background: none;
					display: block;
					border: 0;
					height: 25px;
					line-height: 25px;
					margin: 0;
					padding: 0;

					.smaller {
						font-size: 11px;
					}

					a {
						display: block;
						padding: 0 5px;
						transition: none;

						&:hover {
							background: #32404D !important;
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}

			.filter {
				border-top: 1px solid #e5e5e5;
				margin: 5px -10px -5px;
				height: 30px;
				padding: 0 10px;
				line-height: 30px;
				font-size: 12px;
				background: #f0f0f0;
				position: relative;
				display: none;
				background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0));
				background-image: linear-gradient(top, rgba(255,255,255,0.4), rgba(255,255,255,0));

				.remove {
					position: absolute;
					right: 10px;
					opacity: 0.75;

					&:hover {
						opacity: 1;
					}
				}

				b {
					color: #27333D;
				}

				input, select {
					font-size: 12px;
					font-family: Arial, Helvetica, sans-serif;
				}

				input[type="number"] {
					width: 60px;
					border: 1px solid #9f9fa1;
					text-align: right;
					border-radius: 2px;
				}
			}

			div.active {
				display: block !important;
			}
		}
	}

	.related-query {
		margin: -10px 0 20px;

		h3 {
			font-size: 1.1em !important;
			font-weight: 400;
			padding: 10px 0 15px;
		}

		ul {
			margin: 0 0 35px 0;
			
			li {
				list-style-type: none;
				font-size: 1em;
			}
		}
	}

	.social-share-svg {
		margin-left: 220px;
		float: right;
		font-family: Roboto;
		letter-spacing: -.333px;

		&.article {
			margin-top: 20px;
		}

		.social-share-text {
			float: left;
			font-size: .8em;
			margin: 15px 10px 0 0;
			color: #444;
		}

		.social-share-buttons {
			display: inline-block;
		}

		@include break(v-mobile) {
			margin-left: 0;
			float: none;

			.social-share-text {
				float: none;
			}

			.social-share-buttons {
				margin: 5px 0 0px -8px;
			}
		}

		.resp-sharing-button__link {
			display: inline-block;
			text-decoration: none;
			color: #fff;
			margin: 0.5em;
			cursor: pointer;
		}

		.resp-sharing-button__icon {
			display: inline-block;
			stroke: #fff;
			fill: none;
			svg {
				width: 1em;
				height: 1em;
			}
		}

		.resp-sharing-button {
			border-radius: 5px;
			transition: 25ms ease-out;
			padding: 7px 12px 4px;

			span {
				padding-left: 0.4em;
			}
		}

		.resp-sharing-button__icon--solid {
			fill: #fff;
			stroke: none;
		}
		.resp-sharing-button__icon--solidcircle {
			fill: #fff;
			stroke: none;
		}
		.resp-sharing-button--twitter {
			background-color: #55acee;
			&:hover {
				background-color: #2795e9;
			}
		}
		.resp-sharing-button--facebook {
			background-color: #3b5998;
			&:hover {
				background-color: #2d4373;
			}
		}
		.resp-sharing-button--reddit {
			background-color: #fd7524;
			&:hover {
				background-color: #ff6000;
			}
		}
	}
}

.sorter {
	float: right;
	font-size: 12px;
	position: relative;
	color: #333;
	text-align: right;
	z-index: 1;
	
	&.active {
		ul {
			display: block !important;
		}
	}
	
	#sorted_by {
		text-transform: lowercase;
		font-weight: 600;
		
		&:after {
			margin-left: 4px;
			content:"";
			display: inline-block;
			width: 5px; height: 6px;
			@include triangle(down,#333,4,6);
		}
	}

	ul {
		position: absolute;
		display: none;
		right: 0;
		top: 28px;
		width: 120px;
		background: #F4F5F7;
		text-align: left;
		border: 1px solid #ccc;
		@include border-radius(2px);
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
		box-shadow: 0 1px 2px rgba(0,0,0,0.25);
	}
	
	.arrow {
		width: 10px;
		height: 10px;
		background: url(/images/pf_show_sorter.png);
		display: inline-block;
		zoom: 1; 
		display: inline;
	}

	a {
		color: #333;
		background: none !important;
		padding: 0;
		text-shadow: none !important;
	}
	
	li {
		background: none;
		display: block;
		border: 0;
		height: 25px;
		line-height: 25px;
		margin: 0;
		padding: 0;
		
		.smaller {
			font-size: 11px;
		}
	
		a {
			display: block;
			padding: 0 5px;
			-webkit-transition: none;
			-moz-transition: none;
			-ms-transition: none;
			-o-transition: none;
			transition: none;
			
			&:hover {
			background: #32404D !important;
			color: #fff;
			text-decoration: none;
			}	
		}	
	}	
}

#ShowingFilter {
	height: 33px;
	border-bottom: 1px solid $light-grey;
	background: white;
	padding: 0 2%;
	font-size: 0.7em;
	font-weight: 600;
	line-height: 33px;
	
	span {
		margin-right: 5px;
	}
	
	ul {
		display: inline;
		li {
			display: inline-block;
			margin-right: 2px;
		}
	}
	
}


//Clase principal del slide
body.interior.slide-article {
	background: #1e2933;

	#GlobalWrapper {
		background: #1e2933;	
	}
	#content{
		background: #1e2933;
		.wrapper{
			padding: 20px 0 20px;
			.comment-count-block, .page-nav {
				display: none;
			}
		}
	}
	//#comments{background: #fff;}

	//Slide
	.slide-image{padding: 0 0 25px;}

	.owl-controls{
		width: 58%;
		@include break(mobile) {
			width: 100%;
			display: none;
		}
	}

	#grid-below{
		background: #ccc;
		padding: 25px 0 50px;

		&.hasComments {
			padding: 25px 0 25px;
		}

		@include break(mobile){
			padding: 1px 0 !important;
		}
	}
	
	#masthead{
		min-height: 336px;
		
		.wrapper{
			padding: 0;
			ul li { border-color: #ffffff !important; }
		}
		
		.featured-posts-title {
			h1 { color: #1e2833; }
		}

		@include break(mobile) {
			width: 100%;
			overflow: auto;
			min-height: inherit;

			.wrapper{
				width: 100%;
			}
		}
	}

	//Owl slide
	.addRelativeM{ position: relative; }
	.slideArticle{ position: relative; }

	.title-group {

		.slideShowTitle{
			font-weight: 500; font-size: 2.4em; letter-spacing: -0.333px;
			margin: 15px 0 0; position: relative; padding-right: 185px;
			color: #fff;

			@include break(mobile) {
				margin: 10px 0 0;
				padding-right: 0;
				font-size: 1.75em;
			}
			@include break(v-mobile) {
				font-size: 1.5em;
			}
		}

		em {
			font-style: normal;
			font-size: .7em;
			line-height: 30px;
			color: #ccc;

			@include break(v-mobile) {
				font-size: .65em;
			}

			a {
				color: #ccc;
				font-weight: 500;
				padding-bottom: 3px;	

				&:hover {
					border-bottom: 1px solid #ff7f00;
				}
			}
		}
	}

	.owlNavArea{
		display: block; position: absolute; top: 0; right: 0; margin-top: -50px; margin-right: 2%;
		.btnNav{
			display: block; float: left; width: auto; height: auto;
			@include mxAnim; cursor: pointer;
			padding: 5px 10px; height: 15px;
			background: #105ab2; /* Old browsers */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#105ab2), color-stop(100%,#154c8f)); /* Chrome,Safari4+ */
			background: linear-gradient(to bottom, #105ab2 0%,#154c8f 100%); /* W3C */
			
			img{width: auto; height: 100%; vertical-align: top; background: none!important;}
			
			&.alL{
				img{-webkit-transform: rotate(180deg); transform: rotate(180deg);}
			}//alL
			&.alO{margin-right: 10px;}
			
			&:hover{
				background: #154c8f; /* Old browsers */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154c8f), color-stop(100%,#154c8f)); /* Chrome,Safari4+ */
				background: linear-gradient(to bottom, #154c8f 0%,#154c8f 100%); /* W3C */
			}//hover
			
			&:active{
				background: #154c8f; /* Old browsers */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154c8f), color-stop(100%,#105ab2)); /* Chrome,Safari4+ */
				background: linear-gradient(to bottom, #154c8f 0%,#105ab2 100%); /* W3C */
			}
			
		}//btnNav
		.owlCount{
			display: block; float: left; height: 25px; line-height: 25px;
			font-weight: 500; font-size: 14px; text-align: center; width: 67px; color: #fff;
		}//owlCount
		
		@include break(mobile) {
			position: relative; margin-left: auto; margin-right: auto; margin-top: 0;
			display: inline-block;
			padding: 0 0 20px;
		}
		
	}//owlNavArea

	.col-2-3-last.special .articleBody{
		&.slideArticle{
			width: 100% !important;
			margin-top: 25px;
			
			@include break(mobile) {
				margin-top: 15px;
			}

		}
	}

	.slideshow{
		margin-left: 0%!important; opacity: 0;
		
		.owl-item > li{
			list-style: none!important;
			font-size: 0.85em; font-weight: 300;
			
			.slide-image{
				display: block; float: left; width: 58%;
				margin: 0 3% 0 0; padding: 0; position: relative;

				@include break(mobile) {
					margin: 0 0 20px 0;
				}

				img{width: 100%; height: auto;}
				
				&:after{
					-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
					box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
					position: absolute; top: 0; left: 0;
					width: 100%; height: 100%; content: "";
				}//after
			}//slide-image
			
			h2 {
				padding: 5px 100px 20px 63%;
				font-size: 1.8em;
				line-height: 1em;
				color: #fff;
				text-decoration: none;

				a {
					color: #fff;

					&:hover {
						color: #fff;
						border-bottom: 1px solid #ff7f00;
					}
				}
			}
			
			p {
				padding: 0 2% 15px 63% !important;
				font-size: 1.15em;
				font-weight: 400;
				line-height: 1.4em;
				color: #fff !important;
				text-align: justify;
			
				@include break(tablet) {
					p { padding: 0 0 15px 60% !important; }
				}

				@include break(mobile) {
					font-size: 1.1em;
					margin: 0 0 15px 0 !important;
				}

				a {
					box-shadow: inset 0 -2px 0 #FBBB76;
					padding-bottom: 1px;

					&:hover {
						box-shadow: inset 0 -2px 0 #FBBB76;
						padding-bottom: 1px;
						color: #FBBB76;
					}
				}

				.vm-hook, .itxtrst, .itxtrstspan, .itxtrst span {
						color: #fff !important;
				}
			}
			
			@include break(tablet) {
				.slide-image { margin: 0 2% 0 0; }
				h2 { padding: 5px 100px 10px 60%; }
			}
			
		}//owl-item
		
		@include break(mobile) {
			.owl-item > li{
				.slide-image{float: none; width: 100%; margin: 0 0 10px 0;}
				h2{padding: 5px 100px 10px 0%;}
				p{padding: 5px 0 0 0%!important;}
			}//owl-item
		}
	}//slideshow

	.slideshow > li { list-style: none!important; }

}//slide-article