body.interior {
	#header-ts .menu .wrapper > ul > li a.active {
		height: 47px !important;
		line-height: 42px;
		&:after {
  			margin-top: -5px;
  		}
	}
	
	#header-ts .menu .wrapper > ul > li a.activeFirst {
		height: 42px!important;
		&:after{
			margin-top: -2px;
		}
	}
	
	.score {
		font-family: $f-helvetica-roboto !important;
	}
	.ListHeader {
		background: $dark-blue;
		padding: 0px 2%;
		h3{
			color: white;
			line-height: 35px;		
		}
	}
	.ShowOnly {
		max-width: 660px;
		width: 96%;
		float: left;
		ul li {
			width: 96%;
			height: 40px;
			line-height: 40px;
			background: white;
			margin: 10px 0px;
			font-weight: 500;
			padding-left: 20px;
			border: 1px solid rgba(202,206,207,0.72);
			a {
				display: block;
				text-decoration: none;
			}
			&.red a {
				color: $red;
			}
			&.green a {
				color: $green;
			}
		}
	}

	.articleBody {
		font-size: .9em;
		font-weight: 400;
		color: #222;

		@include break(mobile){
			font-size: 0.95em;
		}

	    h2 {
	    	font-weight: 500;
			font-size: 1.8em;
			line-height: 1.4;
	    }
    
		h3 {
	    	font-weight: 500;
			font-size: 1.4em;
			line-height: 1.4;
		}
		
		h4 {
	    	font-weight: 500;
			font-size: 1.25em;
			line-height: 1.4;
		}

		.blue {
			color: $blue !important;
		}
		
		ul {
			margin-left: 5%;
			margin-bottom: 25px;
			font-size: 0.95em;
			li {
				list-style-type: square;
				margin-bottom: 10px;
			}
		}
		
		img {
  			max-width: 100%;
  			background: #f5f5f5;
		}

		img.big {
			/* margin-left: -350px; */
			max-width: none;
			width: 1020px;

			@include break(big-desk){
				width: 1100px;
			}
			
			@include break(v-tablet){
				margin-left: 0 !important;
				max-width: 100%;
				width: 100% !important;
			}
		}

		#news, #feature {
			h3 {
		    	font-weight: 500;
				font-size: 1.5em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
			
			h4 {
				color: $blue;
		    	font-weight: 400;
				font-size: 1.3em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
		}

		.highlights {
			@include col-last(1,2,2);
			margin: 0 0 20px 40px;
			font-size: .95em;
			@include break(mobile){
				display: none;
			}
			h3 {
				color: $dark-grey;
				line-height: 1.5;
				padding: 0 0 15px 0;
				font-size: 1em;
			}
			ul {
				font-size: 0.85em;
				margin-bottom: 0;
				li {
					margin-bottom: 5px;
				}
			}
		}
	
	}
	
	nav.page-nav {
		margin-left: 330px;
		margin-top: -250px;
		@include break(v-tablet){
			//@include col(2,3,0);
			//margin-left: 0px;
		}

		@include break(mobile){
			@include col(1,1,0);
			margin-left: 0px;
			margin-top: 0px;
			float:right;
			padding-bottom: 0px;
		}
		a {
			font-weight: 400;
			font-size: 1.8em;
			span {
				display: block;
				color: #333;
				font-weight: 500;
				position: relative;
				text-transform: none;
				padding-right: 20px;
				font-size: 0.8em;	
			}
			strong {
				display: block;
				color: $blue;
				font-weight: 400;
			}
		}
		.page-nav-wrapper {
			font-size: 1.15em;
			font-weight: 500;
			line-height: 1.3em;
			text-shadow: 1px 1px 4px #444;
			color: white;

			display: table;
			height: 140px;
			overflow: hidden;

			@include break(mobile){
				height: 120px;
			}
			
		}
		.page-nav-interior {
			display: table-cell; 
			vertical-align: middle;
		}
		&.prev-next {
			a {
				line-height: 140px;
				background: white;
				font-size: 0.8em;
				color: #666666;
				@include border-radius(2px);

				&.prev, &.next{
					&:hover {
						span {
							background-color: rgba(16, 90, 178, 0.9);
							@include transitions(0.2s);
						}
					}
				}

				&.prev{
					&:hover {
						span {
							&:after {
								@include triangle(left,#ff7f00,8,10);
								@include transitions(0.2s);
							}
						}
					}
				}

				&.next{
					&:hover {
						span {
							&:after {
								@include triangle(right,#ff7f00,8,10);
								@include transitions(0.2s);
							}
						}
					}
				}
				
				&.prev {
					/* background: url('http://www.techspot.com/images2/news/ts3_thumbs/2014-08-18-ts3_thumbsfeb.jpg'); */
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					@include col(1,2,3);
					
					span {
						background-color: rgba(16, 90, 178, 0.8);
						/* background: #B2B9BE; */
						@include border-radius(1px);
						height: 90px;
						line-height: 90px;
						@include transitions(0.1s);
						@include col(1,6,0);
						&:after {
								right: 0;
								top: 50%;
								content:"";
								display: block;
								position: absolute;
								width: 8px; height: 10px;
								@include triangle(left,white,8,10);
						}
						@include break(mobile){
							font-size: 0;
							height: 120px;
						}
					}
					strong {
						background: linear-gradient(to bottom, rgba(31,41,51,0.1) 10%, rgba(31,41,51,0.72) 70%);
						@include col-last(5,6,0);
						height: 90px;
						@include break(mobile){
							height: 120px;
						}
					}
					.page-nav-wrapper {
						height: 90px;
						@include break(mobile){
							height: 120px;
						}
					}

					@include col(1,1,3);
					margin-bottom: 30px;
					@include break(v-tablet){
					}

					@include break(mobile){
						@include col(1,2,3);
						margin-bottom: 0px;
					}
					
				}
				
				&.next {
					/* background: url('http://www.techspot.com/images2/news/ts3_thumbs/2014-08-18-ts3_thumbsfeb.jpg'); */
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					/* @include col-last(1,2,3); */
					@include col(1,1,3);
					margin-bottom: 20px;

					span {
						background-color: rgba(16, 90, 178, 0.8);
						/* background: #B2B9BE; */
						@include border-radius(1px);
						@include col-last(1,6,0);
						&:after {		
								left: 0;
								top: 50%;
								content:"";
								display: block;
								position: absolute;
								width: 8px; height: 10px;
								@include triangle(right,white,8,10);
						}
						&:hover {
						}
						@include break(mobile){
							font-size: 0;
							height: 120px;
						}
					}
					strong {
						background: linear-gradient(to bottom, rgba(31,41,51,0.1) 10%, rgba(31,41,51,0.72) 70%);
						@include col-last(5,6,0);
						height: 140px;
						@include break(mobile){
							height: 120px;
						}
					}

					@include break(v-tablet) {
					}

					@include break(mobile){
						@include col-last(1,2,3);
					}
				}
				
				span {
					font-weight: 400;
					padding: 0;
					text-align: center;
					color: white;
					background: #676767;
					
					&:after {
						//display: none;
						margin-top: -7px;
					}
				}
				
				strong {
					line-height: 155%;
					text-align: left;
					padding: 0 16px 0 16px;
					color: #555;
					font-size: 0.9em;

					@include break(mobile){
						line-height: 125%;
						font-family: Roboto Condensed;
						font-size: 0.85em;
					}
				}
								
			}
			
		}
	}

	&.white {
		#content {
			background: white;

			@include break(mobile) {
				font-size: .95em;

				#new_social_box {
					display: none !important;
				}
			}
		}
		
		h2 {
			font-size: 1.6em;
			line-height: 2;
			font-weight: 600;

			@include break(mobile) {
				font-size: 1.5em;
				line-height: 1.3;
				padding: 10px 0;
			}
		}
	}


	&.category {
		article {
			h2 {
				font-size: 20px;
				font-weight: bold;
			}
			.byline {
				font-size: 12px;
			}
			p {
				font-size: 14px;
			}
		}

		#content-header {
			background-color: white;
			
			.wrapper {
				padding: 25px 0 35px;

				@include break(mobile) {
					width: 96%;
				}
			}
			
			.title-group {
				margin-top: 25px !important;

	      	  	figure {
		      	  	float: left !important;
		      	  	padding-right: 10px;
	      	  	}
				
				h1.large {
					font-weight: 500;
					font-size: 2.4em; 
			        line-height: 1.2;
			        letter-spacing: -0.333px;
			        padding-bottom: 10px;
			        @include break(mobile) {
				        margin-top: 0;
				        font-size: 1.9em;
			        }
			        @include break(v-mobile) {
				        font-size: 1.6em;
			        }
				}

	        	h2 {
		          	font-size: 0.9em;
		          	font-weight: 300;
	        	}
			}
		}
	}


	&.download-index {
		#content {
			.wrapper{
		        .col-2-3 {
					@include break(mobile) {
			        	width: 96%;
						margin: 0 2%;
		        	}
		        }
			}
			h1 {
				color: #1e2833;
				font-weight: 500;
				font-size: 2em;
				line-height: 1.4;
				margin-top: 15px;
				letter-spacing: -0.333px;
					@include break(mobile) {
			        	font-size: 1.6em;
		        	}
			}

			.page-intro {
				font-size: 0.8em;
				font-weight: 300;
				margin: 10px 0;
			}

			.downloads-table {
				margin: 15px auto 25px;
				color: #05408F;
				font-size: 0.9em;
				width: 100%;

				@include break(v-mobile) {
					margin: 25px auto;
				}

				td {
					height: 48px;
				}

				h2 {
					line-height: 35px;
					font-weight: 500;
					padding-left: 12px;

					@include break(v-mobile) {
			        	font-size: .85em;
			        	line-height: 1.2;
			        	padding-left: 7px;
		        	}

					a {
						&:hover {
							border-bottom: 1px solid #3470AA;
							padding-bottom: 1px;
						}
					}
				}
			}

			h3 {
				color: #c00;
			}
		}
	}

	&.download-index,
	&.download {
		.downloads-list {
			padding: 35px 0 0;

			.subcats {
				margin-top: -20px;
				padding: 0 0 25px 2px;

				h4 {
					font-weight: 400;
					font-size: 0.7em;
					line-height: 1.8;
				}

				ul {
					font-size: 0.95em;
					li {
				    	margin-bottom: 5px;
				    }
				}
			}

			ul {
			  list-style-image: none;
			  list-style-type: none;
			  font-size: 13px;
			  margin: 0;
			  padding: 0;

			  li {
			    margin-bottom: 25px;
			    line-height: 22px;

			    .title {
				      a {
				        color: #05408f;
				        font-weight: 500;
						font-size: 1.5em;

						&:hover {
							border-bottom: 1px solid #3470AA;
							padding-bottom: 1px;
						}
				      }
			    }

			    .bio {
			    	line-height: 1.6;
					padding: 3px 0;
					font-weight: 400;
					color: #333;
			    }

			    i {
			      font-style: normal;
			      color: #555;
			    }

				.download_rating {
					float: right;
					width: 100px;
					padding: 12px 0 0 10px;
					min-height: 40px;
					line-height: 1.7;
					font-size: .9em;
				}

			  }
			}

			.subdown {
			  list-style-type: none;
			  font-size: 12px;
			  font-weight: 400;
			  color: #888;
			  li {
				display: inline;
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: #bbb;
				padding-left: 14px;
				padding-right: 14px;
				&.left {
				  padding-left: 0px;
				}
				&.right {
				  border: none;
				}
				&.wide {
				  width: 25% !important;
				}
			  }

			  &.drivers {
			  	background: white;
				font-size: 13px;
			  	margin: 8px 20px 2px 0px;
				padding: 8px 5px;
				border: 1px solid #eee;

				li {
					display: inline-block;
					margin-bottom: 0;
					text-align: center;
					width: 19%;
					border-right-color: #ddd;
				}
			  }

			}

		/*
			.sorter {
			  p {
			  	padding: 0;
			  }
			  p a:hover {
			    background-color: #27333D;
			    text-decoration: none;
			  }
			  float: right;
			  font-size: 12px;
			  position: relative;
			  color: #333;
			  text-align: right;
			  z-index: 999;
			  #sorted_by {
			    font-weight: bold;
			    text-transform: lowercase;
			  }
			  ul {
			    position: absolute;
			    display: none;
			    right: 0;
			    top: 18px;
			    width: 120px;
			    background: #F4F5F7;
			    text-align: left;
			    border: 1px solid #ccc;
			    @include border-radius(2px);
			    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			  }
			  .arrow {
			    width: 10px;
			    height: 10px;
			    background: url(http://static.techspot.com/images/pf_show_sorter.png);
			    display: inline-block;
			    zoom: 1;
			    *display: inline;
			  }
			  a {
			    color: #333;
			    background: none !important;
			    padding: 0;
			    text-shadow: none !important;
			  }
			  li {
			    background: none;
			    display: block;
			    border: 0;
			    height: 25px;
			    line-height: 25px;
			    margin: 0;
			    padding: 0;
			    .smaller {
			      font-size: 11px;
			    }
			    a {
			      display: block;
			      padding: 0 5px;
			      -webkit-transition: none;
			      -moz-transition: none;
			      -ms-transition: none;
			      -o-transition: none;
			      transition: none;
			      &:hover {
			        background: #32404D !important;
			        color: #fff;
			        text-decoration: none;
			      }
			    }
			  }
			}
			*/
		}
	}

	&.news,
	&.product,
	&.download {
		#content-header {
			background-color: white;
			
			.wrapper {
				padding: 25px 0 50px;

				@include break(mobile) {
					width: 96%;
				}
			}
			
			.title-group {
				
				h1.large {
					font-weight: 500;
					font-size: 2.4em;
			        line-height: 1.35;
					margin: 15px 0 5px;
			        letter-spacing: -0.333px;

			        @include break(mobile) {
				        margin: 0;
				        font-size: 1.9em;
			        }
			        @include break(v-mobile) {
				        font-size: 1.6em;
				        line-height: 1.3;
			        }
				}

				h1.medium {
					font-weight: 500;
					font-size: 1.9em;
			        line-height: 1.4;
			        letter-spacing: -0.333px;
			        @include break(mobile) {
				        margin-top: 0;
				        font-size: 1.75em;
			        }
			        @include break(v-mobile) {
				        font-size: 1.5em;
			        }
				}

				em {
					font-style: normal;
					font-size: .7em;
					line-height: 30px;
					color: black;

			        @include break(v-mobile) {
				        font-size: .65em;
			        }

					a {
						color: black;
						font-weight: 500;
						border-bottom: 1px solid #ccc;
						padding-bottom: 3px;	
            
			            &:hover {
			              border-bottom: 1px solid #ff7f00;
			            }
					}

					span.sponsored {
						background-color: #495693;
						margin: 0 4px 0 0;
						padding: 4px 10px;
						text-align: center;
						color: white;
						font-weight: 600 !important;
					}

				}
			}
			
		}
		.col-2-3{
			width: 69%;
			@include break(v-tablet) {
				width: 100%;
			}
			
			@include break(mobile) {
				width: 100%;
				.wrapperMobileOnly {
					width:  94%;
					padding: 0 3%;
				}
			}
		}

		#content {
			img.intro-image {
				margin-top: -52px;
				margin-bottom: 30px;
				width: 100%;
				height: auto;
				border: 1px solid #f5f5f5;

				@include break(mobile){
					border: none;
					margin-bottom: 25px;
				}
			}
			
			.social-column {
				position: relative;
				z-index: 1;
				@include col(1.85,10,0);
				@include break(mobile){
					@include col(1,1,0);
					margin-bottom: 25px;
				}
				
				.tags {
					width: 60px;
					margin: 25px auto;
					font-size: .7em;
					line-height: 184%;
					@include break(mobile){
						display: none;
					}
					li {
						overflow: visible;
						display: none;
						a {
							color: #AAAAAA;
							font-weight: 400;
						}
						&:nth-child(2) {
							a {
								color: darken(#AAAAAA,30%);
							}
							display: block;
						}
						
						&:nth-child(3) {
							a {
								color: darken(#AAAAAA,15%);
							}
							display: block;
						}
						&:nth-child(4) {
							a {
								color: darken(#AAAAAA,5%);
							}
							display: block;
						}
					}
					&:hover {
						li {
							display: block;
							a {
								color: #000;
							}
						}
					}
					
				}
				
			}
			
			.articleBody {
				@include col-last(8.15,10,2);
				margin-bottom: 30px;
				@include break(mobile){
					@include col-last(1,1,0);
				}

				blockquote {
					background: white;
					margin: 5px 20px 25px 0px;
					padding: 15px 10px 0px 15px;
					border-left: 3px solid #ccc;
				}
			}
			
		}
		
		#sidebar {
			margin-top: -50px;

			@include break(v-tablet) {
				display: none !important;
				@include col-last(1,3,3);
			}
			@include break(mobile){
				display: none;
			}
		}
	}

	&.news {
  		#content {
    		.articleBody {
	      		margin-bottom: 25px;
	      		@include break(mobile) {
		      		margin-bottom: 5px;
	      		}
    		}
    		
    		.social-column {
    		  z-index: 1;
    		  .tags {
      		  	margin: 25px auto 60px;
    		  }
			  .social:hover {
	      		  .SocialHover {
					right: -100px;
					@include break(mobile){
						right: 0 !important;
						top:auto !important;
					}
				}
    		  }
    		}
    		
  		}
  		.col-1-3-last {
	  		@include break(v-tablet){
		  		display: none;
	  		}
	  		.SideRectAd{
			  		padding-top: 40px;
		  		}
  		}
  		#comments{
	  		@include break(mobile){
		  		display: none;
	  		}
  		}
  		#mobComBut {
	  		display: none;
	  		text-align: center;
	  		padding-top: 20px;
	  		padding-bottom: 50px;
	  		background-color: $light-grey;
	  		@include break(mobile){
		  		display: block;
		  	}
  		}
  		.ComBut {
  			font-size: 0.9em;
  			display: block;
	  	 	padding-top: 5px;
	  	 	height: 30px;
	  	 	line-height: 25px;
	  	 	font-weight: 700;
	  	 	font-family: $f-helvetica;
	  	 	border: solid 1px #AAAAAA;
	  	 	@include border-radius(5px);
	  	 	@include gradient-trans($start_color:#1E2933,$start_alpha:0,$end_color:#1E2933,$end_alpha:0.1);
	
			span {
				margin-top: -2px;
				display: block;
			}
	  	 	
	  	 	span.count {
		  	 	background: grey;
				border-radius: 100px;
				min-width: 15px;
				display: inline-block;
				color: white;
				padding-left: 5px;
				padding-right: 5px;
	  	 	}
  		}
	}

	&.download {
    	#content-header {
			.wrapper {
				@include break(mobile){
					padding: 20px 0 10px;
				}
			}
	      	.title-group {
				margin-top: 30px;

				@include break(mobile){
					margin-top: 15px;
				}

				.wrapper {
					padding: 25px 0 35px;
				}

	      	  	figure {
	      	  		width: 100px !important;
		      	  	float: left !important;
		      	  	margin: 0 25px 0 -10px;

		      	  	img {
			      	  	max-width: 100%;
			      	  	max-height: 110px;
		      	  	}

					@include break(mobile){
						margin: 0 15px 0 -10px;
					}

					@include break(v-mobile){
						float: right !important;
		      	  		margin: 0 0 0 10px;
					}
	      	  	}

	        	h1 {
	          		line-height: 120%;
	        	}
	        	
	        	h2 {
	          		font-size: 1em;
	          		font-weight: 300;
	        	}
	      	}
    	}
	}

	&.product {
  		#content-header {
			.wrapper {
			  	padding: 20px 0 50px;

				@include break(mobile){
					padding: 20px 0 10px;
				}
			}

			h1.large {
		        margin: 15px 0 !important;
	        }
		}

    	#content {   	
			#sidebar {
				margin-top: 15px !important;

			  	@include break(v-tablet) {
					display: none;
			  	}
			}

	    	#pros_cons {
				@include break(mobile){
					padding-top: 0px !important;
				}
			}
			#pros_cons.collapsed li:nth-child(n+6){
				display: none;
			}

			@include break(mobile){
				margin-top: 0px !important;
			}

      		.articleBody {
	        	padding-top: 15px;
	        	width: 100%;
	        	float: none;
	        	@include break(mobile){
		        	padding-top: 10px;
	        	}
	        	
	        	h3.section-header {
		          	text-transform: none;
		          	font-size: 2.0em;
		          	font-weight: 600;
		          	line-height: 140%;

		          	@include break(mobile){
			          	font-size: 1.8em;
		          	}
		          	@include break(v-mobile){
			          	font-size: 1.5em;
		          	}
	        	}
	        	
	        	ul.pros,
	        	ul.cons {
	        	  padding: 15px 15px 15px 10px;
	        	  margin-bottom: 0;
	        	  font-size: 0.80em;
	        	  	@include break(v-mobile){
			        	height: inherit !important;
		          	}
		          	li {
	    	      	  list-style-type: none;
	        	  	  position: relative;
	        	  	  margin-bottom: 5px;
	            		line-height: 200%;
	            		padding-left: 10px;
	            	
		            	&:before {
		            	  content:"";
		            	  position: absolute;
		            	  width: 15px; height: 15px;
		            	  left: -15px; top: 5px;
		              	  background-image: url(../images/icons-pros-cons.png);
		                  background-position: center left;
		            	}
	          		}
	          	
	          		&.cons {
		            	li {
			              	&:before {
			              	  background-position: center right;
			              	}
		            	} 
					}
	          	
	        	}
      		}
        
	        a.wide-button {
	        	display: block;
	        	background: #F8F8F8;
	        	line-height: 50px;
	        	text-align: center;
	        	border: 1px solid #DDDDDD;
	        	color: #333;
	        	font-size: 1.1em;

				@include break(mobile){
					font-size: 0.9em;
		        }

	        	&:hover {
		          	background: darken(#F8F8F8,5%);
	        	}
	      	}
        
    	}

    	#sidebar {
      		margin-top: 0;
    	}
	}

	&.products {
		.excellent {
	      background-color: rgba(0,191,23,1);
	    }
	    .good {
		    background-color: rgba(7,91,192,1);
	    }
	    .average {
	      background-color: rgba(112,33,161,1);
	    }
	    .bad {
	      background-color: rgba(204,0,0,1);
	    }
	    .none {
	      background-color: rgba(153,153,153,1);
	      
	    }
	    .alternate {
		    background: white;
	    }
		.col-2-3{
			width: 70%;
			@include break (mobile){
				width: 100%;
			}		
		}
		.SideTitle, .SideProdContent li a{
			color: white;
		}
		
		.post-list-product{
			width: 100%;

			&.pfindex {
				.ProdListInfo {
					h4 {
						margin-top: 14px;
						margin-bottom: 3px;
					}
				}
			}

			article {
				padding: 0px 2%;
				height: 70px;
				font-size: 0.9em;
				font-weight: normal;
				border-bottom: 1px solid #F1F1F1;
				border-top: 1px solid #EAEAEA;

				@include break(v-mobile){
					padding: 5px 0
				}
			}
			.product-img {
				margin-top: 8px;
				float: left;
			    width: 65px;
			    border: 1px solid #DCDCDC;
			    overflow: hidden;
			    text-align: center;
			    height: 50px;
			    line-height: 50px;
			    background: #fff;

				@include break(v-mobile){
					width: 60px;
					margin-right: 8px;
				}
			}
			.ProdListInfo {
				float: left;
				margin-left: 8px;
				max-width: 65%;

				@include break(v-tablet){
					max-width: 55%;
				}
				@include break(mobile){
					max-width: 52%;
				}
				@include break(v-mobile){
					max-width: 100%;
					float: none;
				}

				h4 {
					margin-top: 16px;
					font-size: 0.95em;
					font-weight: 500;
					font-family: $f-helvetica-roboto;

					a {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: block;
					}

					@include break(mobile){
						font-size:1em;
						margin-top: 8px;
					}

					@include break(v-mobile){
						font-size: 0.9em;
						margin-top: 12px;
					}

				}
				.ProdListCat {
					display: inline-block;
					float: left;
				}
				.ProdListCat a {
					font-size: 0.55em;
					text-transform: uppercase;
					margin-top: 2px;
					line-height: 17px;
					background-color: #61798E;
					width: 95px;
					text-align: center;
					font-weight: 800;
					color: white;
					@include border-radius(2px);
					display: block;
					margin-right: 10px;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					@include break(v-tablet){
						width: 80px;
						margin-right: 5px;
					}
					&:hover {
						background-color: darken(#61798E,10%);	
					}
					@include break(mobile){
						font-size: 0.5em;
						margin-top: 4px;
						margin-bottom: 4px;
						
					}
				}
				time {
					font-size: 0.65em;
					color: #666666;
					line-height: 1.7;
					margin-top: 3px;
					display: inline-block;
					float: left;
					@include break(v-tablet){
						font-size: 0.6em;
					}
					@include break(v-mobile){
						position: relative;
					}					
				}
			}
			.prod-meta{
				float: right;
				display: inline-block;
				height: 70px;

				@include break(v-mobile){
					display: none;
				}

				.intRank{
					color:$purple;
					font-weight: 500;
					font-size: 0.7em;
					float: left;
					width: 50px;
					text-align: right;
					margin-right: 18px;
					line-height: 70px;
					@include break(v-tablet){
						display: none;				
					}
				}
				.price{
					color: $red;
					font-weight: 500;
					font-size: 0.75em;
					float: left;
					line-height: 70px;
					@include break(v-tablet){
						display: none;
					}
				}
				.review_score{
					width: 65px;
					margin-top: 7px;
					height: 55px;
					float: right;
					display: inline-block;
					text-align: center;
					@include border-radius(3px);
					
					@include break(v-mobile){
						width: 60px;
					}

					.score {
						color: white;
						line-height: 40px;
						font-size: 1.6em;
						font-weight: 500;
					}
					.review{
						color: white;
						font-size: 0.6em;
						line-height: 5px;
						display: block;
					}
				}
				
			}
		}
		#LookUpMobile {
			display: none;
			margin-bottom:20px;
			text-decoration: none;

			@include break(mobile){
				display: block;
			}

			.SideTitle{
				line-height: 31px;
				background-color: $blue;
				padding: 0px 14px;

				@include break(v-tablet){
					padding: 0px 10px;
				}
			}

			h3{
				color: white;
				line-height: 35px;
				font-family: Roboto Condensed;
				font-size: 0.9em;
			}

			input[type=text] {
				border: none;
				height: 45px;
				width: 100%;
				border-radius: 0;
				border: none;
				box-shadow: none;
				font-family: "Roboto Condensed", sans-serif;
				line-height: 30px;
				font-size: 0.9em;
				font-weight: 500;
				padding: 0px 2%;
				color: #333;
			}
		}

		#CategoryListMobile {
			background: #304456;
			margin-bottom: 20px;
			display: none;
			width: 100%;
			text-transform: uppercase;
			font-family: "Roboto Condensed", sans-serif;
			color: white;
			font-size: 0.7em;
			@include break(v-tablet){
				font-size: 0.6em;
			}
			#CategoryList{
				background: #304456;
			}
			li {
				padding: 0px 0px;
				line-height: 40px;
				border: 1px solid #ddd;
				a {
					color: white;
					display: block;
					width: 100%;
					text-decoration: none;
				}
				.arrow {
					opacity: 0;
				}				
			}
			.SideTitle{
				line-height: 31px;
				background-color: $blue;
				padding: 0px 15px;
				@include break(v-tablet){
					padding: 0px 10px;
				}
				.arrow {
					@include triangle(down,white,4,6);
					@include transitions(0.1s);
					float: right;
					margin-right: 4px;
					margin-top: 12px;
					opacity: 1;
				}
			}
			.has_more{
				.SideTitle{
					.arrow{
					@include triangle(left,white,4,6);
					@include transitions(0.1s);
					float: right;
					margin-top: -18px;
					}
				}
				.SideProdContent{
					display: none;
				}
			}
			.open{
				.SideTitle{
					.arrow{
  					@include triangle(down,white,4,6);
  					@include transitions(0.1s);
  					float: right;
  					margin-top: -18px;
					}
				}
				.SideProdContent{
					display: block;
				}
			}
			.col-1-2 {
				width: 45%;
				
			}
			.col-1-2-last{
				width: 45%;
				
			}
			.SideProdContent {
				padding: 17px;
				@include break(v-tablet){
						padding: 10px 0px 10px 10px;
				}
				background-color:#324455;
				li {
					line-height: 10px;
					margin-bottom: 14px;
					border: none;
					a {
						.arrow {
						margin: 0 !important;
						opacity: 0;
						position: absolute;
						left: -10px;
						width: 6px; height: 4px;
						@include triangle(right,$orange,4,6);
						
						}
					}
					a:hover,
					a.active {
						.arrow {
  						margin: 0 !important;
  						opacity: 1;
  						left: -10px;
  						width: 6px; height: 4px;
  						@include triangle(right,$orange,4,6);
						}
					}
				}
			}
			.computer-hardware {
				height: 185px;
			}
			.pcs-laptops-tablets {
				height: 40px;
			}
			.electronics {
				height: 110px;
			}

			@include break(mobile){
				display: block;
			}
		}
		#sidebar {
			@include break(mobile){
				display: none;
			}
			@include col-last(1,3,0);
			width: 27%;
			.SideTitle{
				line-height: 31px;
				background-color: $blue;
				padding: 0px 17px;
				@include break(v-tablet){
					padding: 0px 10px;
				}
			}

			.tab_box {
				margin-bottom: 21px;
			}

			.has_more{
				.SideTitle{
					.arrow{
					@include triangle(left,white,4,6);
					@include transitions(0.1s);
					float: right;
					margin-top: -18px;
					}
				}
				.SideProdContent{
					display: none;
				}
			}
			.open{
				.SideTitle{
					.arrow{
  					@include triangle(down,white,4,6);
  					@include transitions(0.1s);
  					float: right;
  					margin-top: -18px;
					}
				}
				.SideProdContent{
					display: block;
				}
			}
			.col-1-2 {
				width: 45%;
				@include break(v-tablet){
					width: 48%;
				}
				
			}
			.col-1-2-last{
				width: 45%;
				
			}
			#LookUp {
				text-transform: uppercase;
				font-family: "Roboto Condensed", sans-serif;
				font-size: 0.7em;
				@include break(v-tablet){
					font-size: 0.6em;
				}
				a {
					color: white;
					text-decoration: none;
				}

				input[type=text] {
					border: none;
					height: 64px;
					border-radius: 0;
					border: none;
					box-shadow: none;
					font-family: "Roboto Condensed", sans-serif;
					line-height: 64px;
					font-size: 2em;
					font-weight: 500;
					padding: 0px 12px;
					color: #333;
					
					&::-webkit-input-placeholder { /* WebKit browsers */
			            color:    #DFDFD0;
			          }
			          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			              color:    #DFDFD0;
			          }
			          &::-moz-placeholder { /* Mozilla Firefox 19+ */
			              color:    #DFDFD0;
			          }
			          &:-ms-input-placeholder { /* Internet Explorer 10+ */
			              color:    #DFDFD0;
			          }
					
					@include break(v-tablet){
						padding: 0px 10px;
					}
				}
				margin-bottom: 21px;
				
			}
			#CategoryList {
				margin-bottom: 21px;
				text-transform: uppercase;
				font-family: "Roboto Condensed", sans-serif;
				font-size: 0.7em;
				@include break(v-tablet){
					font-size: 0.6em;
				}
				a {
					color: white;
					text-decoration: none;
				}

			}
			.SideProdContent {
				padding: 17px;
				@include break(v-tablet){
						padding: 10px 0px 10px 10px;
				}
				background-color:#324455;
				li {
					line-height: 10px;
					margin-bottom: 14px;
					a {
						.arrow {
						margin: 0 !important;
						opacity: 0;
						position: absolute;
						left: -10px;
						width: 6px; height: 4px;
						@include triangle(right,$orange,4,6);
						
						}
					}
					a:hover,
					a.active {
						.arrow {
  						margin: 0 !important;
  						opacity: 1;
  						left: -10px;
  						width: 6px; height: 4px;
  						@include triangle(right,$orange,4,6);
						}
					}
				}
			}
			.computer-hardware {
				height: 185px;
			}
			.pcs-laptops-tablets {
				height: 40px;
			}
			.electronics {
				height: 110px;
			}
		}
	}
	

	&.products-cat {

		#AddFilter{
			height: 31px;
			border-bottom: 1px solid $light-grey;
			background: white;
			padding: 0 2%;
			font-size: 0.7em;
			font-weight: 600;
			line-height: 31px;
			overflow: hidden;
			span {
  			margin-right: 5px;
			}
			
			ul {
			  display: inline;
  			li {
    			display: inline-bloe;
    			margin-right: 2px;
  			}
			}
			
		}
	}


	&.features, &.reviews, &.reviews-cat, &.features-cat {

		.col-2-3{
			@include col-last(2,3,0);
			width: 80%;
			//padding: 0px 2% 0px 0px;
			@include break(mobile){
				width: 100%;
				padding: 0;		
				.wrapperMobileOnly {
					@include break(mobile){
						width: auto;
						margin-top: 15px;
					}
				}
			}
		}
		.category {
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					h3 {
						line-height: 1.5;

						@include break(v-mobile){
							font-size: 0.9em;
						}
					}
					p {
						font-weight: 400;
						font-size: .6em;
						color: #666;
						padding: 2px 0 !important;
					}
					.desc {
						font-size: .75em;
						padding: 5px 0 !important;
						font-weight: 400;
						color: #333; 
						@include break(mobile){
							display: none;
						}
					}
					.more_info {
						float: right;
						right: 20px;
						top: 25px;
						@include break(mobile){
							display: none;
						}
						@include break(v-mobile){
							right: 2%;
							top: 19px;
						}
						position: absolute;
						.excellent {
					      background-color: rgba(0,191,23,1);
					    }
					    .good {
						    background-color: rgba(7,91,192,1);
					    }
					    .average {
					      background-color: rgba(112,33,161,1);
					    }
					    .bad {
					      background-color: rgba(204,0,0,1);
					    }
					    .none {
					      background-color: rgba(153,153,153,1);
					      
					    }
						.score {
							font-size: 1.5em;
							color: #fff;
							text-align: center;
							font-weight: 500;
							height: 55px;
							line-height: 55px;
							width: 65px;
							@include border-radius(2px);
							text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
						}
					}
					min-height: 130px;
					border-bottom: 1px solid #E5E5E5;
					position: relative;
				}
				.alternate {
					background-color: white;
				}
				.info {
					position: absolute;
					opacity: 1;
					left: 15px;
					margin-top: 5px;
					@include break(mobile){
						left: 3%;
					}
					/*
					@include break(v-mobile){
						position: relative;
						width: 100%;
						left: 0;
					}
					*/
				}
				.img{
					width: 180px;
					height: 120px;
					line-height: 120px;
					text-align: center;
					overflow: hidden;
					@include break(v-mobile){
						width: 150px;
						height: 100px;
					}
					/*
					@include break(v-mobile){
						width: 100%;
						height: auto;
						margin-bottom: 5px;
						img {
							width: 100%;
							height: auto;
						}
					}
					*/
				}
			}
		}
		#review {
			ul {
				li {
					padding: 20px 100px 20px 215px; 
					@include break(mobile) {
						padding: 14px 20px 14px 215px; 
					}
					@include break(v-mobile) {
						padding: 12px 15px 12px 180px;
					}
					/*@include break(v-mobile){
						padding: 14px 14px 14px 14px; 
					}*/
				}
			}
		}
		#features {
			ul {
				li {
					padding: 20px 20px 20px 215px; 
					@include break(mobile){
						padding: 14px 20px 14px 215px; 
					}
					@include break(v-mobile) {
						padding: 12px 15px 12px 180px;
					}
					/*@include break(v-mobile){
						padding: 14px 14px 14px 14px; 
					}*/
				}
			}
		}
		#sidebar{
			@include col(1,3,0);
			width: 16%;
			text-transform: uppercase;
			font-family: "Roboto Condensed", sans-serif;
			font-size: 0.7em;

			@include break(mobile){
				width: 100%;
				padding: 10px 3% 0px 3%;
				display: block !important;
			}
			.has_more{
				.SideTitle{
					.arrow{
					@include triangle(left,white,4,6);
					@include transitions(0.1s);
					float: right;
					margin-top: -19px;
					display: none;
					@include break(mobile){
						display: block;
					}
					}
				}
				.sub{
					@include break(mobile){
					display: none;
					}
				}
			}
			.open{
				.SideTitle{
					.arrow{
  					@include triangle(down,white,4,6);
  					@include transitions(0.1s);
  					float: right;
  					margin-top: -18px;
  					display: none;
  					@include break(mobile){
						display: block;
					}
					}
				}
				.sub{
					display: block;
				}
			}
			#CategoryList{
				background: #304456;
				li {
				padding: 0px 15px;
				@include break(v-tablet){
				padding: 0px 10px;
				}
				line-height: 40px;
				a {
					color: white;
					display: block;
					width: 100%;
					text-decoration: none;
				}
				.arrow {
					opacity: 0;
				}
				&:hover,
				&.active {
					background: white;
					a {
						color: black;
					}
					.arrow{
					@include triangle(right,$orange,4,6);
					@include transitions(0.1s);
					float: right;
					margin-top: 15px;
					opacity: 1;
					}
				}
				
			}
			}
			.SideTitle{
				line-height: 31px;
				background-color: $blue;
				color: white;
				padding: 0px 15px;
				margin-top: -5px;
				@include break(v-tablet){
					padding: 0px 10px;
				}
				.arrow {
					@include triangle(down,white,4,6);
					@include transitions(0.1s);
					float: right;
					
					margin-top: -18px;
					opacity: 1;
				}
			}
		}
	}


	.comment-count-block {
		background-image: url(../images/icon-comments-lg.svg);
		background-repeat: no-repeat;
		background-position: left 5px;
		height: 42px;
		overflow: visible;

		&.features {
			font-size: 0.8em;
			font-weight: 400;
			line-height: 2 !important;
			height: 100px;

			@include break(mobile) {
				height: 42px;
				margin-bottom: 15px;
			}
			
			.count {
				font-size: 1.2em;
				font-weight: 500;
			}

			a {
				display: inline;
				padding-left: 0;
			}

			ul {
				li {
					padding-left: 60px;
				}
			}
		}

		a {
			display: block;
			line-height: 140%;
			padding-left: 60px;
			box-shadow: none !important;
			
			span {
				display: block;
				font-size: 1.1em;
				
				&.comment-count {
					color: $red;
					&:hover {
						font-weight: 500;
					}
				}
				&.interactions-count {
					color: #39579D;
					font-size: .9em;
					line-height: 1.75;
				}
			}
		}

		@include break(mobile) {
			margin-bottom: 30px;
/*
			background-position: left 2px;
			background-size: 30px;
			padding-bottom: 3px;

			a {
				padding-left: 40px;

				span {
					&.comment-count {
						color: #105ab2;
						font-size: 0.9em;
						font-weight: 400;
					}
					
					&.interactions-count {
						display: none;
					}
				}
			}
*/
		}
		
	}
	

	&.article {
		#content-header {
  		 &.featured-image {
    		.wrapper {
	    		max-width: 1100px;
	    		width: 94%;
	    		padding: 0;
	    		overflow: auto;
	    		@include break(mobile){
		    		width: 100%;
	    		}
    		}
    		.title-group {
	      		h1.large {
					font-weight: 500;
					padding-top: 15px;

	    			@include break(mobile){
		    			padding-top: 0px;
	    			}
	      		}
	      		
	      		em {
	        		font-size: 0.75em;

	        		time {
	        			a {
	        				color: #fff;
	        			}
	        		}
	      		}
      		
    		}

    		&.second-page {
    			min-height: 400px;
    			max-height: 400px;

    			@include break(mobile){
	    			min-height: 120px;
	    			max-height: 120px;
    			}
    			@include break(v-mobile){
	    			min-height: 180px;
	    			max-height: 180px;
    			}

    			.wrapper {
    		    	min-height: 400px;
    				max-height: 400px;

	    			@include break(mobile){
		    			min-height: 120px;
		    			max-height: 120px;
	    			}
	    			@include break(v-mobile){
		    			min-height: 180px;
		    			max-height: 180px;
	    			}
    			}

	    		.title-group {
	    			bottom: 35px;
			        @include break(mobile){
		    			bottom: 25px;
	    			}

		      		h1.large {
		        		font-size: 2.4em;
						@include break(mobile){
							font-size: 1.5em;
						}		        		
		        	}
		        	em {
				        @include break(mobile){
			    			display: none;
		    			}
		        	}
	    		}

	    		.rating { display: none; }
	    	}

    		&.index-page {
    			min-height: 250px;
    			max-height: 250px;

    			@include break(mobile){
	    			min-height: 120px;
	    			max-height: 120px;
    			}
    			@include break(v-mobile){
	    			min-height: 180px;
	    			max-height: 180px;
    			}
	    	}

  		 }
		}

		#content-header.featured-image.second-page {
			&:before {
				top: 0; right: 0; bottom: 0; left: 0;
				@include gradient-trans-percent($start_color:#1E2933,$start_cent:25%,$start_alpha:0.1,$end_color:#1E2933,$end_cent:100%,$end_alpha:1);
			}
		}

		#content-header.featured-image.index-page {
			&:before {
				top: 0; right: 0; bottom: 0; left: 0;
				@include gradient-trans-percent($start_color:#1E2933,$start_cent:25%,$start_alpha:0,$end_color:#1E2933,$end_cent:100%,$end_alpha:0.65);
			}
		}

		.col-2-3-last{
			float: left !important;
			width: 66%;
			padding-bottom: 20px;

			@include break(big-desk){
				width: 68%;
			}
			@include break(tablet) {
				width: 64%;
			}
			@include break(v-tablet) {
				width: 100%;
			}
		}
		
		#content {
			position: relative;

			.wrapper {
				overflow: visible;
				padding: 40px 0;
				@include break(mobile) {
					width: 94%;
					padding: 25px 0 30px;
				}
			}

			.cta {
				.wrapper {
					padding: 0 0 15px !important;
				}
			}

			.social-column {
				position: absolute;
				right: 0;
				top: 50px;
				z-index: 1;
				@include break(mobile){
					position: relative;
					top: 0;
					margin-bottom: 25px;
					.article-index {
						position: absolute;
						right: 0;
						strong {
							line-height: 28px;
							font-weight: 500;
						}
						@include break(mobile){
							display: none;
						}
					}					
				}
			}
			.index-mobile {
				.article-index {
					display: block;
					margin: 30px 0 0;
					width: 94%;

					@include break(big-desk){
						width: 100%;
					}

					@include break(mobile){
						margin: 20px 0 15px;
						width: 100%;
					}

					strong {
						line-height: 25px;
						padding-bottom: 5px;
						background: #ff7f00;
						font-size: 0.9em;
						color: white;
					}
					section {
						display: block;
						width: 100%;
						position:relative;
						left: 0;
						z-index: 0;
						h3 {
							display: none;
						}
					}
				}
			}
			.articleBody {
				width: 94%;
				float: left;

				@include break(big-desk){
					width: 100%
				}
				@include break(v-tablet){
					width: 90%
				}
				@include break(mobile){
					width: 100%
				}
				img {
					/* padding: 0 0 25px; */
				}
				.slide-image{padding: 0 0 25px;}

				blockquote {
					background: white;
					margin: 5px 20px 25px 0px;
					padding: 15px 10px 0px 15px;
					border-left: 3px solid #ccc;
				}

				.blue-quote {
					color: #105ab2;
					font-size: 1.7em;
					font-weight: 400;
					text-align: center;
					margin: 20px 10px 40px;
				}


				/*
				.side-object {
					width: 350px;
					padding: 0px 50px 0px 0px;
					float: left;
					margin-left: -200px;
					strong {
						font-size: 1.7em;
						color: #003D85;
						font-weight: 400;
						@include break(mobile){
							font-size: 1.3em;
						}
					}
					@include break(v-tablet){
						margin-left: -230px;
					}
					@include break(mobile){
						margin-left: -0px;
						width: 50%;
						padding: 10px 15px 10px 0px;
					}
					@include break(v-mobile){
						width: auto;
						padding: 15px 15px 25px 15px
					}
				}
				.QuoteWithNoSpace {
					font-size: 0.7em;
					margin-left: 0;
					width: 250px;
				}
				*/
			}
			.page-nav{
				@include break(mobile){
					a {
					font-size: 1.4em;
					}
				}
			}
			
		}

		&.about {
			.col-2-3 {
				width: 100%;
				margin-right: 0;
			}

			#content {
				.wrapper {

					@include break(mobile){
						padding-top: 0;
					}

				}

				article {
					width: 94%;
					font-size: 0.9em;

					@include break(mobile){
						font-size: 0.8em;
					}

				}

				h1 {
					font-weight: 500;
					font-size: 1.8em;
					padding: 25px 0 20px;

					@include break(mobile){
						padding-top: 10px;
					}

				}
				h2 {
					font-size: 1.4em;
					font-weight: 500;
					padding: 20px 0 15px;
				}

				.index-mobile {
					float: right;
					width: 200px;

					.article-index {
						display: block;
						margin: 0 0 25% 25%;
						width: 100%;

						.pad ul {
							font-size: 1.2em;
							margin: 4% 0 0 14%;
							line-height: 1.8;
						}
					}
					@include break(mobile){
						display: none;
					}
				}

			}
		}
	}
}

.article nav.page-nav {
	text-align: right;
	float: left;
	width: 94% !important;
	margin: 0 !important;

	@include break(big-desk){
		width: 100% !important;
	}
	@include break(mobile){
		padding-bottom: 10px !important;
	}

	a span {
		font-size: 0.75em;
		&:after {
					content:"";
					display: block;
					position: absolute;
					right: 0; top: 50%;
					margin-top: -5px;
					width: 10px; height: 7px;
					@include triangle(right,black,8,10);
				}
	}
	a:hover {
		span {
		&:after {
					content:"";
					display: block;
					position: absolute;
					right: 0; top: 50%;
					margin-top: -5px;
					width: 10px; height: 7px;
					@include triangle(right,$orange,8,10);
				}
			}
	}
	a strong {
		font-size: 0.85em;
	}
	
}

.sorter {
	float: right;
	font-size: 12px;
	position: relative;
	color: #333;
	text-align: right;
	z-index: 1;
	
	&.active {
  	ul {
    	display: block !important;
  	}
	}
	
  #sorted_by{
  	text-transform: lowercase;
  	font-weight: 600;
  	
  	&:after {
  	  margin-left: 4px;
  	  content:"";
  	  display: inline-block;
  	  width: 5px; height: 6px;
    	@include triangle(down,#333,4,6);
  	}
  	
  }
  
  ul{
  	position: absolute;
  	display: none !important;
  	right: 0;
  	top: 28px;
  	width: 120px;
  	background: #F4F5F7;
  	text-align: left;
  	border: 1px solid #ccc;
  	@include border-radius(2px);
  	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  }
	
	.arrow{
  	width: 10px;
  	height: 10px;
  	background: url(/images/pf_show_sorter.png);
  	display: inline-block;
  	zoom: 1; 
  	display: inline;
  }
  
  a{
  	color: #333;
  	background: none !important;
  	padding: 0;
  	text-shadow: none !important;
  }
	
	li{
  	background: none;
  	display: block;
  	border: 0;
  	height: 25px;
  	line-height: 25px;
  	margin: 0;
  	padding: 0;
  	
  	.smaller{
    	font-size: 11px;
    }
  	
  	a{
    	display: block;
    	padding: 0 5px;
    	-webkit-transition: none;
    	-moz-transition: none;
    	-ms-transition: none;
    	-o-transition: none;
    	transition: none;
    	
    	&:hover{
      	background: #32404D !important;
      	color: #fff;
      	text-decoration: none;
      }	
    }	
  }	
}

#ShowingFilter {
	height: 33px;
	border-bottom: 1px solid $light-grey;
	background: white;
	padding: 0 2%;
	font-size: 0.7em;
	font-weight: 600;
	line-height: 33px;
	
	span {
		margin-right: 5px;
	}
	
	ul {
	  display: inline;
		li {
			display: inline-block;
			margin-right: 2px;
		}
	}
	
}

/* Review box */
.review_box {
		margin: 20px 0 40px;
		font-size: 0.9em;
		background: #fff;
		padding: 30px 20px 15px;
		border-top: 4px solid #eee;
		border-bottom: 4px solid #eee;

	  .pf_score {
	  	font-family: $f-helvetica-roboto;
	    font-size: 45px;
	    height: 65px;
		line-height: 75px;
	    width: 110px;
	    margin: 0;
	    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	    @include border-radius(3px);
	  }

	  .ts_brand {
		font-family: Roboto;
		font-size: 0.80em;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		text-align: center;
		line-height: 1.2;
		padding-bottom: 10px;
		@include border-radius(3px);
	  }
	  ul {
	    margin: 0 0 10px !important;
	    padding-left: 25px;
	  }
	  .two_column {
	    float: left;
	    width: 50%;
	    margin-bottom: 20px;
	    ul {
	      margin-right: 10px;
	    }
	  }
	  .score_box {
	    float: left;
	    width: 110px;
	    height: 120px;
	    position: relative;

		@include break(mobile){
			float: none;
			margin: 0 auto 10px;
		}
	  }
	  .outstanding .frame {
	    /*
	    background: url(http://static.techspot.com/images/outstanding_score.png) no-repeat;
	    height: 86px;
	    width: 83px;
	    position: absolute;
	    left: -4px;
	    top: 1px;
	    */
	  }
	  .content_box {
	    padding-left: 130px;
		font-size: 1.05em;
		padding-top: 2px;

		@include break(mobile){
		    padding-left: 0;
			font-size: .95em;
		}
	  }
	  .label {
	    color: $blue;
	    font-weight: bold;
	  }
	  h3 {
	    margin-bottom: 0 !important;
	  }
	  .others_said {
	    clear: both;
	    height: 50px;
	    line-height: 50px !important;
	    font-size: 0.9em;
	    color: #444;
	    text-align: right;
	    a {
	      color: #444444 !important;
	      box-shadow: none !important;
	    }
	    p {
	      margin: 0;
	    }
	    a:hover {
	      text-decoration: none !important;
	      .pf_score {
	        text-decoration: none !important;
	      }
	    }
	    .pf_score_o {
	      float: right;
	      font-family: $f-helvetica-roboto;
	      font-size: 17px;
	      font-weight: 500;
	      text-align: center;
	      width: 40px;
	      height: 32px;
	      line-height: 32px;
	      color: #fff !important;
	      margin: 10px 10px 0 5px;
	      @include border-radius(2px);
	      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	    }
	  }
}


//Clase principal del slide
body.interior.slide-article {
	background: #1e2933;

	#GlobalWrapper {
		background: #1e2933;	
	}
	#content{
		background: #1e2933;
		.wrapper{
			padding: 20px 0 20px;
			.comment-count-block, .page-nav { display: none; }
		}
	}
	//#comments{background: #fff;}

	//Slide
	.slide-image{padding: 0 0 25px;}

	.owl-controls{
		width: 58%;
		@include break(mobile) {
			width: 100%;
			display: none;
		}
	}

	#grid-below{
		background: #ccc;
		padding: 25px 0 50px;

		&.hasComments {
			padding: 25px 0 25px;
		}

		@include break(mobile){
			padding: 1px 0 !important;
		}
	}
	
	#masthead{
		min-height: 336px;
		
		.wrapper{
			padding: 0;
			ul li { border-color: #ffffff !important; }
		}
		
		.featured-posts-title {
			h1 { color: #1e2833; }
		}

		@include break(mobile) {
			width: 100%;
			overflow: auto;
			min-height: inherit;

			.wrapper{
				width: 100%;
			}
		}
	}

	//Owl slide
	.addRelativeM{ position: relative; }
	.slideArticle{ position: relative; }

	.title-group {

		.slideShowTitle{
			font-weight: 500; font-size: 2.4em; letter-spacing: -0.333px;
			margin: 15px 0 0; position: relative; padding-right: 185px;
			color: #fff;

	        @include break(mobile) {
		        margin: 10px 0 0;
				padding-right: 0;
		        font-size: 1.9em;
	        }
	        @include break(v-mobile) {
		        font-size: 1.6em;
	        }
		}

		em {
			font-style: normal;
			font-size: .7em;
			line-height: 30px;
			color: #ccc;

	        @include break(v-mobile) {
		        font-size: .65em;
	        }

			a {
				color: #ccc;
				font-weight: 500;
				padding-bottom: 3px;	

	            &:hover {
	              border-bottom: 1px solid #ff7f00;
	            }
			}
		}
	}

	.owlNavArea{
		display: block; position: absolute; top: 0; right: 0; margin-top: -50px;
		.btnNav{
			display: block; float: left; width: auto; height: auto;
			@include mxAnim; cursor: pointer;
			padding: 5px 10px; height: 15px;
			background: #105ab2; /* Old browsers */
			background: -moz-linear-gradient(top,  #105ab2 0%, #154c8f 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#105ab2), color-stop(100%,#154c8f)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #105ab2 0%,#154c8f 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #105ab2 0%,#154c8f 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #105ab2 0%,#154c8f 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #105ab2 0%,#154c8f 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#105ab2', endColorstr='#154c8f',GradientType=0 ); /* IE6-9 */
			
			img{width: auto; height: 100%; vertical-align: top; background: none!important;}
			
			&.alL{
				img{-moz-transform: rotate(180deg); -webkit-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}
			}//alL
			&.alO{margin-right: 10px;}
			
			&:hover{
				background: #154c8f; /* Old browsers */
				background: -moz-linear-gradient(top,  #154c8f 0%, #154c8f 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154c8f), color-stop(100%,#154c8f)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #154c8f 0%,#154c8f 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #154c8f 0%,#154c8f 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #154c8f 0%,#154c8f 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #154c8f 0%,#154c8f 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#154c8f', endColorstr='#154c8f',GradientType=0 ); /* IE6-9 */
			}//hover
			
			&:active{
				background: #154c8f; /* Old browsers */
				background: -moz-linear-gradient(top,  #154c8f 0%, #105ab2 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#154c8f), color-stop(100%,#105ab2)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #154c8f 0%,#105ab2 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #154c8f 0%,#105ab2 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #154c8f 0%,#105ab2 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #154c8f 0%,#105ab2 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#154c8f', endColorstr='#105ab2',GradientType=0 ); /* IE6-9 */
			}
			
		}//btnNav
		.owlCount{
			display: block; float: left; height: 25px; line-height: 25px;
			font-weight: 500; font-size: 14px; text-align: center; width: 67px; color: #fff;
		}//owlCount
		
		@include break(mobile) {
			position: relative; margin-left: auto; margin-right: auto; margin-top: 0;
			display: inline-block;
			padding: 0 0 20px;
		}
		
	}//owlNavArea

	.col-2-3-last.special .articleBody{
		&.slideArticle{
			width: 100%!important;
			margin-top: 25px;
			
			@include break(mobile) {
				margin-top: 15px;
			}

		}
	}

	.slideshow{
		margin-left: 0%!important; opacity: 0;
		
		.owl-item > li{
			list-style: none!important;
			font-size: 0.85em; font-weight: 300;
			
			.slide-image{
				display: block; float: left; width: 58%;
				margin: 0 5% 0 0; padding: 0; position: relative;

				@include break(mobile) {
					margin: 0 0 20px 0;
				}

				img{width: 100%; height: auto;}
				
				&:after{
					-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
					box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
					position: absolute; top: 0; left: 0;
					width: 100%; height: 100%; content: "";
				}//after
			}//slide-image
			
			h2 {
				padding: 5px 100px 20px 63%;
				font-size: 1.8em;
				line-height: 1em;
				color: #fff;
				text-decoration: none;

				a {
					color: #fff;

		            &:hover {
		            	color: #fff;
						border-bottom: 1px solid #ff7f00;
		            }
				}
			}
			
			p {
				padding: 0 0 15px 63% !important;
				font-size: 1.15em;
				font-weight: 400;
				line-height: 1.4em;
				color: #fff;
			
				@include break(tablet) {
					p { padding: 0 0 15px 60%!important; }
				}

				@include break(mobile) {
					font-size: 1.1em;
					margin: 0 0 15px 0 !important;
				}

				a {
					box-shadow: inset 0 -3px 0 #FBBB76;
					padding-bottom: 1px;

					&:hover {
						box-shadow: inset 0 -1px 0 #FBBB76;
						padding-bottom: 1px;
					}
				}

				.itxtrst, .itxtrstspan, .itxtrst span {
					    color: #fff !important;
				}
			}
			
			@include break(tablet) {
				.slide-image { margin: 0 2% 0 0; }
				h2 { padding: 5px 100px 10px 60%; }
			}
			
		}//owl-item
		
		@include break(mobile) {
			.owl-item > li{
				.slide-image{float: none; width: 100%; margin: 0 0 10px 0;}
				h2{padding: 5px 100px 10px 0%;}
				p{padding: 5px 0 0 0%!important;}
			}//owl-item
		}
	}//slideshow

	.slideshow > li { list-style: none!important; }

}//slide-article