body.interior {
	.ListHeader {
		background: $dark-blue;
		padding: 0px 2%;
		h3{
			color: white;
			line-height: 35px;		
		}
	}
	
	.articleBody {
		font-weight: 400;
		font-family: $f-paragraph;

		@if $isAMP == 'true' {
			font-size: 0.95em;

		} @else {
			font-size: .9em;

			@include break(mobile) {
				font-size: 0.95em;
			}
		}

		b, strong {
			font-family: $f-primary;
			font-weight: 500;
		}

		h2 {
			font-family: $f-primary;
			font-weight: 500;
			font-size: 1.8em;
			line-height: 1.4;
		}
	
		h3 {
			font-family: $f-primary;
			font-weight: 500;
			font-size: 1.4em;
			line-height: 1.4;
		}
		
		h4 {
			font-family: $f-primary;
			font-weight: 500;
			font-size: 1.25em;
			line-height: 1.4;
		}

		.blue {
			@if $isAMP == 'true' {
				color: $blue;
			} @else {
				color: $blue !important;
			}
		}
		
		ul {
			margin-left: 5%;
			margin-bottom: 25px;
			font-size: 0.95em;
			line-height: 1.5em;
			li {
				list-style-type: square;
				margin-bottom: 10px;
			}
		}
		
		img {
			max-width: 100%;
			background: #f5f5f5;
		}

		@if $isAMP != 'true' {
			img.big {
				/* margin-left: -350px; */
				max-width: none;
				width: 1020px;

				@include break(big-desk){
					width: $desk;
				}
				
				@include break(v-tablet){
					margin-left: 0 !important;
					max-width: 100%;
					width: 100% !important;
				}
			}
		}

		#news, #feature {
			h3 {
				font-weight: 500;
				font-size: 1.5em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
			
			h4 {
				color: $blue;
				font-weight: 400;
				font-size: 1.3em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
		}

		.highlights {
			@if $isAMP == 'true' {
				display: none;

			} @else {
				@include col-last(1,2,2);
				margin: 0 0 20px 40px;
				font-size: .95em;
				
				@include break(mobile){
					display: none;
				}
				
				h3 {
					color: $dark-grey;
					line-height: 1.5;
					padding: 0 0 15px 0;
					font-size: 1em;
				}
				
				ul {
					font-size: 0.85em;
					margin-bottom: 0;
					li {
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	&.news,
	&.product,
	&.download {
		#content-header {
			background-color: white;
			
			.wrapper {
				@if $isAMP == 'true' {
					width: 96%;
				} @else {
					@include break(mobile) {
						width: 96%;
					}
				}
			}
			
			.title-group {
				h1.large {
					font-weight: 500;
					line-height: 1.35;
					letter-spacing: -0.333px;

					@if $isAMP == 'true' {
						margin: 0;
						font-size: 1.75em;
					
					} @else {
						margin: 15px 0 5px;
						font-size: 2.2em;

						@include break(mobile) {
							margin: 0;
							font-size: 1.75em;
						}
					}

					@include break(v-mobile) {
						font-size: 1.5em;
						line-height: 1.3;
					}
				}

				h1.medium {
					font-weight: 500;
					line-height: 1.4;
					letter-spacing: -0.333px;

					@if $isAMP == 'true' {
						margin-top: 0;
						font-size: 1.65em;

					} @else {
						font-size: 1.9em;

						@include break(mobile) {
							margin-top: 0;
							font-size: 1.65em;
						}
					}

					@include break(v-mobile) {
						font-size: 1.45em;
					}
				}

				@if $isAMP != 'true' {
					h2 {
						color: #888;
						font-size: 1.1em;
						font-weight: 400;
						font-family: Roboto;
						letter-spacing: -.333px;
						padding: 5px 0px 5px 0px;
					}

					.subver {
						font-size: 0.75em;
						color: #777;
					}
				}

				em {
					font-style: normal;
					font-size: .7em;
					line-height: 30px;
					color: black;

					@include break(v-mobile) {
						font-size: .65em;
					}

					a {
						color: black;
						font-weight: 500;
						border-bottom: 1px solid #ccc;
						padding-bottom: 3px;	
			
						&:hover {
							border-bottom: 1px solid #ff7f00;
						}
					}

					@if $isAMP != 'true' {
						span.numCom {
							padding-left: 12px;
							margin-left: 10px;
							border-left: 2px solid #ccc;

							a {
								font-weight: 400;
								color: #5a6169;
							}
						}

						span.sponsored {
							background-color: #495693;
							margin: 0 4px 0 0;
							padding: 4px 10px;
							text-align: center;
							color: white;
							font-weight: 600 !important;
						}
					}
				}
			}
		}
	}
}