$tile-height: 205px;
$tall-tile-height: ($tile-height * 2) + 1;
$tile-width: 381px;
$tile-width-sec: 380px;

$tall-tile-font-size: 1.5em;
$tile-font-size: 1.1em;

$mast-border-width: 1px;
$mast-border-col: #fff;
