@if $isAMP != 'true' {
	.activebar #MobileMenu a {
		position: absolute !important;
	}
	.activebar #MobileMenu a svg {
		fill: $orange !important;
	}
}
#header-ts {
	#MobileMenu a {
		padding-left:15px;
		padding-right: 15px;
		margin-left: -15px;
		position: relative;
		float: left;
		cursor: pointer;
	    svg {
			text-decoration: none;
			fill: white;
			float: left;
			line-height:$header-top-line-height; 
			margin-top:2px;
			width: 13px;
			@include transitions (0.1s);

			@if $isAMP == 'true' {
				display: block;
				height: 47px;
				@include opacity(1);

			} @else {
				@include opacity(0);
				display: none;
				height: $header-top-line-height;
				
				@include break(mobile){
					height: 47px !important;
					display: block;
					@include opacity(1);
				}
			}

			/*&:hover {
				fill: $orange;
			}*/
		}
	}

	&.interior{
		#MobileMenu a {
			padding-left:15px;
			padding-right: 15px;
			margin-left: -15px;
			position: relative;
			float: left;
			cursor: pointer;
		    svg {
				text-decoration: none;
				fill: white;
				float: left;
				
				line-height:$header-interior-line-height; 
				margin-top:3px;
				width: 13px;
				height: 30px;
				@include transitions (0.1s);

				@if $isAMP == 'true' {
					display: block;
					height: 49px;
					@include opacity(1);
				
				} @else {
					@include opacity(0);
					display: none;
					height: $header-interior-line-height;
					
					@include break(mobile){
						@include opacity(1);
						display: block;
						height: 49px;
					}	
				}
			}
		}
	}
}

@if $isAMP != 'true' {
	/**
	 * Menu overview.
	 */
	.c-menu {
		position: fixed;
		z-index: 1100002;
		

		-webkit-transition: -webkit-transform 0.3s;
    	-moz-transition: transform 0.3s;
    	-ms-transition: transform 0.3s; /* IE 9 -- does not exists? */
    	-o-transition: transform 0.3s;
    	transition: transform 0.3s;
	}
	.c-menu__close {
		display: none;
	}
	/**
	 * Body states.
	 *
	 * When a menu is active, we want to hide the overflows on the body to prevent
	 * awkward document scrolling.
	 */
	body.has-active-menu {
		overflow: hidden;
	}
	/**
	 * Mask component
	 */
	.c-mask {
		position: fixed;
		z-index: 1100001;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 0;
		height: 0;
		background-color: #000;
		opacity: 0;
		transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

		&.is-active {
			width: 100%;
			height: 100%;
			opacity: 0.7;
			transition: opacity 0.3s;
		}
	}

	.c-menu--push-left {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		-webkit-transform: translateX(-100%); /* Chrome, Safari, Opera */
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%); /* IE 9 */
		-o-transform: translateX(-100%);
		transform: translateX(-100%);

		&.is-active {
			-webkit-transform: translateX(0); /* Chrome, Safari, Opera */
			-moz-transform: translateX(0);
			-ms-transform: translateX(0); /* IE 9 */
			-o-transform: translateX(0);
			transform: translateX(0);
		}

		@media all and (min-width: 270px) {
			width: 250px;

			-webkit-transform: translateX(-250px); /* Chrome, Safari, Opera */
			-moz-transform: translateX(-250px);
			-ms-transform: translateX(-250px); /* IE 9 */
			-o-transform: translateX(-250px);
			transform: translateX(-250px);
		}

		.c-menu__item {
			display: block;
			text-align: center;
			border-top: solid 1px #b5dbe9;
			border-bottom: solid 1px #3184a1;
			&:first-child {
				border-top: none;
			}
			&:last-child {
				border-bottom: none;
			}
		}
		.c-menu__link {
			display: block;
			padding: 12px 24px;
			color: #fff;
		}
	}

	/*
	#GlobalWrapper.has-push-left {
		transform: translateX(100%);
	}

	@media all and (min-width: 270px) {
		#GlobalWrapper.has-push-left {
			transform: translateX(250px);
		}
	}
	*/
}