$f-primary: 'Roboto', sans-serif;
$f-condensed: 'Roboto Condensed', sans-serif;
$f-secondary: 'Myriad Pro', Verdana, sans-serif;
$f-arial: Arial, Verdana, sans-serif;
$f-helvetica: 'Helvetica Neue', Arial, Helvetica;
// !GLOBAL RESPONSIVE VARIABLES

$desk: 1100px;
$tablet: 1100px; // This number needs to be the same as $desk to prevent a "no-mans-land" in breakpoints
$v-tablet: 960px;
$mobile: 760px;
$v-mobile: 500px;
$sm-mobile: 500px;

// !GLOBAL GUTTER VARIABLES
//column gutter variables we now how four options if using gutter space
$gut-no: 0;
$gut-sm: .1;
$gut-med: 3;
$gut-lg: 20;


// !GLOBAL COLORS
$cream: #fffbf8;
//$c-primary: #b5121b;
$c-primary: #3a3332;
$c-secondary: #ffc600;
$c-tertiary: #ffe052;
$c-accent: #ffd14e;
$c-footer: #3a3332;
$c-shadows: #9d646b;

$black: #000;
$red: #c00;
$blue: #105ab2;
$dark-blue: #1e2933;
$dark-blue2: #002040;
$yellow: #ffc925;
$green: #00B420;
$dark-green: #00773C;
$orange: #ff7f00;
$purple: #6f22a0;

$c-excellent: #00BE15;
$c-good: #075BC0;
$c-average: #6F22A0;
$c-bad: #c00;

$dark-grey: #353535;
$grey: #bbbbbb;
$light-grey: #f5f5f5;


// !PADDING VARIABLES
$wrap-pad: 6%; 

// !BORDER RADIUS
$b-radius: 6px;

$speed: 1500ms;
