@import
"_reset.scss",
"_variables.scss",
"_base-grid.scss",
"_base-mixins.scss",
"_mixin.scss";

$isAMP: 'true';
@import
"_mobileMenu.scss",
"_header.scss",
"_footer.scss",
"_main-included-amp.scss",
"_interior-included-amp.scss",
"components/_articleBody-news-article.scss",

//Home
"components/_carousel-amp.scss",
"components/_slide-sort-selector.scss",
"components/_comments.scss",
"_home.scss",
"news/_news-list.scss",

//Home Reviews
"reviews/_interior_reviews.scss",
"reviews/_reviews.scss", //Included article index
"reviews/_masthead.scss",

//Story + Featured
"_header-featured.scss",
"components/_chicklets.scss",

//Reviews Content
"components/_page-nav.scss",
"reviews/_review_box.scss";


/**** MAIN ***/
.hidden {
  display: none;
  visibility: hidden;
}


/**** GENERIC STYLES ****/
body.interior {
	&.news {
		#content-header {
			.wrapper {
				padding: 20px 0 50px;
			}
		}
	}
}

/* PF widgets para noticias y reviews */
.pf_score {
	color: #fff;
	font-weight: 500;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background: #075BC0;
	text-align: center;
	float: left;
}

.pf_bad {
	background-color: #cc0000;
}

.pf_average {
	background-color: #6f22a0;
}

.pf_excellent {
	background-color: #00be15;
}

.pf_good {
	background-color: #075bc0;
}

.pf_none {
	background-color: #999999;
}



.bestof_product {
	h2 {
		margin-top: -50px;
		color: #105ab2;
		font-size: 1.7em;
	}
	.description {
		padding-left: 0;
		min-height: 500px;

		.key strong{
			font-weight: 500;
		}
	}
	.image {
		float: none;
		width: 100%;
		height: 300px;
		margin-right: 0;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		box-shadow: inset 0 0 50px rgba(0,0,0,0.25);
	}
	.numbers {
		float: none;
		text-align: center;
		width: 100%;
		margin: 20px 0 30px;
		font-size: .75em;
		background-color: white;
		font-family: Roboto Condensed;
		border-bottom: none;

		a.withTooltip {
			color: #333;
		}
		.label {
			text-transform: uppercase;
			color: #666;
			background: #ddd;
			padding: 5px;
			font-size: 90%;
		}
		.price .price_tag {
			padding: 3px 0 3px;
			margin-top: 2px;
			font-size: 2.7em;
			background-color: green;
			cursor: pointer;
			line-height: 1.6em;

			a {
				color: white;
			}
		}
		.meta .score {
			text-align: center;
			margin: 2px auto 0;
			background-color: #105ab2;

			.number{
				color: white;
				line-height: 1.8em;
				font-size: 2.6em;
				font-weight: 500;
			}
		}
		.user_score .score {
			text-align: center;
			margin: 2px auto 5px;
			background-color: #f08804;

			.number{
				color: white;
				line-height: 1.8em;
				font-size: 2.6em;
				font-weight: 500;
			}
		}

		.price,
		.meta,
		.user_score {
			width: 28%;
			padding: 5px 5px 0;
			display: inline-block;
		}
	}
}

/* reviews Index */
/*.reviews-carousel-image {
 	opacity: 0.4;
}*/
/* End reviews Index */