@import
"_reset.scss",
"_variables.scss",
"_base-grid.scss",
"_base-mixins.scss",
"_mixin.scss";

$isAMP: 'true';
@import
"_mobileMenu.scss",
"_header.scss",
"_footer.scss",
"_main-included-amp.scss",
"_interior-included-amp.scss",

"components/_chicklets.scss",
//"components/_page-nav.scss",

//PF Index
"products/_masthead.scss",
"products/_products.scss",
"products/_interior_product.scss",

"components/_carousel-amp.scss",
"components/_slide-sort-selector.scss";



/* PF widgets para noticias y reviews */

.pf_score {
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: #075BC0;
  text-align: center;
  float: left;
}

.pf_bad {
  background-color: #cc0000;
}

.pf_average {
  background-color: #6f22a0;
}

.pf_excellent {
  background-color: #00be15;
}

.pf_good {
  background-color: #075bc0;
}

.pf_none {
  background-color: #999999;
}

.bestof_product {
  h2 {
    margin-top: -50px;
    color: #105ab2;
    font-size: 1.7em;
  }
  .description {
    padding-left: 0;
    min-height: 500px;
    .key strong {
      font-weight: 500;
    }
  }
  .image {
    float: none;
    width: 100%;
    height: 300px;
    margin-right: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
  }
  .numbers {
    float: none;
    text-align: center;
    width: 100%;
    margin: 20px 0 30px;
    font-size: .75em;
    background-color: white;
    font-family: Roboto Condensed;
    border-bottom: none;
    a.withTooltip {
      color: #333;
    }
    .label {
      text-transform: uppercase;
      color: #666;
      background: #ddd;
      padding: 5px;
      font-size: 90%;
    }
    .price .price_tag {
      padding: 3px 0 3px;
      margin-top: 2px;
      font-size: 2.7em;
      background-color: green;
      cursor: pointer;
      line-height: 1.6em;
      a {
        color: white;
      }
    }
    .meta .score {
      text-align: center;
      margin: 2px auto 0;
      background-color: #105ab2;
      .number {
        color: white;
        line-height: 1.8em;
        font-size: 2.6em;
        font-weight: 500;
      }
    }
    .user_score .score {
      text-align: center;
      margin: 2px auto 5px;
      background-color: #f08804;
      .number {
        color: white;
        line-height: 1.8em;
        font-size: 2.6em;
        font-weight: 500;
      }
    }
    .price, .meta, .user_score {
      width: 28%;
      padding: 5px 5px 0;
      display: inline-block;
    }
  }
}


/* Index Product-finder */

body.products #masthead {
  background: #002040;
  .wrapper {
    padding: 0 !important;
  }
}

.products {
  #masthead div.featured-posts {
    .slide {
      width: 380px;
      height: 166px;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center center !important;
      a {
        position: relative;
        display: block;
        padding: 0;
        color: white;
        height: 327px;
        background: linear-gradient(195deg, rgba(30, 41, 51, 0.3) 40%, rgba(30, 41, 51, 0.95) 90%);
        &:hover {
          background: linear-gradient(195deg, rgba(30, 41, 51, 0.15) 40%, rgba(30, 41, 51, 0.95) 90%);
        }
        hgroup {
          width: 70%;
          position: absolute;
          bottom: 15px;
          display: block;
          h3 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: .60em;
            -webkit-font-smoothing: subpixel-antialiased;
            text-shadow: 0px 0px 3px #333;
            color: #FF9B37;
            padding-bottom: 2px;
          }
          h2 {
            font-size: 1.25em;
            font-weight: 500;
            text-shadow: 1px 1px 3px #222;
            max-height: 100px;
            overflow: hidden;
            letter-spacing: -0.333px;
          }
        }
      }
      &:nth-child(1) {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      &:nth-child(2) {
        left: 381px;
      }
      &:nth-child(3) {
        left: 762px;
      }
      &:nth-child(4) {
        top: 168px;
        left: 0;
      }
      &:nth-child(5) {
        left: 381px;
        top: 168px;
      }
      &:nth-child(6) {
        left: 762px;
        top: 168px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .products .featured-posts-title h1 {
    font-size: 1.1em;
    line-height: 50px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 1150px) {
  .products .featured-posts-title {
    width: 94%;
    padding: 0px 3%;
  }
}

@media only screen and (max-width: 760px) {
  .products .featured-posts-title {
    margin-top: 25px;
  }
}



.featured-posts amp-carousel {
  height: 340px;
  amp-img {
    height: 340px;
  }
}


/* before
.-amp-accordion-header {
  background-color: #105ab2;
  height: 30px;
  border: 0px;
}*/

/* //Not used????
amp-accordion section[expanded] .show-more {
  background-color: red;
}*/

/* / Browse product categories */

.post-load-more {
  margin: 20px 0px;
  width: 100%;
  border: 1px solid #dcdcdc;
  line-height: 45px;
  text-align: center;
  font-weight: 400;
  background-color: #F8F8F8;
  &:hover {
    background: #f6f6f6;
    border: 1px solid #ccc;
  }
}


/* Product-finder Individual */

.product_finder_info .i-amphtml-accordion-header {
  padding: 15px;
}

body.interior .wrapperMobileOnly .product_finder_info {
  margin: 5px 0 20px;
  font-size: .9em;
}



body.interior {
  &.product #content a.wide-button {
    display: block;
    background: #F8F8F8;
    letter-spacing: -0.5px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-style: none solid solid solid;
  }
  &.product #content #pros_cons {
    padding-top: 0px !important;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.product #content a.wide-button {
    font-size: 0.9em;
  }
}

.col-1-2.wide-gut {
  width: 47.5%;
  margin-right: 5%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .col-1-2.wide-gut {
    width: 100%;
  }
}

.col-1-2-last {
  width: 49%;
  margin-right: 0%;
  display: block;
  float: right;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.wide-gut {
    width: 47.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 500px) {
  .col-1-2-last.wide-gut {
    width: 100%;
  }
}


h3.section-header {
  a {
    color: #333;
  }
  span {
    font-weight: 100;
  }
  &.blue {
    border-bottom: 5px solid #0250C5;
  }
  &.red {
    border-bottom: 5px solid #c00;
  }
}

.content_accordion {
  background-color: white;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

#product_info {
  .product-desc {
    width: 37%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    nav {
      font-family: "Roboto Condensed", sans-serif;
      font-size: .9em;
      text-align: left;
      padding: 10px 0;
      ul li {
        display: inline-block;
        line-height: 100%;
        &:first-child {
          border-right: 1px solid black;
          padding-right: 15px;
          margin-right: 10px;
        }
        a {
          color: black;
          span {
            &.red {
              color: #c00;
            }
            &.blue {
              color: #105ab2;
            }
          }
        }
      }
    }
  }
  .score {
    margin: 0 0 15px;
    .number {
      float: left;
      margin: 15px 5px 0;
      color: #fff;
      background-color: #075BC0;
      font-size: 44px;
      font-weight: 500;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      width: 82px;
      height: 80px;
      line-height: 80px;
      border-radius: 3px 3px 3px 3px;
    }
    .excellent {
      background-color: #00bf17;
    }
    .breakdown {
      margin-left: 110px;
      font-size: 13px;
      a {
        font-weight: 500;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 10px 20px 0 0;
      }
      li {
        height: 16px;
        overflow: hidden;
      }
      h3 {
        font-weight: 500;
        font-size: 15px;
        line-height: 2em;
      }
      h5, .count, .bar {
        float: left;
        height: 20px;
      }
      h5 {
        font-size: 11px;
        margin: 0;
        width: 60px;
        font-weight: 500;
      }
      .count {
        margin-left: 5px;
        font-size: 11px;
        text-align: right;
        float: right;
      }
      .bar {
        width: 150px;
        div {
          background: #075BC0;
          height: 8px;
          margin-top: 4px;
        }
        .excellent {
          background: #00BE15;
        }
        .average {
          background: #6F22A0;
        }
        .bad {
          background: #c00;
        }
      }
    }
  }
  .product-desc {
    .Prodcomment {
      margin: 15px 0px 15px;
      letter-spacing: -0.333px;
      h3 {
        padding-left: 20px;
        margin-bottom: 5px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        a {
          border-bottom: solid 1px;
          padding-bottom: 3px;
        }
      }
      .pros h3, .cons h3 {
        padding-left: 0 !important;
      }
      p {
        font-family: Arimo, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        border-left: 5px solid #ddd;
        padding: 0px 0px 0px 15px;
        margin: 0;
        color: #333;
        &.reviewed_by {
          border-left: none;
          font-size: .75em;
          font-family: "Roboto Condensed", sans-serif;
          padding-left: 20px;
          margin: 5px 0;
          a {
            border-bottom: solid 1px;
            padding-bottom: 3px;
          }
        }
      }
      &.editorial p {
        border-left: none;
        padding: 0;
        font-size: 0.85em;
      }
      ul li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .price-widget {
      width: 100%;
      margin: 20px 0px;
      border-bottom: 0px solid #339933;
      .price-count {
        display: inline-block;
        background-color: #339933;
        color: white;
        width: 23%;
        margin-bottom: 0px;
        font-size: .7em;
        line-height: 20px;
        padding: 8px 0;
        font-weight: 500;
        float: left;
        height: 34px;
        text-align: center;
      }
      .price-int {
        float: left;
        width: 75%;
        height: 50px;
        display: inline;
        background-color: #f5f5f5;
        font-family: "Roboto Condensed", sans-serif;
        line-height: 38px;
        a {
          padding-left: 15px;
          font-size: 1.4em;
          color: #075BC0;
          &:hover {
            color: #c00;
          }
        }
        span.onamazon {
          font-size: 0.75em;
          position: absolute;
          padding: 3px 0px 0px 5px;
        }
      }
      #artificialBorder {
        width: 2%;
        height: 50px;
        display: inline-block;
        float: left;
        background: #339933;
      }
    }
    .social-widget {
      width: 100%;
      margin: 20px 0px;
      border-bottom: 0px solid #ff7f00;
      .social-count {
        display: inline-block;
        height: inherit;
        width: 23%;
        margin-bottom: 0px;
        font-size: 0.7em;
        line-height: 17px;
        padding: 8px 0;
        float: left;
      }
      .social-int {
        width: 75%;
        height: 50px;
        display: inline;
        float: left;
        background-color: #f5f5f5;
        span {
          width: 33.33333%;
          margin-right: 0%;
          display: block;
          float: left;
          list-style-type: none;
          position: relative;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          li {
            margin: 15px 0 0 15px;
          }
        }
      }
      .social {
        background-image: url(/images/social-widget-bg-90.svg?v=4);
        position: relative;
        left: 50%;
        margin-left: -16px;
        line-height: 50px;
        margin-top: 12px;
        &.facebook {
          width: 32px;
          background-position: 0px 1px;
        }
        &.twitter {
          width: 32px;
          background-position: -32px 1px;
        }
        &.google_plus {
          width: 32px;
          background-position: -65px 1px;
        }
        a {
          display: block;
          text-indent: -9999px;
          line-height: 30px;
        }
      }
      #artificialBorder {
        width: 2%;
        height: 50px;
        display: inline-block;
        float: left;
        background: #ff7f00;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  #product_info .product-desc {
    width: 40%;
  }
}

@media only screen and (max-width: 960px) {
  #product_info .product-desc {
    width: 47.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc {
    width: 100%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc nav {
    width: 100%;
    text-align: center;
    padding: 18px 0px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score {
    height: 125px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .number {
    width: 86px;
    line-height: 78px;
    height: 78px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score .number {
    font-size: 42px;
    margin: 15px 0 0;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown {
    width: 65%;
    float: left;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown h5 {
    width: 20%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score .breakdown h5 {
    width: 23%;
    min-width: 54px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown .count {
    margin-left: 0;
    width: none;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown .bar {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score .breakdown .bar {
    width: 60%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .price-widget .price-count {
    width: 30%;
    height: 17px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .price-widget .price-count {
    width: 20%;
    height: inherit;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .price-widget .price-int {
    height: 33px;
    width: 68%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .price-widget .price-int {
    height: 50px;
    width: 78%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .price-widget #artificialBorder {
    height: 33px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .price-widget #artificialBorder {
    height: 50px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social-count {
    width: 30%;
    height: 17px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social-count {
    width: 20%;
    height: inherit;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social-int {
    height: 33px;
    width: 68%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social-int {
    height: 50px;
    width: 78%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social-int span li {
    margin: 7px 0 0 15px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social-int span li {
    margin: 15px 0 0 15px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social {
    margin-top: 4px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget #artificialBorder {
    height: 33px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget #artificialBorder {
    height: 50px;
  }
}

.social-widget li.social-count {
  background-color: #ff7f00;
  color: white;
  text-align: center;
  font-size: 0.7em;
  line-height: 25px;
  font-weight: 500;
  &.zero {
    border-top: 5px solid #ff7f00;
  }
}

@media only screen and (max-width: 760px) {
  .social-widget li.social-count {
    display: inline-block;
    height: inherit;
    width: 25%;
    margin-bottom: 0px;
    font-size: 1em;
    line-height: 33px;
  }
}

@media only screen and (max-width: 760px) {
  .social-widget li.social-count.zero {
    border-top: none;
    display: block;
    width: 7px;
  }
}

#product_info {
  .product-desc .last-updated {
    margin: 15px 10px 0 15px;
    text-align: right;
    color: #666;
    font-size: 0.65em;
  }
  .score_users {
    margin: 0 0 20px;
    padding-top: 16px;
    border-top: 2px solid #eee;
    .number {
      float: left;
      margin: 0px 7px;
      background-color: #f08804;
      font-size: 36px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      letter-spacing: -1px;
      width: 80px;
      height: 80px;
      line-height: 79px;
      border-radius: 70px 70px 70px 70px;
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    .breakdown {
      margin-left: 110px;
      font-size: 13px;
      line-height: 1.4em;
      a {
        font-weight: 500;
      }
      h3 {
        font-weight: 500;
        font-size: 15px;
        line-height: 2em;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score_users {
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score_users .number {
    margin: 0 0 0 4px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score_users .breakdown {
    width: 65%;
    float: left;
    margin-left: 5%;
  }
}

/* End Product-finder Individual */