@import
"_reset.scss",
"_variables.scss",
"_base-grid.scss",
"_base-mixins.scss",
"_mixin.scss";

$isAMP: 'true';
@import
"_mobileMenu.scss",
"_header.scss",
"_footer.scss",
"_main-included-amp.scss",
"_interior-included-amp.scss",

//Downloads
"components/_accordion-amp.scss",
"components/_search-box.scss",
"components/_tabbar.scss",
"downloads/_download.scss",
"downloads/_interior_download.scss",

"components/_chicklets.scss",

"components/_page-nav.scss";



/* AMP FORMS*/
input {
	&[type=text], &[type=password] {
		width: 100%;
		background: white;
		border: none;
		font-size: 0.65em;
		line-height: 1.5;
		padding: 6px 8px;
		box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
		border-radius: 2px 2px 2px 2px;
	}
	&[type=text]:focus, &[type=password]:focus {
		outline: none;
	}
	&[type=submit] {
		display: inline-block;
		background: #105ab2;
		line-height: 14px;
		padding: 5px 16px;
		color: white;
		text-align: center;
		border: none;
		font-weight: 500;
		font-size: .6em;
		text-transform: uppercase;
		border-radius: 2px 2px 2px 2px;
		&:hover {
			background: #136dd7;
		}
		&:active {
			position: relative;
			top: 1px;
		}
	}
}
form {
	&.amp-form-submit-error [submit-error] {
		margin-top: 16px;
		font-size: 0.85em;
		margin-left: -9px;
	}
	&.amp-form-submit-success [submit-success] {
		margin-top: 16px;
		font-size: 0.85em;
		margin-left: -9px;
		color: green;
	}
	&.amp-form-submit-error [submit-error] {
		color: red;
	}
}

.shortcuts li {
  display: inline-block;
  margin-right: 25px;
  font-weight: 500;
  border: 1px solid $blue;
  padding: 7px 16px 7px 14px;
  font-size: 1.25em;
  color: #444;
  text-align: center;
  line-height: 31px;
  border-radius: 5px;
  min-width: 100px;
  &:hover {
	color: #fff;
	background-color: $blue;
  }
}

.search-box-driver {
  border: 0;
  background-color: transparent;
  font-size: 0.85em;
  margin: 15px 0 30px;
  padding: 0;
  input[type=text] {
	margin-top: 0px;
	width: 95%;
  }
}

.inputDeg {
  border: 1px solid silver;
  background: url(http://static.techspot.com/images2/form-grad.png) repeat-x #ffffff;
  height: 20px;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
}

#new_social_box {
  margin: 0 25px 0 0;
  padding: 20px 0 45px;
  position: relative;
  #close_social {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 999;
  }
  h2, h3 {
	margin: 0 0 5px 0;
	padding-bottom: 5px;
  }
  p {
	margin: 0 0 5px 0;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 0.85em;
  }
  h2, h3 {
	color: #021d42;
  }
  h2 {
	font-size: 18px;
  }
  h3 {
	font-size: 18px;
	font-weight: 500;
  }
  form {
	padding: 0;
	height: 35px;
	line-height: 35px;
  }
  .fluid {
	padding-right: 105px;
  }
  input {
	width: 98%;
	border: 1px solid #a3b6cf;
	font-size: 15px;
	height: 20px;
	padding-left: 5px;
	margin: 0;
	border-radius: 2px;
  }
  button {
	float: right;
	font-size: 13px;
	height: 35px;
  }
  iframe {
	border: 1px solid #a3b6cf;
  }
  .gplus {
	margin: 5px 0 5px 10px;
  }
  .ts_button span {
	padding: 0 15px 0 5px;
  }
  .follow_twitter {
	margin-top: 5px;
	font-size: 11px;
	img {
	  float: left;
	  margin-right: 3px;
	}
  }
  .col_left {
	padding-right: 300px;
  }
  .col_right {
	width: 260px;
	float: right;
	padding-left: 15px;
	border-left: 2px solid #ddd;
  }
  &.alt {
	.col_right {
	  float: left;
	  padding-right: 15px;
	  padding-left: 0;
	  border-left: 0;
	  border-right: 2px solid #ddd;
	}
	.col_left {
	  padding-left: 300px;
	  padding-right: 20px;
	}
  }
}

article h4 {
  color: #1e2933;
  font-weight: 500;
}

.lineblock{
  display: block;
}