@import
"_reset.scss",
"_variables.scss",
"_base-grid.scss",
"_base-mixins.scss",
"_mixin.scss";

$isAMP: 'true';
@import
"_mobileMenu.scss",
"_header.scss",
"_footer.scss",
"_main-included-amp.scss",
"_interior-included-amp.scss",

"components/_chicklets.scss",
//"components/_page-nav.scss",

//PF Index
"products/_masthead.scss",

"components/_carousel-amp.scss",
"components/_slide-sort-selector.scss";



/* PF widgets para noticias y reviews */

.pf_score {
  color: #fff;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: #075BC0;
  text-align: center;
  float: left;
}

.pf_bad {
  background-color: #cc0000;
}

.pf_average {
  background-color: #6f22a0;
}

.pf_excellent {
  background-color: #00be15;
}

.pf_good {
  background-color: #075bc0;
}

.pf_none {
  background-color: #999999;
}

.bestof_product {
  h2 {
    margin-top: -50px;
    color: #105ab2;
    font-size: 1.7em;
  }
  .description {
    padding-left: 0;
    min-height: 500px;
    .key strong {
      font-weight: 500;
    }
  }
  .image {
    float: none;
    width: 100%;
    height: 300px;
    margin-right: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
  }
  .numbers {
    float: none;
    text-align: center;
    width: 100%;
    margin: 20px 0 30px;
    font-size: .75em;
    background-color: white;
    font-family: Roboto Condensed;
    border-bottom: none;
    a.withTooltip {
      color: #333;
    }
    .label {
      text-transform: uppercase;
      color: #666;
      background: #ddd;
      padding: 5px;
      font-size: 90%;
    }
    .price .price_tag {
      padding: 3px 0 3px;
      margin-top: 2px;
      font-size: 2.7em;
      background-color: green;
      cursor: pointer;
      line-height: 1.6em;
      a {
        color: white;
      }
    }
    .meta .score {
      text-align: center;
      margin: 2px auto 0;
      background-color: #105ab2;
      .number {
        color: white;
        line-height: 1.8em;
        font-size: 2.6em;
        font-weight: 500;
      }
    }
    .user_score .score {
      text-align: center;
      margin: 2px auto 5px;
      background-color: #f08804;
      .number {
        color: white;
        line-height: 1.8em;
        font-size: 2.6em;
        font-weight: 500;
      }
    }
    .price, .meta, .user_score {
      width: 28%;
      padding: 5px 5px 0;
      display: inline-block;
    }
  }
}


/* Index Product-finder */

body.products #masthead {
  background: #002040;
  .wrapper {
    padding: 0 !important;
  }
}

.products {
  #masthead div.featured-posts {
    .slide {
      width: 380px;
      height: 166px;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
      background-position: center center !important;
      a {
        position: relative;
        display: block;
        padding: 0;
        color: white;
        height: 327px;
        background: linear-gradient(195deg, rgba(30, 41, 51, 0.3) 40%, rgba(30, 41, 51, 0.95) 90%);
        &:hover {
          background: linear-gradient(195deg, rgba(30, 41, 51, 0.15) 40%, rgba(30, 41, 51, 0.95) 90%);
        }
        hgroup {
          width: 70%;
          position: absolute;
          bottom: 15px;
          display: block;
          h3 {
            text-transform: uppercase;
            font-weight: 500;
            font-size: .60em;
            -webkit-font-smoothing: subpixel-antialiased;
            text-shadow: 0px 0px 3px #333;
            color: #FF9B37;
            padding-bottom: 2px;
          }
          h2 {
            font-size: 1.25em;
            font-weight: 500;
            text-shadow: 1px 1px 3px #222;
            max-height: 100px;
            overflow: hidden;
            letter-spacing: -0.333px;
          }
        }
      }
      &:nth-child(1) {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      &:nth-child(2) {
        left: 381px;
      }
      &:nth-child(3) {
        left: 762px;
      }
      &:nth-child(4) {
        top: 168px;
        left: 0;
      }
      &:nth-child(5) {
        left: 381px;
        top: 168px;
      }
      &:nth-child(6) {
        left: 762px;
        top: 168px;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .products .featured-posts-title h1 {
    font-size: 1.1em;
    line-height: 50px;
    width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media only screen and (max-width: 1150px) {
  .products .featured-posts-title {
    width: 94%;
    padding: 0px 3%;
  }
}

@media only screen and (max-width: 760px) {
  .products .featured-posts-title {
    margin-top: 25px;
  }
}



.featured-posts amp-carousel {
  height: 340px;
  amp-img {
    height: 340px;
  }
}

body.interior {
  &.products {
    .post-list-product {
      width: 100%;
      &.pfindex .ProdListInfo h4 {
        margin-top: 14px;
        margin-bottom: 3px;
      }
      li {
        padding: 0px 2%;
        height: 70px;
        font-size: 0.9em;
        font-weight: normal;
        border-bottom: 1px solid #F1F1F1;
        border-top: 1px solid #EAEAEA;
        list-style-type: none;
        &:nth-child(even) {
          background: white;
        }
      }
      .product-img {
        margin-top: 8px;
        float: left;
        width: 65px;
        border: 1px solid #DCDCDC;
        overflow: hidden;
        text-align: center;
        height: 50px;
        line-height: 50px;
        background: #fff;
        div {
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center;
          height: 100%;
        }
      }
      .ProdListInfo {
        float: left;
        margin-left: 8px;
        max-width: 65%;
        h4 {
          margin-top: 16px;
          font-family: "Roboto", sans-serif;
          font-size: 1em;
          font-weight: 500;
          letter-spacing: -0.333px;
          a {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
          }
        }
        .ProdListCat {
          display: inline-block;
          float: left;
          a {
            font-size: 0.55em;
            text-transform: uppercase;
            margin-top: 2px;
            line-height: 17px;
            background-color: #61798E;
            width: 95px;
            text-align: center;
            font-weight: 800;
            color: white;
            border-radius: 2px 2px 2px 2px;
            display: block;
            margin-right: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover {
              background-color: #4c5f70;
            }
          }
        }
        time {
          font-size: 0.65em;
          color: #666666;
          line-height: 1.7;
          margin-top: 3px;
          display: inline-block;
          float: left;
        }
      }
      .prod-meta {
        float: right;
        display: inline-block;
        height: 70px;
        .intRank {
          color: #69378c;
          font-weight: 500;
          font-size: 0.7em;
          float: left;
          width: 50px;
          text-align: right;
          margin-right: 18px;
          line-height: 70px;
        }
        .award {
          float: left;
          line-height: 70px;
          padding-right: 20px;
        }
        .price {
          font-weight: 500;
          font-size: 0.75em;
          float: left;
          line-height: 70px;
          padding-right: 10px;
          text-align: left;
          width: 45px;
          a {
            color: #c00;
            &:hover {
              color: #ff7f00;
            }
          }
        }
        .review_score {
          width: 65px;
          margin-top: 7px;
          height: 55px;
          float: right;
          display: inline-block;
          text-align: center;
          border-radius: 3px 3px 3px 3px;
          .score {
            color: white;
            line-height: 40px;
            font-size: 1.6em;
            font-weight: 500;
          }
          .review {
            color: white;
            font-size: 0.65em;
            letter-spacing: -.333px;
            line-height: 5px;
            display: block;
          }
        }
      }
    }
    .excellent {
      background-color: #00bf17;
    }
    .good {
      background-color: #075bc0;
    }
    .average {
      background-color: #7021a1;
    }
    .bad {
      background-color: #c00;
    }
    .none {
      background-color: #999;
    }
    .alternate {
      background: white;
    }
    .col-2-3 {
      width: 70%;
    }
    .browse_cats {
      text-transform: uppercase;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 0.7em;
      color: #555;
      padding-left: 10px;
      padding-bottom: 2px;
    }
    #CategoryListMobile {
      background: #304456;
      margin-bottom: 20px;
      display: none;
      width: 100%;
      text-transform: uppercase;
      font-family: "Roboto Condensed", sans-serif;
      color: white;
      font-size: 0.7em;
      #CategoryList {
        background: #304456;
      }
      section {
        padding: 0px 0px;
        line-height: 20px;
        border: 1px solid #ddd;
        /*height: 30px;*/
        a {
          color: white;
          display: block;
          width: 100%;
          text-decoration: none;
        }
        .arrow {
          opacity: 0;
        }
      }
      .SideTitle {
        line-height: 31px;
        background-color: #105ab2;
        padding: 0px 15px;
        .arrow {
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 6px solid #fff;
          float: right;
          margin-right: -15px;
          margin-top: -18px;
          opacity: 1;
        }
      }
      amp-accordion section {
        &:not([expanded]) {
          .SideTitle .arrow {
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-right: 6px solid #fff;
            float: right;
            margin-top: -18px;
          }
          .SideProdContent {
            display: none;
          }
        }
        &[expanded] {
          .SideTitle .arrow {
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 6px solid #fff;
            float: right;
            margin-top: -18px;
          }
          .SideProdContent {
            display: block;
          }
        }
      }
      .col-1-2 {
        width: 45%;
        float: left;
      }
      .col-1-2-last {
        width: 45%;
        float: right;
      }
      .SideProdContent {
        padding: 17px;
        background-color: #324455;
        section {
          line-height: 10px;
          margin-bottom: 14px;
          border: none;
          a {
            .arrow {
              margin: 0 !important;
              opacity: 0;
              position: absolute;
              left: -10px;
              width: 6px;
              height: 4px;
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 6px solid #ff7f00;
            }
            &:hover .arrow, &.active .arrow {
              margin: 0 !important;
              opacity: 1;
              left: -10px;
              width: 6px;
              height: 4px;
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 6px solid #ff7f00;
            }
          }
        }
      }
      .computer-hardware {
        height: 140px;
      }
      .pcs-devices {
        height: 40px;
      }
      .electronics {
        height: 100px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product li {
    padding: 5px 0;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product .product-img {
    width: 60px;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 960px) {
  body.interior.products .post-list-product .ProdListInfo {
    max-width: 55%;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.products .post-list-product .ProdListInfo {
    max-width: 52%;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product .ProdListInfo {
    max-width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.products .post-list-product .ProdListInfo h4 {
    font-size: 1em;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product .ProdListInfo h4 {
    font-size: 0.9em;
    margin-top: 12px;
  }
}

@media only screen and (max-width: 960px) {
  body.interior.products .post-list-product .ProdListInfo .ProdListCat a {
    width: 80px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.products .post-list-product .ProdListInfo .ProdListCat a {
    font-size: 0.5em;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media only screen and (max-width: 960px) {
  body.interior.products .post-list-product .ProdListInfo time {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product .ProdListInfo time {
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product .prod-meta {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  body.interior.products .post-list-product .prod-meta .intRank {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product .prod-meta .price {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.products .post-list-product .prod-meta .review_score {
    width: 60px;
  }
}

/* Browse product categories */

@media only screen and (max-width: 960px) {
  body.interior.products #CategoryListMobile {
    font-size: 0.65em;
  }
}

@media only screen and (max-width: 960px) {
  body.interior.products #CategoryListMobile .SideTitle {
    padding: 0px 10px;
  }
}

/* AMP Arrow */

/* AMP Arrow */

@media only screen and (max-width: 960px) {
  body.interior.products #CategoryListMobile .SideProdContent {
    padding: 10px 0px 10px 10px;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.products #CategoryListMobile {
    display: block;
  }
}

/* before
.-amp-accordion-header {
  background-color: #105ab2;
  height: 30px;
  border: 0px;
}*/

#CategoryListMobile .i-amphtml-accordion-header {
  background-color: #105ab2;
  height: 30px;
  border: 0px;
}

amp-accordion section[expanded] .show-more {
  background-color: red;
}

/* / Browse product categories */

.post-load-more {
  margin: 20px 0px;
  width: 100%;
  border: 1px solid #dcdcdc;
  line-height: 45px;
  text-align: center;
  font-weight: 400;
  background-color: #F8F8F8;
  &:hover {
    background: #f6f6f6;
    border: 1px solid #ccc;
  }
}

/* AMP Find Product Filter */

body.interior.products #LookUpTop {
  margin-bottom: 20px;
  text-decoration: none;
  .SideTitle {
    background-color: #105ab2;
    padding: 0px 2%;
  }
  .form_search {
    overflow: hidden;
  }
  h3 {
    color: white;
    line-height: 34px;
    font-size: 0.95em;
  }
  input {
    &[type=text] {
      border: none;
      height: 48px;
      width: 100%;
      border-radius: 0;
      border: none;
      box-shadow: none;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 30px;
      font-size: 1.1em !important;
      font-weight: 500;
      padding: 0px 2% !important;
      color: #333;
    }
    &#productsearch {
      box-sizing: border-box;
    }
  }
}

/* AMP Find Product Filter */

/* End Index Product-finder */

/* Product-finder Individual */

.product_finder_info .i-amphtml-accordion-header {
  padding: 15px;
}

body.interior .wrapperMobileOnly .product_finder_info {
  margin: 5px 0 20px;
  font-size: .9em;
}

.also-looked-at {
  margin-bottom: 25px;
}

.expert-reviews-and-ratings {
  margin-bottom: 45px;
}

@media only screen and (max-width: 760px) {
  .also-looked-at, .expert-reviews-and-ratings {
    margin-bottom: 35px;
  }
}

.also-looked-at > h3, .expert-reviews-and-ratings > h3 {
  font-weight: 400;
  border-bottom: 2px solid #105ab2;
  line-height: 230%;
}

.also-looked-at > h3 span, .expert-reviews-and-ratings > h3 span {
  position: relative;
  display: inline-block;
}

.also-looked-at > h3 span:after, .expert-reviews-and-ratings > h3 span:after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  bottom: 0;
  width: 5px;
  height: 7px;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #105ab2;
}

@media only screen and (max-width: 500px) {
  .also-looked-at > h3 span:after, .expert-reviews-and-ratings > h3 span:after {
    display: none;
  }
}

.also-looked-at ul.teaser-list, .expert-reviews-and-ratings ul.teaser-list {
  padding: 20px 0;
}

.also-looked-at ul.teaser-list li, .expert-reviews-and-ratings ul.teaser-list li {
  font-size: .8em;
  background: #2D3842;
  margin-bottom: 20px;
  width: 23.5%;
  margin-right: 2%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.also-looked-at ul.teaser-list li {
  &:nth-child(4), &:nth-child(8) {
    width: 23.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.expert-reviews-and-ratings ul.teaser-list li {
  &:nth-child(4), &:nth-child(8) {
    width: 23.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.also-looked-at ul.teaser-list li a, .expert-reviews-and-ratings ul.teaser-list li a {
  color: white;
}

.also-looked-at ul.teaser-list li .img-wrap, .expert-reviews-and-ratings ul.teaser-list li .img-wrap {
  background-size: 110%;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center center;
  display: block;
  height: 150px;
  position: relative;
}

.also-looked-at ul.teaser-list li .img-wrap .rating, .expert-reviews-and-ratings ul.teaser-list li .img-wrap .rating {
  font-family: "Helvetica Neue", Arial, Helvetica;
  font-weight: 500;
  color: white;
  font-size: 1.9em;
  position: absolute;
  display: inline-block;
  padding: 0 13px;
  line-height: 160%;
  bottom: 0;
  right: 0px;
  border-radius: 2px 2px 2px 2px;
}

.also-looked-at ul.teaser-list li .img-wrap .rating.excellent, .expert-reviews-and-ratings ul.teaser-list li .img-wrap .rating.excellent {
  background-color: rgba(0, 190, 21, 0.9);
}

.also-looked-at ul.teaser-list li .img-wrap .rating.average, .expert-reviews-and-ratings ul.teaser-list li .img-wrap .rating.average {
  background-color: rgba(111, 34, 160, 0.9);
}

.also-looked-at ul.teaser-list li .img-wrap .rating.good, .expert-reviews-and-ratings ul.teaser-list li .img-wrap .rating.good {
  background-color: rgba(7, 91, 192, 0.9);
}

.also-looked-at ul.teaser-list li .img-wrap .rating.bad, .expert-reviews-and-ratings ul.teaser-list li .img-wrap .rating.bad {
  background-color: rgba(204, 0, 0, 0.9);
}

.also-looked-at ul.teaser-list li .img-wrap .rating.perfect, .expert-reviews-and-ratings ul.teaser-list li .img-wrap .rating.perfect {
  padding: 0 5px !important;
}

.also-looked-at ul.teaser-list li h3, .expert-reviews-and-ratings ul.teaser-list li h3 {
  text-align: center;
  padding: 10px;
  min-height: 42px;
  max-height: 42px;
  font-weight: 500;
}

.also-looked-at.expert-reviews-and-ratings > h3, .expert-reviews-and-ratings.expert-reviews-and-ratings > h3 {
  position: relative;
  margin-bottom: 10px;
}

.also-looked-at.expert-reviews-and-ratings > h3:after, .expert-reviews-and-ratings.expert-reviews-and-ratings > h3:after {
  position: absolute;
  content: "";
  display: block;
  left: 60px;
  bottom: -8px;
  width: 5px;
  height: 7px;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #105ab2;
}

.also-looked-at .comment, .expert-reviews-and-ratings .comment {
  position: relative;
  padding: 15px 100px 0px 10px;
  border-bottom: 1px solid #eee !important;
  min-height: 100px;
}

.also-looked-at .comment:nth-child(even), .expert-reviews-and-ratings .comment:nth-child(even) {
  background: #f5f5f5;
}

.also-looked-at .comment .rating, .expert-reviews-and-ratings .comment .rating {
  font-family: "Helvetica Neue", Arial, Helvetica;
  font-weight: 500;
  color: white;
  font-size: 1.5em;
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  line-height: 180%;
  top: 30px;
  right: 15px;
  border-radius: 2px 2px 2px 2px;
}

.also-looked-at .comment .rating.excellent, .expert-reviews-and-ratings .comment .rating.excellent {
  background-color: rgba(0, 190, 21, 0.9);
}

.also-looked-at .comment .rating.average, .expert-reviews-and-ratings .comment .rating.average {
  background-color: rgba(111, 34, 160, 0.9);
}

.also-looked-at .comment .rating.good, .expert-reviews-and-ratings .comment .rating.good {
  background-color: rgba(7, 91, 192, 0.9);
}

.also-looked-at .comment .rating.bad, .expert-reviews-and-ratings .comment .rating.bad {
  background-color: rgba(204, 0, 0, 0.9);
}

.also-looked-at .comment .rating.perfect, .expert-reviews-and-ratings .comment .rating.perfect {
  padding: 0 5px !important;
}

.also-looked-at .comment cite, .expert-reviews-and-ratings .comment cite {
  line-height: 220%;
  font-style: normal;
  font-size: 0.8em;
}

.also-looked-at .comment cite a, .expert-reviews-and-ratings .comment cite a {
  font-weight: 500;
}

@media only screen and (max-width: 760px) {
  .also-looked-at .comment cite time, .expert-reviews-and-ratings .comment cite time {
    display: block;
    margin-top: -10px;
    font-size: 0.8em;
    color: #888;
  }
}

.also-looked-at .comment p, .expert-reviews-and-ratings .comment p {
  padding: 5px 0 15px;
  line-height: 1.5;
  font-size: .7em;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  .product .also-looked-at .teaser-list li {
    width: 100%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .product .also-looked-at .teaser-list li {
    &:nth-child(4), &:nth-child(8) {
      width: 100%;
      margin-right: 0%;
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

body.interior {
  &.product #content a.wide-button {
    display: block;
    background: #F8F8F8;
    letter-spacing: -0.5px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-style: none solid solid solid;
  }
  &.product #content #pros_cons {
    padding-top: 0px !important;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.product #content a.wide-button {
    font-size: 0.9em;
  }
}

.col-1-2.wide-gut {
  width: 47.5%;
  margin-right: 5%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .col-1-2.wide-gut {
    width: 100%;
  }
}

.col-1-2-last {
  width: 49%;
  margin-right: 0%;
  display: block;
  float: right;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.wide-gut {
    width: 47.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 500px) {
  .col-1-2-last.wide-gut {
    width: 100%;
  }
}


h3.section-header {
  a {
    color: #333;
  }
  span {
    font-weight: 100;
  }
  &.blue {
    border-bottom: 5px solid #0250C5;
  }
  &.red {
    border-bottom: 5px solid #c00;
  }
}

.content_accordion {
  background-color: white;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
}

#product_info {
  .product-desc {
    width: 37%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 15px;
    nav {
      font-family: "Roboto Condensed", sans-serif;
      font-size: .9em;
      text-align: left;
      padding: 10px 0;
      ul li {
        display: inline-block;
        line-height: 100%;
        &:first-child {
          border-right: 1px solid black;
          padding-right: 15px;
          margin-right: 10px;
        }
        a {
          color: black;
          span {
            &.red {
              color: #c00;
            }
            &.blue {
              color: #105ab2;
            }
          }
        }
      }
    }
  }
  .score {
    margin: 0 0 15px;
    .number {
      float: left;
      margin: 15px 5px 0;
      color: #fff;
      background-color: #075BC0;
      font-size: 44px;
      font-weight: 500;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      width: 82px;
      height: 80px;
      line-height: 80px;
      border-radius: 3px 3px 3px 3px;
    }
    .excellent {
      background-color: #00bf17;
    }
    .breakdown {
      margin-left: 110px;
      font-size: 13px;
      a {
        font-weight: 500;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 10px 20px 0 0;
      }
      li {
        height: 16px;
        overflow: hidden;
      }
      h3 {
        font-weight: 500;
        font-size: 15px;
        line-height: 2em;
      }
      h5, .count, .bar {
        float: left;
        height: 20px;
      }
      h5 {
        font-size: 11px;
        margin: 0;
        width: 60px;
        font-weight: 500;
      }
      .count {
        margin-left: 5px;
        font-size: 11px;
        text-align: right;
        float: right;
      }
      .bar {
        width: 150px;
        div {
          background: #075BC0;
          height: 8px;
          margin-top: 4px;
        }
        .excellent {
          background: #00BE15;
        }
        .average {
          background: #6F22A0;
        }
        .bad {
          background: #c00;
        }
      }
    }
  }
  .product-desc {
    .Prodcomment {
      margin: 15px 0px 15px;
      letter-spacing: -0.333px;
      h3 {
        padding-left: 20px;
        margin-bottom: 5px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        a {
          border-bottom: solid 1px;
          padding-bottom: 3px;
        }
      }
      .pros h3, .cons h3 {
        padding-left: 0 !important;
      }
      p {
        font-family: Arimo, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        border-left: 5px solid #ddd;
        padding: 0px 0px 0px 15px;
        margin: 0;
        color: #333;
        &.reviewed_by {
          border-left: none;
          font-size: .75em;
          font-family: "Roboto Condensed", sans-serif;
          padding-left: 20px;
          margin: 5px 0;
          a {
            border-bottom: solid 1px;
            padding-bottom: 3px;
          }
        }
      }
      &.editorial p {
        border-left: none;
        padding: 0;
        font-size: 0.85em;
      }
      ul li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .price-widget {
      width: 100%;
      margin: 20px 0px;
      border-bottom: 0px solid #339933;
      .price-count {
        display: inline-block;
        background-color: #339933;
        color: white;
        width: 23%;
        margin-bottom: 0px;
        font-size: .7em;
        line-height: 20px;
        padding: 8px 0;
        font-weight: 500;
        float: left;
        height: 34px;
        text-align: center;
      }
      .price-int {
        float: left;
        width: 75%;
        height: 50px;
        display: inline;
        background-color: #f5f5f5;
        font-family: "Roboto Condensed", sans-serif;
        line-height: 38px;
        a {
          padding-left: 15px;
          font-size: 1.4em;
          color: #075BC0;
          &:hover {
            color: #c00;
          }
        }
        span.onamazon {
          font-size: 0.75em;
          position: absolute;
          padding: 3px 0px 0px 5px;
        }
      }
      #artificialBorder {
        width: 2%;
        height: 50px;
        display: inline-block;
        float: left;
        background: #339933;
      }
    }
    .social-widget {
      width: 100%;
      margin: 20px 0px;
      border-bottom: 0px solid #ff7f00;
      .social-count {
        display: inline-block;
        height: inherit;
        width: 23%;
        margin-bottom: 0px;
        font-size: 0.7em;
        line-height: 17px;
        padding: 8px 0;
        float: left;
      }
      .social-int {
        width: 75%;
        height: 50px;
        display: inline;
        float: left;
        background-color: #f5f5f5;
        span {
          width: 33.33333%;
          margin-right: 0%;
          display: block;
          float: left;
          list-style-type: none;
          position: relative;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block;
          li {
            margin: 15px 0 0 15px;
          }
        }
      }
      .social {
        background-image: url(/images/social-widget-bg-90.svg?v=4);
        position: relative;
        left: 50%;
        margin-left: -16px;
        line-height: 50px;
        margin-top: 12px;
        &.facebook {
          width: 32px;
          background-position: 0px 1px;
        }
        &.twitter {
          width: 32px;
          background-position: -32px 1px;
        }
        &.google_plus {
          width: 32px;
          background-position: -65px 1px;
        }
        a {
          display: block;
          text-indent: -9999px;
          line-height: 30px;
        }
      }
      #artificialBorder {
        width: 2%;
        height: 50px;
        display: inline-block;
        float: left;
        background: #ff7f00;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  #product_info .product-desc {
    width: 40%;
  }
}

@media only screen and (max-width: 960px) {
  #product_info .product-desc {
    width: 47.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc {
    width: 100%;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc nav {
    width: 100%;
    text-align: center;
    padding: 18px 0px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score {
    height: 125px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .number {
    width: 86px;
    line-height: 78px;
    height: 78px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score .number {
    font-size: 42px;
    margin: 15px 0 0;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown {
    width: 65%;
    float: left;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown h5 {
    width: 20%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score .breakdown h5 {
    width: 23%;
    min-width: 54px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown .count {
    margin-left: 0;
    width: none;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score .breakdown .bar {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score .breakdown .bar {
    width: 60%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .price-widget .price-count {
    width: 30%;
    height: 17px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .price-widget .price-count {
    width: 20%;
    height: inherit;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .price-widget .price-int {
    height: 33px;
    width: 68%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .price-widget .price-int {
    height: 50px;
    width: 78%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .price-widget #artificialBorder {
    height: 33px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .price-widget #artificialBorder {
    height: 50px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social-count {
    width: 30%;
    height: 17px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social-count {
    width: 20%;
    height: inherit;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social-int {
    height: 33px;
    width: 68%;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social-int {
    height: 50px;
    width: 78%;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social-int span li {
    margin: 7px 0 0 15px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social-int span li {
    margin: 15px 0 0 15px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget .social {
    margin-top: 4px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget .social {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .product-desc .social-widget #artificialBorder {
    height: 33px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .product-desc .social-widget #artificialBorder {
    height: 50px;
  }
}

.social-widget li.social-count {
  background-color: #ff7f00;
  color: white;
  text-align: center;
  font-size: 0.7em;
  line-height: 25px;
  font-weight: 500;
  &.zero {
    border-top: 5px solid #ff7f00;
  }
}

@media only screen and (max-width: 760px) {
  .social-widget li.social-count {
    display: inline-block;
    height: inherit;
    width: 25%;
    margin-bottom: 0px;
    font-size: 1em;
    line-height: 33px;
  }
}

@media only screen and (max-width: 760px) {
  .social-widget li.social-count.zero {
    border-top: none;
    display: block;
    width: 7px;
  }
}

#product_info {
  .product-desc .last-updated {
    margin: 15px 10px 0 15px;
    text-align: right;
    color: #666;
    font-size: 0.65em;
  }
  .score_users {
    margin: 0 0 20px;
    padding-top: 16px;
    border-top: 2px solid #eee;
    .number {
      float: left;
      margin: 0px 7px;
      background-color: #f08804;
      font-size: 36px;
      font-weight: 500;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      letter-spacing: -1px;
      width: 80px;
      height: 80px;
      line-height: 79px;
      border-radius: 70px 70px 70px 70px;
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    .breakdown {
      margin-left: 110px;
      font-size: 13px;
      line-height: 1.4em;
      a {
        font-weight: 500;
      }
      h3 {
        font-weight: 500;
        font-size: 15px;
        line-height: 2em;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score_users {
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  #product_info .score_users .number {
    margin: 0 0 0 4px;
  }
}

@media only screen and (max-width: 760px) {
  #product_info .score_users .breakdown {
    width: 65%;
    float: left;
    margin-left: 5%;
  }
}

/* End Product-finder Individual */