@import
"_reset.scss",
"_variables.scss",
"_base-grid.scss",
"_base-mixins.scss",
"_mixin.scss";


$isAMP: 'true';
@import
"_mobileMenu.scss",
"_chicklets.scss",
"_footer.scss";


/**** HEADER ****/
#header-ts {
	position: fixed;
	width: 100%;
	z-index: 1100001;
	line-height: $header-height;
	height: $header-height;
	top: 0;
	left: 0;

	.header-top {
		background: $dark-blue;
		position: relative;
		z-index: 2;
		//@include break(mobile){
			border-bottom: 5px solid #105ab2;
			box-shadow: 0 4px 0px rgba(34,25,25,0.1);
		//}
		.wrapper {
			padding: 0;
			line-height: $header-top-line-height;
		}
	}

	&.interior{
		line-height: $header-interior-height;
		height: $header-interior-height;

		@include break(mobile){
			line-height: $header-mobile-height;
			height: $header-mobile-height;
		}
		.header-top {
			.wrapper {
				line-height: $header-interior-line-height;
			    //@include break(mobile){
				    line-height: $header-interior-line-height-mobile;
			    //}
			}
		}
		h1#logo {
			background-size: 175px;
			line-height: $header-interior-line-height;
			height: $header-interior-line-height;
			padding-bottom: 3px;
			width: 160px;

			&:hover{
				padding-bottom: 3px;
			}

			a {
				line-height: $header-interior-line-height;
			}

		    @include break(mobile) {
				background-size: 165px;
			    margin-left: 32px;
			    height: 49px;
		    }
		    @include break(v-mobile) {
			    height: 49px;
		    }
		}
	}
	h1#logo {
		text-indent: -9999px;
		background-image: url(../images/logo-techspot.svg);
		background-repeat: no-repeat;
		background-position: -8px center;
		line-height: $header-top-line-height;
	    background-size: 200px;
	    height: 45px;
	    line-height: 45px;
	    width: 185px;
	    margin-left: 30px;

		&:hover{
			background-color: #0c468d;
			padding: 0 14px 0px 0px;
		    margin-left: 16px;
    		border-left: 14px solid #0c468d;
		}

	    @include break(mobile){
		    margin-left: 32px;
		    width: 160px;
		    height: 52px;
		    background-size: 170px;

			&:hover{
				padding: 0 4px 0px 0px;
			    margin-left: 26px;
			    border-left: 6px solid #0c468d;
			}
	    }

	    @include break(v-mobile){
		    width: 160px;
		    height: 52px;
	    }
		a {
			display: block;
			width: 189px; height: $header-top-line-height;
			line-height: $header-top-line-height;
		}
		
	}
}
#Mobileheader {
	width: 250px;
	height: 100%;
	overflow: hidden;
	background: #263340;
	position: fixed;
	z-index: 10;
    top: 0;
    //left: -250px;

	//@include break(mobile) {
		-webkit-transition: left 0.3s ease-in-out 0s;
		transition: left 0.3s ease-in-out 0s;
	//}

	#flyout-main-menu {
		padding: 0px 0px;
		#logo {
			text-indent: -9999px;
			background-image: url(../images/logo-techspot.svg);
			background-repeat: no-repeat;
			background-position: left center;
			width: 189px; height: auto;
		    background-size: contain;
		    height: 52px;
		    line-height: 45px;
		    width: 160px;
		    margin-left: 10px;
		    margin-bottom: 0px;
			a {
				display: block;
				width: 189px; height: 40px;
			}
	
		}
		.wrapper {
			width: 100%;
		}
		.wrapper ul li{
			line-height: 40px;
			width: 100%;
			border-top: 1px solid #394d60;

			a {
				color: white;
				text-transform: uppercase;
				font-size: 0.85em;
				font-family: Roboto Condensed;
				width: 100%;
				display: block;
				padding-left: 15px;

				/*
				&.blue {
					border-left: 4px solid $blue;
				}
				&.orange {
					border-left: 4px solid $orange;
				}
				&.red {
					border-left: 4px solid $red;
				}
				&.green {
					border-left: 4px solid $green;
				}
				&.purple {
					border-left: 4px solid $purple;
				}
				*/
			}
		}
	}
}


/**** SIDEBAR ****/
amp-sidebar {
	width: 250px;
	//padding-right: 10px;
}

/**** GENERIC STYLES ****/
body {
	background-color: $light-grey;
	font-family: $f-primary;
	font-size: 120%; 
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	transition: none;
}
article, aside, section {
	display: block;
}

a {
	text-decoration: none;
	color: #105ab2;
	&:hover { color: $red; }
}

a.offset { display: block; position: relative; top: -90px; visibility: hidden; }

ul,ol {
	margin: 0; padding: 0;
	li {
		margin: 0; padding: 0;
		list-style-type: none;
	}
}

h1 {
	color: #1e2833;
	font-weight: 500;
	font-size: 1.3em;
	
	&.lined {
		border-bottom: 2px solid #c3c3c3;
	}
	
	&.badge {
		line-height: 50px;
		background-image: url(../images/badge.svg);
		background-repeat: no-repeat;
		background-position: 25px top;
		padding-left: 110px;
		margin-bottom: 40px;
	}
}

.clearfix {
	@include clearfix(before);
	@include clearfix(after);
}
body.interior {
	.articleBody {
		font-size: .9em;
		font-weight: 400;
		color: #222;

		@include break(mobile){
			font-size: 0.95em;
		}

		b, strong {
			font-weight: 500;
		}

		h2 {
			font-weight: 500;
			font-size: 1.8em;
			line-height: 1.4;
		}
	
		h3 {
			font-weight: 500;
			font-size: 1.4em;
			line-height: 1.4;
		}
		
		h4 {
			font-weight: 500;
			font-size: 1.25em;
			line-height: 1.4;
		}

		.blue {
			color: $blue;
		}
		
		ul {
			margin-left: 5%;
			margin-bottom: 25px;
			font-size: 0.95em;
			line-height: 1.5em;
			li {
				list-style-type: square;
				margin-bottom: 10px;
			}
		}
		
		img {
			max-width: 100%;
			background: #f5f5f5;
		}

		img.big {
			/* margin-left: -350px; */
			max-width: none;
			width: 1020px;

			@include break(big-desk){
				width: $desk;
			}
			
			@include break(v-tablet){
				margin-left: 0;
				max-width: 100%;
				width: 100%;
			}
		}

		#news, #feature {
			h3 {
				font-weight: 500;
				font-size: 1.5em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
			
			h4 {
				color: $blue;
				font-weight: 400;
				font-size: 1.3em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
		}

		.highlights {
			@include col-last(1,2,2);
			margin: 0 0 20px 40px;
			font-size: .95em;
			@include break(mobile){
				display: none;
			}
			h3 {
				color: $dark-grey;
				line-height: 1.5;
				padding: 0 0 15px 0;
				font-size: 1em;
			}
			ul {
				font-size: 0.85em;
				margin-bottom: 0;
				li {
					margin-bottom: 5px;
				}
			}
		}
	
	}

	&.news {
		#content-header {
			.wrapper {
				padding: 20px 0 50px;
			}
		}
	}

	&.news,
	&.product,
	&.download {
		#content-header {
			background-color: white;
			
			.wrapper {
				@include break(mobile) {
					width: 96%;
				}
			}

			.title-group {
				
				h1.large {
					font-weight: 500;
					font-size: 2.2em;
					line-height: 1.35;
					margin: 15px 0 5px;
					letter-spacing: -0.333px;

					@include break(mobile) {
						margin: 0;
						font-size: 1.9em;
					}
					@include break(v-mobile) {
						font-size: 1.6em;
						line-height: 1.3;
					}
				}

				h1.medium {
					font-weight: 500;
					font-size: 1.9em;
					line-height: 1.4;
					letter-spacing: -0.333px;
					@include break(mobile) {
						margin-top: 0;
						font-size: 1.75em;
					}
					@include break(v-mobile) {
						font-size: 1.5em;
					}
				}

				em {
					font-style: normal;
					font-size: .7em;
					line-height: 30px;
					color: black;

					@include break(v-mobile) {
						font-size: .65em;
					}

					a {
						color: black;
						font-weight: 500;
						border-bottom: 1px solid #ccc;
						padding-bottom: 3px;	
			
						&:hover {
						  border-bottom: 1px solid #ff7f00;
						}
					}

					span.sponsored {
						background-color: #495693;
						margin: 0 4px 0 0;
						padding: 4px 10px;
						text-align: center;
						color: white;
						font-weight: 600;
					}

				}
			}
		}
		#content {
			amp-img.intro-image {
				margin-top: -52px;
				margin-bottom: 30px;
				width: 100%;
				height: auto;

				@include break(mobile){
					border: none;
					margin-bottom: 25px;
				}
			}
		}
	}
}
.menuSpacerNormal {
	height: 44px;
	@include break(mobile){
		height: 30px;
	}
}
.wrapper {
	width: 90%;
	max-width: $desk;
	margin: 0 auto;

	.TopAd {
		max-width: 970px;
		width: 100%;
		height: auto;
		@include break(mobile){
			width: auto;
			padding: 10px 0px;
			
		}
	}
	@include break(tablet) {
		width: 94%;
	}
}

#content {
	background-color: $light-grey;
	z-index: 1;
	position: relative;
	left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0;

	@include break(mobile) {
		-webkit-transition: left 0.3s ease-in-out 0s;
		transition: left 0.3s ease-in-out 0s;
	}

	&.white {
		background-color: white;
	}

	.wrapper {
		padding: 25px 0;
		@include break(mobile) {
			width: 100%;
			padding: 25px 0px 0px 0px;
		}
	}
	
	.group-left {
		@include col(2,3,2);
	}
	
	.group-right {
		@include col-last(1,3,2);
	}
	
	p {
		padding: 0 0 25px;
		line-height: 1.5;
		color: #282828;

		&.small, &.byline {
			font-size: 0.8em;
		}

		&.grey {
			font-size: 0.8em;
			color: #555;
			a {
				color: #555;
				border-bottom: 1px solid #D0DCEB;
				box-shadow: inset 0 -2px 0 #D0DCEB;
			}
		}

		&.img-white {
			background: #fff;
			margin: 0 0 25px;
			padding: 15px 0;
			text-align: center;
			border-top: 4px solid #eee;
			border-bottom: 4px solid #eee;

			img {
				max-width: 98%;
			}
		}

		&.side-quote {
			font-size: 1.45em;
			line-height: 1.4em;
			margin: 5px auto 25px;
			padding: 10px;
			text-align: center;
			color: #105ab2;

			@include break(v-mobile) {
				margin: -5px auto 25px;
			}
		}

		&.side-quote-right {
			float: right;
			width: 270px;
			margin: 5px 0 10px 10px;
			font-size: 1.45em;
			line-height: 1.4em;
			padding: 10px;
			color: #105ab2;

			@include break(v-mobile) {
				width: auto;
				float: none;
				text-align: center;
				margin: -5px auto 25px;
			}
		}

		&.side-quote-left {
			float: left;
			width: 270px;
			margin: 5px 13px 10px 0;
			font-size: 1.45em;
			line-height: 1.4em;
			padding: 10px;
			padding-left: 0;
			color: #105ab2;

			@include break(v-mobile) {
				width: auto;
				float: none;
				text-align: center;
				margin: -5px auto 25px;
			}
		}

		&.side-guest {
			width: 220px;
		    margin: 5px 0 10px 15px;
		    float: right;
		    background-color: #eee;
		    padding: 15px;
		    font-size: 13px;
		    line-height: 23px;

		    @include break(v-mobile) {
				width: 130px;
			}
		}
		
	}
}


// Styling title for article & news
.article, .news { 
 	.articleBody {
 		p {
	 		a {
				box-shadow: inset 0 -5px 0 #D0DCEB;
				color: inherit;
				padding-bottom: 2px;

				&:hover {
					color: inherit;
					box-shadow: inset 0 -5px 0 #FBBB76;
					padding-bottom: 2px;
					//transition: ease 0.2s;
				}
				&:active {
					position: relative;
					top: 1px;
				}
				
				.vm-hook, .itxtrst, .itxtrstspan, .itxtrst span {
				    color: #333;
				}
	 		}
	 	}
	    h2 {
			padding: 10px 0 20px;

			&.subtitle {
				padding: 0 0 20px;
			}

			@include break(mobile) {
				font-size: 1.4em;
			}
	    }

	    h3 {
			padding: 10px 0 20px;

			@include break(mobile) {
				font-size: 1.25em;
			}
	    }

	    h4 {
			padding: 6px 0 12px;

			@include break(mobile) {
				font-size: 1.15em;
			}
	    }

	    table {
			margin-bottom: 30px;
			overflow-x: auto;

			@include break(v-mobile) {
				display: block;
			}	
	    }
	    
	}
}

.video-container amp-youtube,
.video-container amp-vimeo {
	margin: 20px 0;
}