@import
"_reset.scss",
"_variables.scss",
"_base-grid.scss",
"_base-mixins.scss",
"_mixin.scss";

$isAMP: 'true';
@import
"_mobileMenu.scss",
"_footer.scss",

//Downloads
"components/_search-box.scss",
"components/_tabbar.scss",
"downloads/_download.scss",
"downloads/_interior_download.scss",

"components/_chicklets.scss";

/**** MAIN ***/
.hidden {
	display: none;
	visibility: hidden;
}


/**** HEADER ****/
#header-ts {
	position: fixed;
	width: 100%;
	z-index: 1100001;
	line-height: $header-height;
	height: $header-height;
	top: 0;
	left: 0;

	.header-top {
		background: $dark-blue;
		position: relative;
		z-index: 2;
		//@include break(mobile){
			border-bottom: 5px solid #105ab2;
			box-shadow: 0 4px 0px rgba(34,25,25,0.1);
		//}
		.wrapper {
			padding: 0;
			line-height: $header-top-line-height;
		}
	}

	&.interior{
		line-height: $header-interior-height;
		height: $header-interior-height;

		@include break(mobile){
			line-height: $header-mobile-height;
			height: $header-mobile-height;
		}
		.header-top {
			.wrapper {
				line-height: $header-interior-line-height;
				//@include break(mobile){
					line-height: $header-interior-line-height-mobile;
				//}
			}
		}
		h1#logo {
			background-size: 175px;
			line-height: $header-interior-line-height;
			height: $header-interior-line-height;
			padding-bottom: 3px;
			width: 160px;

			&:hover{
				padding-bottom: 3px;
			}

			a {
				line-height: $header-interior-line-height;
			}

			@include break(mobile) {
				background-size: 165px;
				margin-left: 32px;
				height: 49px;
			}
			@include break(v-mobile) {
				height: 49px;
			}
		}
	}
	h1#logo {
		text-indent: -9999px;
		background-image: url(/images/logo-techspot.svg);
		background-repeat: no-repeat;
		background-position: -8px center;
		line-height: $header-top-line-height;
		background-size: 200px;
		height: 45px;
		line-height: 45px;
		width: 185px;
		margin-left: 30px;

		&:hover{
			background-color: #0c468d;
			padding: 0 14px 0px 0px;
			margin-left: 16px;
			border-left: 14px solid #0c468d;
		}

		@include break(mobile){
			margin-left: 32px;
			width: 160px;
			height: 52px;
			background-size: 170px;

			&:hover{
				padding: 0 4px 0px 0px;
				margin-left: 26px;
				border-left: 6px solid #0c468d;
			}
		}

		@include break(v-mobile){
			width: 160px;
			height: 52px;
		}
		a {
			display: block;
			width: 189px; height: $header-top-line-height;
			line-height: $header-top-line-height;
		}
		
	}
}
#Mobileheader {
	width: 250px;
	height: 100%;
	overflow: hidden;
	background: #263340;
	position: fixed;
	z-index: 10;
	top: 0;
	//left: -250px;

	//@include break(mobile) {
		-webkit-transition: left 0.3s ease-in-out 0s;
		transition: left 0.3s ease-in-out 0s;
	//}

	#flyout-main-menu {
		padding: 0px 0px;
		#logo {
			/*
			// QUEDA ESCONDIDO
			text-indent: -9999px;
			background-image: url(/images/logo-techspot.svg);
			background-repeat: no-repeat;
			background-position: left center;
			width: 189px; height: auto;
			background-size: contain;
			line-height: 45px;
			width: 160px;
			margin-left: 10px;
			*/
			height: 52px;
			margin-bottom: 7px;
			
			/*
			a {
				display: block;
				width: 189px; height: 40px;
			}
			*/

		}
		.wrapper {
			width: 100%;
		}
		.wrapper ul li{
			line-height: 40px;
			width: 100%;
			border-bottom: 1px solid #394d60;

			a {
				color: white;
				text-transform: uppercase;
				font-size: 0.85em;
				font-family: Roboto Condensed;
				width: 100%;
				display: block;
				padding-left: 15px;

				/*
				&.blue {
					border-left: 4px solid $blue;
				}
				&.orange {
					border-left: 4px solid $orange;
				}
				&.red {
					border-left: 4px solid $red;
				}
				&.green {
					border-left: 4px solid $green;
				}
				&.purple {
					border-left: 4px solid $purple;
				}
				*/
			}
		}
	}
}


/**** SIDEBAR ****/
amp-sidebar {
	width: 250px;
	//padding-right: 10px;
}

/**** GENERIC STYLES ****/
body {
	background-color: $light-grey;
	font-family: $f-primary;
	font-size: 120%; 
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: none;
	transition: none;
}
article, aside, section {
	display: block;
}

a {
	text-decoration: none;
	color: #105ab2;
	&:hover { color: $red; }
}

a.offset { display: block; position: relative; top: -90px; visibility: hidden; }

ul,ol {
	margin: 0; padding: 0;
	li {
		margin: 0; padding: 0;
		list-style-type: none;
	}
}

h1 {
	color: #1e2833;
	font-weight: 500;
	font-size: 1.3em;
	
	&.lined {
		border-bottom: 2px solid #c3c3c3;
	}
	
	&.badge {
		line-height: 50px;
		background-image: url(/images/badge.svg);
		background-repeat: no-repeat;
		background-position: 25px top;
		padding-left: 110px;
		margin-bottom: 40px;
	}
}

.clearfix {
	@include clearfix(before);
	@include clearfix(after);
}
.jumpFix {
	display: block;
	height: 140px;
	margin: -140px 0 0;
	visibility: hidden;
}

body.interior {
	.articleBody {
		font-family: $f-paragraph;
		font-size: .9em;
		font-weight: 400;
		color: #222;

		@include break(mobile){
			font-size: 0.95em;
		}

		b, strong {
			font-family: $f-primary;
			font-weight: 500;
		}

		h2 {
			font-family: $f-primary;
			font-weight: 500;
			font-size: 1.6em;
			line-height: 1.4;
		}
	
		h3 {
			font-family: $f-primary;
			font-weight: 500;
			font-size: 1.4em;
			line-height: 1.4;
		}
		
		h4 {
			font-family: $f-primary;
			font-weight: 500;
			font-size: 1.25em;
			line-height: 1.4;
		}

		.blue {
			color: $blue;
		}
		
		ul {
			margin-left: 5%;
			margin-bottom: 25px;
			font-size: 0.95em;
			line-height: 1.5em;
			li {
				list-style-type: square;
				margin-bottom: 10px;
			}
		}
		
		img {
			max-width: 100%;
			background: #f5f5f5;
		}

		/*
		img.big {
			max-width: none;
			width: 1020px;

			@include break(big-desk){
				width: $desk;
			}
			
			@include break(v-tablet){
				margin-left: 0;
				max-width: 100%;
				width: 100%;
			}
		}
		*/

		#news, #feature {
			h3 {
				font-weight: 500;
				font-size: 1.5em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
			
			h4 {
				color: $blue;
				font-weight: 400;
				font-size: 1.3em;
				line-height: 1.4;
				color: #222;
				padding: 5px 0 10px;
			}
		}

		.highlights {
			@include col-last(1,2,2);
			margin: 0 0 20px 40px;
			font-size: .95em;
			@include break(mobile){
				display: none;
			}
			h3 {
				color: $dark-grey;
				line-height: 1.5;
				padding: 0 0 15px 0;
				font-size: 1em;
			}
			ul {
				font-size: 0.85em;
				margin-bottom: 0;
				li {
					margin-bottom: 5px;
				}
			}
		}
	
	}

	&.news,
	&.product,
	&.download {
		#content-header {
			background-color: white;
			
			.wrapper {
				@include break(mobile) {
					width: 96%;
				}
			}

			.title-group {
				
				h1.large {
					font-weight: 500;
					font-size: 2.2em;
					line-height: 1.35;
					margin: 15px 0 5px;
					letter-spacing: -0.333px;

					@include break(mobile) {
						margin: 0;
						font-size: 1.75em;
					}
					@include break(v-mobile) {
						font-size: 1.5em;
						line-height: 1.3;
					}
				}

				h1.medium {
					font-weight: 500;
					font-size: 1.9em;
					line-height: 1.4;
					letter-spacing: -0.333px;
					@include break(mobile) {
						margin-top: 0;
						font-size: 1.75em;
					}
					@include break(v-mobile) {
						font-size: 1.5em;
					}
				}

				em {
					font-style: normal;
					font-size: .7em;
					line-height: 30px;
					color: black;

					@include break(v-mobile) {
						font-size: .65em;
					}

					a {
						color: black;
						font-weight: 500;
						border-bottom: 1px solid #ccc;
						padding-bottom: 3px;	
			
						&:hover {
						  border-bottom: 1px solid #ff7f00;
						}
					}

				}
			}
		}
		#content {
			amp-img.intro-image {
				margin-top: -52px;
				margin-bottom: 30px;
				width: 100%;
				height: auto;

				@include break(mobile){
					border: none;
					margin-bottom: 25px;
				}
			}
		}
	}

	nav.page-nav {
		@include col(1,1,0);
		margin-left: 0px;
		margin-top: 0px;
		float:right;
		padding-bottom: 10px;

		@include break(mobile){
			margin-top: 5px;
			margin-bottom: 20px;
		}

		a {
			font-weight: 400;
			font-size: 1.8em;
			span {
				display: block;
				color: #333;
				font-weight: 500;
				position: relative;
				text-transform: none;
				padding-right: 20px;
				font-size: 0.8em;	
			}
			strong {
				display: block;
				color: $blue;
				font-weight: 400;
			}
		}
	}

	.comment-count-block {
		background-image: url(/images/icon-comments-lg.svg);
		background-repeat: no-repeat;
		background-position: left 5px;
		height: 42px;
		overflow: visible;
		letter-spacing: -.333px;
		font-family: $f-primary;

		&.features {
			font-size: 0.8em;
			font-weight: 400;
			line-height: 2;
			height: 100px;

			@include break(mobile) {
				height: 42px;
				margin-bottom: 15px;
			}
			
			.count {
				font-size: 1.2em;
				font-weight: 500;
			}

			a {
				display: inline;
				padding-left: 0;
			}

			ul {
				li {
					padding-left: 60px;
				}
			}
		}

		a {
			display: block;
			line-height: 140%;
			padding-left: 60px;
			box-shadow: none;
			
			span {
				display: block;
				font-size: 1.1em;
				
				&.comment-count {
					color: $red;
					&:hover {
						font-weight: 500;
					}
				}
				&.interactions-count {
					color: #39579D;
					font-size: .9em;
					line-height: 1.75;
				}
			}
		}

		@include break(mobile) {
			margin-bottom: 30px;
		}
		
	}
}

.menuSpacerNormal {
	height: 44px;
	@include break(mobile){
		height: 30px;
	}
}
.wrapper {
	width: 90%;
	max-width: $desk;
	margin: 0 auto;

	.TopAd {
		max-width: 970px;
		width: 100%;
		height: auto;
		@include break(mobile){
			width: auto;
			padding: 10px 0px;
			
		}
	}
	@include break(tablet) {
		width: 94%;
	}
}

#content {
	background-color: $light-grey;
	z-index: 1;
	position: relative;
	left: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	@include break(mobile) {
		-webkit-transition: left 0.3s ease-in-out 0s;
		transition: left 0.3s ease-in-out 0s;
	}

	.wrapper {
		padding: 25px 0;
		@include break(mobile) {
			width: 100%;
			padding: 25px 0px 0px 0px;
		}
	}
	
	.group-left {
		@include col(2,3,2);
	}
	
	.group-right {
		@include col-last(1,3,2);
	}
	
	p {
		padding: 0 0 25px;
		line-height: 1.5;
		color: #282828;

		&.small, &.byline {
			font-size: 0.8em;
		}

		&.grey {
			font-size: 0.8em;
			color: #555;
			a {
				color: #555;
				border-bottom: 1px solid #D0DCEB;
				box-shadow: inset 0 -2px 0 #D0DCEB;
			}
		}

		&.img-white {
			background: #fff;
			margin: 0 0 25px;
			padding: 15px 0;
			text-align: center;
			border-top: 4px solid #eee;
			border-bottom: 4px solid #eee;

			img {
				max-width: 98%;
			}
		}

		&.side-quote {
			font-size: 1.45em;
			line-height: 1.4em;
			margin: 5px auto 25px;
			padding: 10px;
			text-align: center;
			color: #105ab2;

			@include break(v-mobile) {
				margin: -5px auto 25px;
			}
		}

		&.side-quote-right {
			float: right;
			width: 270px;
			margin: 5px 0 10px 10px;
			font-size: 1.45em;
			line-height: 1.4em;
			padding: 10px;
			color: #105ab2;

			@include break(v-mobile) {
				width: auto;
				float: none;
				text-align: center;
				margin: -5px auto 25px;
			}
		}

		&.side-quote-left {
			float: left;
			width: 270px;
			margin: 5px 13px 10px 0;
			font-size: 1.45em;
			line-height: 1.4em;
			padding: 10px;
			padding-left: 0;
			color: #105ab2;

			@include break(v-mobile) {
				width: auto;
				float: none;
				text-align: center;
				margin: -5px auto 25px;
			}
		}

		&.side-guest {
			width: 220px;
			margin: 5px 0 10px 15px;
			float: right;
			background-color: #eee;
			padding: 15px;
			font-size: 13px;
			line-height: 23px;

			@include break(v-mobile) {
				width: 130px;
			}
		}
		
	}
}

.video-container amp-youtube,
.video-container amp-vimeo {
	margin: 20px 0;
}

.wrapperMobileOnly {
	width: 94%;
	padding: 0 3%;
}

footer {
	margin-top: 60px;
}

.amp-ads {
	margin: 10px auto 20px;
	text-align: center;
}

.social-share {
	margin: 35px auto 25px;
    text-align: center;
    padding: 5px 0;
}
amp-social-share[type=whatsapp] {
	background-image: url(/images/social_share_ws.svg);
	background-color: #25d366;
}

.related-stories {
	h3 {
		font-weight: 500;
		font-family: $f-primary;
	}

	ul {
		li {
			margin-top: 15px;
			  > a {
				text-decoration: none;
				color: #105ab2;
				font-size: .9em;
			  }
		}
	}
}
.repartner {
	display: none;
}

/* Donwload Individual Style */
/*.individual-download amp-accordion > section > .-amp-accordion-content, */
amp-accordion > section > .-amp-accordion-header {
  padding: 15px;
}
.ratingValue {
	display: none;
}
.content_accordion {
  background-color: white;
}
body.interior.download #product_info .dw-desc {
  padding-left: 15px;
  padding-top: 10px;
}
span.number {
	background: #0557B5;
	border-radius: 19px;
	text-align: center;
	line-height: 19px;
	color: #fff;
	display: inline-block;
	width: 19px;
	height: 19px;
	font-size: 0.85em;
	margin-left: 2px;
	font-weight: 500;
	font-family: Roboto;
}
body.interior.download {
  #product_info .download-product .download-wrapper .download_button {
	float: left;
	margin-bottom: 8px;
	display: inline-block;
	width: 170px;
	height: 35px;
	background: url(http://static.techspot.com/images/download_button_3h.png) no-repeat;
	position: relative;
	background-size: 170px 70px;
	span {
	  text-indent: -1000px;
	  overflow: hidden;
	  position: absolute;
	  width: 32px;
	  left: 8px;
	  height: 35px;
	  background: url(http://static.techspot.com/images/download_button_arrow3.png) 0 0;
	  background-size: contain;
	  -webkit-transition: all 0.15s linear;
	  -moz-transition: all 0.15s linear;
	  -ms-transition: all 0.15s linear;
	  -o-transition: all 0.15s linear;
	  transition: all 0.15s linear;
	}
	&:hover {
	  background-position: left bottom;
	  span {
		background-position: 0 35px;
	  }
	}
  }
  #content-header .title-group h2 {
	font-size: .9em;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
  }
}

@media only screen and (max-width: 1150px) {
  body.interior.download #content-header .title-group figure {
	margin: 0 25px 0 -10px;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.download #content-header .title-group figure {
	margin: 0 15px 0 -10px;
  }
}

@media only screen and (max-width: 500px) {
  body.interior.download #content-header .title-group figure {
	float: right;
	margin: 0 0 0 10px;
  }
}

@media only screen and (max-width: 760px) {
  body.interior.download #content-header .title-group h2.hasfigure {
	padding: 0px;
  }
}

input {
  &[type=text], &[type=password] {
	width: 100%;
	background: white;
	border: none;
	font-size: 0.65em;
	line-height: 1.5;
	padding: 6px 8px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
	border-radius: 2px 2px 2px 2px;
  }
  &[type=text]:focus, &[type=password]:focus {
	outline: none;
  }
  &[type=submit] {
	display: inline-block;
	background: #105ab2;
	line-height: 14px;
	padding: 5px 16px;
	color: white;
	text-align: center;
	border: none;
	font-weight: 500;
	font-size: .6em;
	text-transform: uppercase;
	border-radius: 2px 2px 2px 2px;
	&:hover {
	  background: #136dd7;
	}
	&:active {
	  position: relative;
	  top: 1px;
	}
  }
}

body.interior.download #product_info .download-product .download-wrapper .editors_pick {
  margin: 20px 0 20px 0;
}

.editors_pick amp-img {
  width: 260px;
  height: 78px;
}

form {
  &.amp-form-submit-error [submit-error] {
	margin-top: 16px;
	font-size: 0.85em;
	margin-left: -9px;
  }
  &.amp-form-submit-success [submit-success] {
	margin-top: 16px;
	font-size: 0.85em;
	margin-left: -9px;
	color: green;
  }
  &.amp-form-submit-error [submit-error] {
	color: red;
  }
}

.specs div .stars {
  padding-top: 7px;
}

/* End Donwload Individual Style */

/* Driver Index Style */

.downloads-list {
  padding: 25px 0 0;
}

#content .driversTitle a {
  color: #c00;
  font-size: 22px;
  &:hover {
	padding-bottom: 1px;
	border-bottom: 1px solid #c00;
  }
}

.ad_home_driver {
  padding: 10px 0 40px;
}

.ad_rectangle_mobile_driver {
  margin: 15px 0 25px;
  text-align: center;
}

.post-load-more {
  margin: 20px 0px;
  width: 100%;
  border: 1px solid #dcdcdc;
  line-height: 45px;
  text-align: center;
  font-weight: 400;
  background-color: #F8F8F8;
  &:hover {
	background: #f6f6f6;
	border: 1px solid #ccc;
  }
}

/* End Driver Index Style */

/*  Driver Individual Style */
.browse_all{
  margin: -20px 0 10px 0;
}
/* / Driver Individual Style */