body.interior {
	&.download {
		#content-header {
			@if $isAMP != 'true' {
				.wrapper {
					padding: 25px 0;

					@include break(mobile){
						padding: 20px 0 10px;
					}
				}
			}

			.title-group {
				@if $isAMP == 'true' {
					.subver { //Same to subver in _interior.scss
						font-size: 0.75em;
						color: #777;
					}
				
				} @else {

					margin-top: 30px;

					@include break(tablet){
						margin-right: 0;
					}

					@include break(mobile){
						margin-top: 15px;
					}

					.wrapper {
						padding: 25px 0 35px;
					}
				}

				figure {
					@if $isAMP == 'true' {
						width: 100px;
						float: left;
					} @else {
						width: 100px !important;
						float: left !important;
						margin: 0 25px 0 -20px;

						@include break(tablet){
							margin: 0 25px 0 -10px;
						}
					}

					@include break(mobile){
						margin: 0 15px 0 -10px;
					}

					@include break(v-mobile){
						@if $isAMP != 'true' {
							float: right !important;
						} @else {
							float: right;
						}
						margin: 0 0 0 10px;
					}

					img {
						max-width: 100%;
						max-height: 110px;
					}
				}
				
				h2 {
					font-weight: 400;
					font-family: $f-primary;

					@if $isAMP == 'true' {
						color:#888;
						padding-bottom:15px;
						font-size: .8em;
						letter-spacing: -.333px;
					}
					@else {
						font-size: .9em;

						&.hasfigure {
							padding: 2px 300px 12px 106px;

							@include break(mobile){
								padding: 0px;
							}
						}

						p {
							@include break(mobile){
								padding: 0px;
							}
						}
					}
				}
			}
		}


		@if $isAMP != 'true' {
			.download-index-wrapper {
				@include break(mobile) {
					width: 96%;
					margin: 0 auto;
				}
			}
		}

		.download-index {
			@if $isAMP != 'true' {
				h1 {
					color: #1e2833;
					font-weight: 500;
					font-size: 2em;
					line-height: 1.4;
					margin-top: 15px;
					letter-spacing: -0.333px;

					@include break(mobile) {
						font-size: 1.5em;
					}
				}

				.page-intro {
					font-size: 0.8em;
					//font-weight: 300;
					margin: 10px 0;
				}
			}

			.downloads-table {
				margin: 15px auto 25px;
				color: #05408F;
				font-size: 0.9em;
				width: 100%;

				@include break(v-mobile) {
					margin: 25px auto;
				}

				td {
					height: 48px;
				}

				h2 {
					line-height: 35px;
					font-weight: 500;
					padding-left: 12px;

					@include break(v-mobile) {
						font-size: .85em;
						line-height: 1.2;
						padding-left: 7px;
					}

					a {
						&:hover {
							border-bottom: 1px solid #3470AA;
							padding-bottom: 1px;
						}
					}
				}
			}
		}

		.subtitle, .subtitle a {
			font-size: 22px;
			color: #c00;
		}
		//For Drivers
		.subtitle a:hover {
			padding-bottom: 1px;
			border-bottom: 1px solid #c00;
		}
		.ad_home_driver {
			padding: 10px 0 40px;
		}
		.browse_all{
			margin: -20px 0 10px 0;
		}
		//End

		.downloads-list {
			padding: 35px 0 0;

			@include break(mobile) {
				padding: 25px 25px 0 5px;
			}

			.subcats {
				margin-top: -20px;
				padding: 0 0 40px 2px;

				h4 {
					font-weight: 400;
					font-size: 0.7em;
					line-height: 1;
				}

				ul {
					font-size: 1.25em;
					li {
						margin-bottom: 5px;
					}
				}
			}

			ul {
				list-style-image: none;
				list-style-type: none;
				font-size: 13px;
				margin: 0;
				padding: 0;

				li {
					margin-bottom: 30px;
					line-height: 22px;

					.figure {
						display: block;
						float: left;
						width: 65px;
						height: 65px;
						background-repeat: no-repeat;
						background-size: contain;

						@include break(mobile) {
							width: 60px;
							height: 60px;
						}
					}

					.hasfigure {
						margin-left: 85px;

						@include break(mobile) {
							margin-left: 80px;
						}
					}

					.title {
						  a {
							color: #05408f;
							font-weight: 500;
							font-size: 1.5em;

							&:hover {
								border-bottom: 1px solid #3470AA;
								padding-bottom: 1px;
							}
						  }

						em {
							display: inline-block;
							margin-left: 10px;
							font-family: $f-helvetica-roboto;
							font-size: .6em;
							font-style: normal;
							padding: 0px 6px;
							color: white;
							text-transform: lowercase;

							&:hover {
								text-decoration: none;

								@if $isAMP == 'true' {
									border: none;
								} @else {
									border: none !important;
								}
							}

							&.editors-pick {
								background-color: #0088CC;

								&:hover {
									background-color: #00a0f0;
									text-decoration: none;
								}
							}
							
							&.popular {
								background-color: #e67200;

								&:hover {
									background-color: #ff7f00;
									text-decoration: none;
								}
							}
						}
					}

					.bio {
						line-height: 1.6;
						padding: 3px 0;
						font-weight: 400;
						color: #333;

						@if $isAMP == 'true' {
							p { padding: 0; }

							@include break(mobile){
								width: 100%;
							}
						} @else {
							p { padding: 0 !important; }

							@include break(mobile){
								width: 100% !important;
							}
						}
					}

					i {
						font-style: normal;
						color: #555;
					}

					@if $isAMP != 'true' {
						.download_rating {
							float: right;
							width: 100px;
							padding: 12px 0 0 10px;
							min-height: 40px;
							line-height: 1.7;
							font-size: .95em;

							.outof {
								font-size: .85em;
								letter-spacing: 2px;
								padding-left: 2px;
							}

							.votes {
								font-size: .9em;
							}

							@include break(v-mobile){
								display: none;
							}
						}
					}
				}
			}

			.subdown {
				list-style-type: none;
				font-size: 12px;
				font-weight: 400;
				color: #888;

				li {
					display: inline;
					border-right-width: 1px;
					border-right-style: solid;
					border-right-color: #bbb;
					padding-left: 14px;
					padding-right: 14px;
					&.left {
						padding-left: 0px;
					}
					&.right {
						border: none;
					}
					&.wide {
						@if $isAMP == 'true' {
							width: 25%;
						} @else {
							width: 25% !important;
						}
					}

					@include break(mobile) {
						padding-left: 8px;
						padding-right: 8px;
						border: none;
						@if $isAMP == 'true' {
							width: 28%;
						} @else {
							width: 28% !important;
						}
					}

				}

				&.drivers {
					background: white;
					font-size: 13px;
					margin: 8px 20px 2px 0px;
					padding: 8px 5px;
					border: 1px solid #eee;

					li {
						display: inline-block;
						margin-bottom: 0;
						text-align: center;
						width: 19%;
						border-right-color: #ddd;
					}
				}
			}

		/*
			.sorter {
				p {
					padding: 0;
				}
				p a:hover {
					background-color: #27333D;
					text-decoration: none;
				}
				float: right;
				font-size: 12px;
				position: relative;
				color: #333;
				text-align: right;
				z-index: 999;
				#sorted_by {
					font-weight: bold;
					text-transform: lowercase;
				}
				ul {
					position: absolute;
					display: none;
					right: 0;
					top: 18px;
					width: 120px;
					background: #F4F5F7;
					text-align: left;
					border: 1px solid #ccc;
					@include border-radius(2px);
					-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
					-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
					box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
				}
				.arrow {
					width: 10px;
					height: 10px;
					background: url(http://static.techspot.com/images/pf_show_sorter.png);
					display: inline-block;
					zoom: 1;
					*display: inline;
				}
				a {
					color: #333;
					background: none !important;
					padding: 0;
					text-shadow: none !important;
			  	}
				li {
					background: none;
					display: block;
					border: 0;
					height: 25px;
					line-height: 25px;
					margin: 0;
					padding: 0;
					.smaller {
						font-size: 11px;
					}
					a {
						display: block;
						padding: 0 5px;
						-webkit-transition: none;
						-moz-transition: none;
						-ms-transition: none;
						-o-transition: none;
						transition: none;
						&:hover {
							background: #32404D !important;
							color: #fff;
							text-decoration: none;
						}
					}
				}
			}
			*/
		}
	}
}