/**** ACCORDION ****/
.content_accordion {
	background-color: white;

	/*&.text{
		padding: 15px;
		line-height: 1.7em;
	}*/
}

body.interior {
	amp-accordion section {
		> h3 {
			font-weight: 500;
			background-color: #105ab2;
		}

		&:not([expanded]) {
			.SideTitle .arrow {
				@include triangle(left,white,4,6);
				float: right;
				margin-top: -18px;
			}
		}
		&[expanded] {
			.SideTitle .arrow {
				@include triangle(down,white,4,6);
				float: right;
				margin-top: -18px;
			}
		}
	}
}