@if $isAMP != 'true' {
	#comments {
		background: white;

		& > .wrapper {
			padding: 30px 0 10px 8px;
			position: relative;

			/*
			&:before {
				position: absolute;
				background-image: url(/images/icon-comments-lg.svg);
				background-size: contain;
				background-repeat: no-repeat;
				content:"";
				display: block;
				width: 55px; height: 45px;
				top: 35px; left: -10px;
				@include break(tablet){
					background-image: none;
				}
			}
			*/
		}
		.col-2-3 {
			width: 69%;
			@include break(v-tablet) {
				width: 100%;
			}
		}
		.col-1-3-last {
			width: 28%;
			@include break(v-tablet) {
				display:none;
			}
		}

		h3.title {
			color: #4484D0;
			font-size: 1.3em;

			span.small {
				font-size: 0.55em;
			}
		}
	  
		a.post-new-comment {
			display: inline-block;
			font-family: $f-condensed;
			background-image: url(/images/glyph-orange.svg);
			background-position: left 10px;
			background-repeat: no-repeat;
			font-size: .80em;
			color: $dark-grey;
			margin-bottom: 10px;
			padding: 10px 0 15px 28px;
		}

		.comment {
			font-size: .7em;
			border-top: 1px solid #eee !important;
			padding: 0 5px 15px 5px;

			cite {
				display: block;
				line-height: 50px;
				font-style: normal;
				padding-top: 10px;
			}

			time {
				display: inline-block;
				float: right;
				font-size: .9em;
				color: #888;

				a {
					color: #888;
				}
			}

			span.comment_likes {
				float: right;
				display: inline-block;
				font-size: 0.9em;
				color: #888;
				margin-right: 5px;

				a { color:#888; }

				@include break(mobile) {
					float: left;
				}
			}

			img.user-avatar {
				background: #eaeaea;
				width: 28px; height: 28px;
				//border: 1px solid #ddd;
				@include box-shadow($x:2,$y:2,$blur:0,$color:#ddd);
				margin: 0 10px 5px 0px;
			}

			a.user {
				color: $blue;
				font-weight: bold;
				font-size: 1.1em;
			}

			span.user_title {
				font-size: .9em;
				padding-left: 3px;
				color: #444;
			}

			.commentText {
				display: block;
				font-family: $f-paragraph;
				font-size: 15px;
				line-height: 1.5;
				margin-top: 5px;
				padding-right: 100px;

				@include break(mobile){
					padding-right: 0;
				}

				p {
					padding: 3px 0 5px;
				}

				img {
					max-width: 100%;
					padding: 10px 0;
				}

				.quote {
					color: #666;
					padding: 6px 10px 6px;
					margin-bottom: 10px;
					border-left: 5px solid #eee;
					font-size: 13px;
					line-height: 1.5;

					p {
						font-size: 13px;
						padding: 0 !important;		
					}

					img {
						max-height: 100px;
					}
				}
			}

			ul.action-links {
				text-align: right;
				margin: 0px 0 3px;

				li {
					display: inline-block;
					line-height: 100%;
					padding: 0 5px;
					text-transform: uppercase;
					font-size: .8em;
					font-weight: bold;

					&:first-child {
					  /* border-right: 1px solid #ccc; */
					}

					a {
						color: $blue;
						
						&:hover {
							color: #c00;
						}
					}
				}
			}
		}

		.recently-commented-stories {
			background-color: #fff;
			height: 50px;
			ul {
				text-align: center;
				color: #555;

				li {
					display: inline-block;
					color: $blue;
					font-size: 0.7em;
					margin: 20px 0px;
					padding: 0px 15px 0px 10px;
					line-height: 13px;
					&:first-child {
						border-right: 2px solid #ccc;
					}
				}
			}
		}
		.CommentOpt {
			font-size: 0.7em;
			position: relative;
			height: 100px;
			color: #444;
			.ontheleft {
				float: left;
				display: inline-block;
				line-height: 30px;

				@include break(mobile){
					display: none;
				}	
			}
			.ontheright {
				float: right;
				display: inline-block;
				line-height: 30px;
				@include break(mobile){
					line-height: 25px;
					float: none;
				}	
			}
			.ComBut {
				font-size: 1.1em;
				width: 300px;
				text-align: center;
				float: left;
				margin-top: 10px;
				color: black;
				text-shadow: 0 1px 0 rgba(255,255,255,0.9);
				cursor: pointer;

				padding-top: 5px;
				height: 30px;
				line-height: 25px;
				font-weight: 500;
				font-family: $f-primary;
				border: solid 1px #ccc;
				@include border-radius(5px);
				@include gradient-trans($start_color:#1E2933,$start_alpha:0,$end_color:#1E2933,$end_alpha:0.1);

				&.post {
					height: 36px;
					@include break(mobile){
						margin-top: 14px;
						width: 100%;
					}
				}
			}
		}

		#add-new-comment {
			background-color: #F5F5F5;

			h3 {
			  line-height: 200%;
			  font-weight: 500;
			}

			.tagline {
				margin: 0px 0 25px;
				font-size: .75em;
			}

			b, strong {
				font-weight: 500;

				@include break(v-mobile){
					font-size: 0.9em;
				}
			}

			.wrapper {
				padding: 25px 0 50px;
			}

			.signin_icon {
				display: block;
				background-image: url('http://www.techspot.com/images/signin_icon2.png');
				background-size: 60px 60px;
				width: 60px;
				height: 60px;
				margin-right: 10px;
				float: left;
				padding-bottom: 30px;
				background-repeat: no-repeat;

				@include break(v-mobile){
					display: none;
				}
			}

			.signin {
				margin: 15px 10px 0 0;
				font-size: 15px;
				line-height: 22px;
			}

			.social-login {
				margin: 12px 0 0;

				a {
					img {
						&:hover {
							opacity: 0.9;
						}
					}
				}
			}

			.textarea {
				min-height: 150px;
				padding: 8px;
				line-height: 1.3;
				font-size: 0.8em;
				font-family: $f-primary;
				border: 1px solid #AAA;
				@include border-radius(5px);
				-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2) inset;
				-moz-box-shadow: 0 0 6px rgba(0,0,0,0.2) inset;
				box-shadow: 0 0 6px rgba(0,0,0,0.2) inset;

				@include break(mobile){
					width: 94% !important;
				}
			}
		}

		.staff {
			display: inline-block;
			zoom: 1;
			vertical-align: middle;
			margin-right: 10px;
			background: url(/images/staff_badge.png) no-repeat;
			width: 59px;
			height: 22px;
			overflow: hidden;
			text-indent: -1000px;
			float: right;
			margin-top: 15px;
		}
	}
}


//Both AMP and Normal
.comments-pager{
	margin: 35px 0px 100px 0px;
	width: 100%;

	a:nth-last-child(2) li {
		border-right: 1px solid $grey;
	}

	
	@include break(v-mobile){
		a{
			display: none;
		}
		a:nth-child(1){
			display: inline;
		}
		a:nth-child(2){
			display: inline;
		}
		a:nth-child(3){
			display: inline;
		}
		a:nth-child(4){
			display: inline;
		}
		a:nth-child(5){
			display: inline;
			li {
				border-right: 1px solid $grey;
			}
			
		}
		a:nth-last-child(1){
			display: inline;
		}
	}
	

	ol { 
		counter-reset: item;
		list-style-type: none;
		margin: 0 auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;

		li {
			float: left;
			display: block;
			background: white;
			border-top: 1px solid $grey;
			border-left: 1px solid $grey;
			border-bottom: 1px solid $grey;
			font-size: 0.7em;
			font-weight: 600;
			text-align: center;

			&:hover,
			&.active {
				color: white;
				background: $blue;
			}

			@if $isAMP == 'true' {
				width: 38px;
				height: 38px;
				line-height: 38px;
				margin-right: 6px;
				border-right: 1px solid #bbb;
			
			} @else {
				width: 34px;
				height: 34px;
				line-height: 34px;

				@include break(mobile){
					width: 38px;
					height: 38px;
					line-height: 38px;
					margin-right: 6px;
					border-right: 1px solid #bbb;
				}
			}
		}
	}
	#PrevButton, #NextButton {
		list-style-type: none;
		margin-left: 5px;
		width: 50px;
		padding-left: 10px;
		border: 1px solid $grey;
		text-align: left;
		&:hover {
			a{
			color: white;
			}
		}
		.triangle {
			margin-left: 7px;
			width: 6px; height: 4px;
			position: absolute;
			@include triangle(right,$orange,4,6);

			@if $isAMP == 'true' {
				margin-top: 16px;

			} @else {
				margin-top: 13px;
				@include break(mobile){
					margin-top: 16px;
				}
			}
		}
	}
	/*	.pagenum:before { 
			content: counter(item) "  "; 
			counter-increment: item 
		}
	*/
}


body.interior {
	.comment-count-block {
		background-image: url(/images/icon-comments-lg.svg);
		background-repeat: no-repeat;
		background-position: left 5px;
		height: 42px;
		overflow: visible;
		letter-spacing: -.333px;
		font-family: $f-primary;
		float: left;

		@if $isAMP == 'true' {
			margin: 0 0 30px 0;
		} @else {
			@include break(mobile) {
				margin: 0 0 30px 0;
			}
		}

		&.article {
			margin-top: 20px;
		}

		&.features {
			font-size: 0.8em;
			font-weight: 400;

			@if $isAMP == 'true' {
				line-height: 2;

				height: 42px;
				margin-bottom: 15px;

			} @else {
				line-height: 2 !important;
				height: 100px;

				@include break(mobile) {
					height: 42px;
					margin-bottom: 15px;
				}
			}	
			
			.count {
				font-size: 1.2em;
				font-weight: 500;
			}

			a {
				display: inline;
				padding-left: 0;
			}

			ul {
				li {
					padding-left: 60px;
				}
			}
		}

		a {
			display: block;
			line-height: 140%;
			padding-left: 60px;

			@if $isAMP == 'true' {
				box-shadow: none;
			} @else {
				box-shadow: none !important;
			}
			
			span {
				display: block;
				font-size: 1.1em;
				
				&.comment-count {
					color: $red;
					&:hover {
						font-weight: 500;
					}
				}
				&.interactions-count {
					color: #39579D;
					font-size: .9em;
					line-height: 1.75;
				}
			}
		}
	}
}