body.interior {
	/*
	## nav.page-nav ## FOR DESKTOP WITH BANNER ON THE LEFT SIDE FLOATED

	nav.page-nav {
		margin-left: 330px;
		margin-top: -250px;
		@include break(v-tablet){
			//@include col(2,3,0);
			//margin-left: 0px;
		}

		@include break(mobile) {
			@include col(1,1,0);
			margin-left: 0px;
			margin-top: 0px;
			float:right;
			padding-bottom: 0px;
		}
		a {
			font-weight: 400;
			font-size: 1.8em;
			span {
				display: block;
				color: #333;
				font-weight: 500;
				position: relative;
				text-transform: none;
				padding-right: 20px;
				font-size: 0.8em;	
			}
			strong {
				display: block;
				color: $blue;
				font-weight: 400;
			}
		}
		.page-nav-wrapper {
			font-size: 1.15em;
			font-weight: 500;
			line-height: 1.3em;
			text-shadow: 1px 1px 4px #444;
			color: white;

			display: table;
			height: 140px;
			overflow: hidden;

			@include break(mobile){
				height: 120px;
			}
			
		}
		.page-nav-interior {
			display: table-cell; 
			vertical-align: middle;
		}
		&.prev-next {
			a {
				line-height: 140px;
				background: white;
				font-size: 0.8em;
				color: #666666;
				@include border-radius(2px);

				&.prev, &.next {
					&:hover {
						span {
							background-color: rgba(16, 90, 178, 0.9);
							@include transitions(0.2s);
						}
					}
				}

				&.prev {
					&:hover {
						span {
							&:after {
								@include triangle(left,#ff7f00,8,10);
								@include transitions(0.2s);
							}
						}
					}
				}

				&.next {
					&:hover {
						span {
							&:after {
								@include triangle(right,#ff7f00,8,10);
								@include transitions(0.2s);
							}
						}
					}
				}
				
				&.prev {
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					@include col(1,2,3);
					
					span {
						background-color: rgba(16, 90, 178, 0.8);
						
						@include border-radius(1px);
						height: 90px;
						line-height: 90px;
						@include transitions(0.1s);
						@include col(1,6,0);
						&:after {
								right: 0;
								top: 50%;
								content:"";
								display: block;
								position: absolute;
								width: 8px; height: 10px;
								@include triangle(left,white,8,10);
						}
						@include break(mobile) {
							font-size: 0;
							height: 120px;
						}
					}
					strong {
						background: linear-gradient(to bottom, rgba(31,41,51,0.1) 10%, rgba(31,41,51,0.72) 70%);
						@include col-last(5,6,0);
						height: 90px;
						@include break(mobile){
							height: 120px;
						}
					}
					.page-nav-wrapper {
						height: 90px;
						@include break(mobile) {
							height: 120px;
						}
					}

					@include col(1,1,3);
					margin-bottom: 30px;
					@include break(v-tablet) {
					}

					@include break(mobile) {
						@include col(1,2,3);
						margin-bottom: 0px;
					}
				}
				
				&.next {
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					
					@include col(1,1,3);
					margin-bottom: 20px;

					span {
						background-color: rgba(16, 90, 178, 0.8);
						
						@include border-radius(1px);
						@include col-last(1,6,0);
						&:after {		
								left: 0;
								top: 50%;
								content:"";
								display: block;
								position: absolute;
								width: 8px; height: 10px;
								@include triangle(right,white,8,10);
						}
						&:hover {
						}
						@include break(mobile) {
							font-size: 0;
							height: 120px;
						}
					}
					strong {
						background: linear-gradient(to bottom, rgba(31,41,51,0.1) 10%, rgba(31,41,51,0.72) 70%);
						@include col-last(5,6,0);
						height: 140px;
						@include break(mobile) {
							height: 120px;
						}
					}

					@include break(v-tablet) {
					}

					@include break(mobile) {
						@include col-last(1,2,3);
					}
				}
				
				span {
					font-weight: 400;
					padding: 0;
					text-align: center;
					color: white;
					background: #676767;
					
					&:after {
						//display: none;
						margin-top: -7px;
					}
				}
				
				strong {
					line-height: 155%;
					text-align: left;
					padding: 0 16px 0 16px;
					color: #555;
					font-size: 0.9em;

					@include break(mobile) {
						line-height: 125%;
						font-family: Roboto Condensed;
						font-size: 0.85em;
					}
				}
			}
		}
	}
	*/

	nav.page-nav {
		@include col(1,1,0);
		margin-left: 0px;
		float:right;
		padding-bottom: 10px;

		@if $isAMP == 'true' {
			margin-top: 5px;
			margin-bottom: 20px;

		} @else {
			margin-top: 0px;

			@include break(mobile) {
				margin-top: 5px;
				margin-bottom: 20px;
			}
		}

		a {
			font-weight: 400;
			font-size: 1.8em;
			span {
				display: block;
				color: #333;
				font-weight: 500;
				position: relative;
				text-transform: none;
				padding-right: 20px;
				font-size: 0.8em;	
			}
			strong {
				display: block;
				color: $blue;
				font-weight: 400;
			}
		}

		@if $isAMP != 'true' {
			.page-nav-wrapper {
				font-size: 1.15em;
				letter-spacing: -.333px;
				font-weight: 500;
				line-height: 1.3em;
				text-shadow: 1px 1px 4px #444;
				color: white;
				display: table;
				height: 100px;
				overflow: hidden;

				@include break(mobile) {
					font-size: 1.15em;
					height: 140px;
				}
			}
			.page-nav-interior {
				display: table-cell; 
				vertical-align: middle;
			}

			&.prev-next { 
				display: none;
			}
		}

		/*
		&.prev-next {
			a {
				line-height: 100px;
				background: white;
				font-size: 0.8em;
				color: #666666;
				@include border-radius(2px);

				@include break(mobile) {
					line-height: 140px;
				}

				&.prev, &.next {
					&:hover {
						span {
							background-color: rgba(16, 90, 178, 0.95);
						}
					}
				}

				&.prev {
					&:hover {
						span {
							&:after {
								@include triangle(left,#ff7f00,8,10);
							}
						}
					}
				}

				&.next {
					&:hover {
						span {
							&:after {
								@include triangle(right,#ff7f00,8,10);
							}
						}
					}
				}
				
				&.prev {
					// background: url('http://www.techspot.com/images2/news/ts3_thumbs/2014-08-18-ts3_thumbsfeb.jpg');
					background-repeat: no-repeat;
					background-size: cover !important;
					background-position: center center;
					@include col(1,2,1.5);
					
					span {
						background-color: rgba(16, 90, 178, 0.8);
						@include border-radius(1px);
						@include col(1,6,0);
						&:after {
								right: 0;
								top: 50%;
								content:"";
								display: block;
								position: absolute;
								width: 8px; height: 10px;
								@include triangle(left,white,8,10);
						}
						@include break(mobile) {
							font-size: 0;
						}
					}
					strong {
						background: linear-gradient(to bottom, rgba(31,41,51,0.1) 10%, rgba(31,41,51,0.72) 70%);
						@include col-last(5,6,0);
					}
					.page-nav-wrapper {
					}					
				}
				
				&.next {
					// background: url('http://www.techspot.com/images2/news/ts3_thumbs/2014-08-18-ts3_thumbsfeb.jpg');
					background-repeat: no-repeat;
					background-size: cover !important;
					background-position: center center;
					@include col-last(1,2,2);

					span {
						background-color: rgba(16, 90, 178, 0.8);
						// background: #B2B9BE;
						@include border-radius(1px);
						@include col-last(1,6,0);
						&:after {		
								left: 0;
								top: 50%;
								content:"";
								display: block;
								position: absolute;
								width: 8px; height: 10px;
								@include triangle(right,white,8,10);
						}
						&:hover {
						}
						@include break(mobile) {
							font-size: 0;
						}
					}
					strong {
						background: linear-gradient(to bottom, rgba(31,41,51,0.1) 10%, rgba(31,41,51,0.72) 70%);
						@include col-last(5,6,0);
					}
				}
				
				span {
					font-weight: 400;
					padding: 0;
					text-align: center;
					color: white;
					background: #676767;
					
					&:after {
						margin-top: -7px;
					}
				}
				
				strong {
					line-height: 155%;
					text-align: left;
					padding: 0 16px 0 16px;
					color: #555;
					font-size: 0.9em;

					@include break(mobile) {
						line-height: 125%;
						font-size: 0.85em;
					}
				}
								
			}
			
		}
		*/
	}
}