.slide-sort-selector {
	border-bottom: 2px solid $blue;
	margin-bottom: 25px;
	
	ul {
		position: relative;
	}
	
	li {
		display: inline-block;
		line-height: 45px;
		
		@if $isAMP != 'true' {
			&.indicator {
				margin: 0 !important;
				display: block;
				position: absolute;
				left: 0; bottom: 0;
				width: 5px; height: 7px;
				@include triangle(up,$blue,5,7);
			}
		}
	}
	
	.post-type-selector {
		float: left;
		@if $isAMP != 'true' {
			ul {
				li {
					font-family: $f-condensed;
					font-weight: 600;
					font-size: 0.95em;
					text-transform: uppercase;
					margin-right: 30px;
					text-shadow: 0 1px 0 #fff;
					
					a {
						color: #999;
						
					}
					
					&.active {
						a {
							color: #4b4b4b !important;
							text-shadow: none !important;
						}
					}
				}
			}
		}
	}
	
	@if $isAMP != 'true' {
		.layout-selector {
			float: right;
			li {
				font-size: .55em;
				font-weight: 500;
				text-transform: uppercase;
				letter-spacing: -0.333px;
				
				&.standard,
				&.full {
					//padding-left: 35px;
					margin-right: 20px;
					a {
						display: block;
						position: relative;
						padding-left: 15px;
						color: #888;
						&:before {
							content:"";
							display: block;
							position: absolute;
							left: 0px; top: 50%;
							margin-top: -3px;
							width: 10px; height: 7px;
							background-image: url(/images/icons-layout.png);
						}
					}
				}
				&.active {
					a{
						color: #4b4b4b;
					}
				}
				
				&.standard {
					
				}
				
				&.full {
					a {
						&:before {
							background-position: right center;
						}
					}
					margin-right: 5px;
				}
				
				a {
					
				}
			}
			@include break(v-mobile){
				display: none !important;
			}
		}
	}
}