.slider {
	margin: 0; padding: 0;
	height: 350px;
	.slide {
		margin: 0; padding: 0;
		list-style-type: none;
		font-weight: 300;
		position: relative;
		background: white;
		//@include trans-bg(#FFF,.8);
		@include outer-glow(30);
		
		.slide-img {
			background-size: cover;
			background-position: center center;
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 50%;
			
			@include break(mobile) {
				position: static;
				height: 330px;
				background-position: center center;
			}
		}
		
		.slide-content {
			//background: white;
			margin-left: 50%;
			color: #333;
			@include break(mobile) {
				margin-left: 0;
			}
			
			.button {
				display: inline-block;
				background: $green;
				padding: 7px 25px;
				color: white;
				@include transitions($delay:.2s);
				&:hover {
					background: darken($green,10%);
				}
				
				&.rounded {
					@include border-radius(3px);
				}
				
			}
			
			.pad {
				padding: 30px;
				@include break(mobile) {
					padding: 15px 0;
				}
			}
			
			h1 {
				//color: black;
				font-weight: 600;
				font-size: 1.6em;
				line-height: 35px;
				margin: 0; padding: 0;
				
				a {
					//color: white;
					color: $dark-grey;
				}
				
				@include break(mobile) {
					font-size: 1.2em;
					font-weight: 600;
					line-height: 30px;
				}
				
			}
			
			.meta {
				//border: 2px solid #36405f;
				font-size: .7em;
				padding: 5px 0;
				text-transform: uppercase;
				color: #c9c9c9;
				//margin-bottom: 15px; 
				
				a {
					color: #c9c9c9;
				}
				
				span {
					float: right;
					text-transform: none;
					color: #606473;
					font-weight: normal;
					a {
						color: inherit;
					}
				}
				
			}
			
			.post-date {
				color: #96999d;
				font-weight: 300;
				font-size: .8em;
			}
			
			p {
				//font-family: Arial, sans-serif;
				font-size: .8em;
				line-height: 22pt;
				padding: 10px 0 15px;
				margin-bottom: 15px;
				font-weight: light;
				@include break(mobile) { 
					display: none;
				}
			}
			
			.button {
				font-size: .8em;
				font-weight: 600;
			}
			
		}
		
	}
}
#featured_content_pagination {
	//position:relative;
	text-align:center;
	padding-top: 15px;
	
	li {
		display:inline-block;
		width:10px;
		height:10px;
		text-align:left;
		text-indent:-8000px;
		list-style:none;
		cursor:pointer;
		margin:0 2px;
		margin-top: 0;
		background: transparent;
		border: 2px solid rgba(255,255,255,.5);
		@include border-radius(50%);
		@include transitions();
		
		&.current {
			background: white;
			
		}
		
		&.prev, &.next {
			background: transparent;
			position: absolute;
			display: inline-block;
			text-indent: -9999px;
			width: 25px; height: 25px;
			top: 60%;
			//margin-top: -28px;
			//background-image: url(//cdn2.content.compendiumblog.com/uploads/user/6845341e-d92f-4ca9-aa1b-e6b61e175503/f0ceaf30-0c29-4948-9234-8354687cab4d/Image/1679848396209daf0909b1bc3a89922d/slide_nav.png);
			background-repeat: no-repeat;
			border: none;
			@include border-radius(0);
			
			@include break(tablet) {
				bottom: 40px;
				top: auto;
			}
			
		}
		
		&.prev {
			left: 5%;
			background-position: left center;
			@include triangle(left,white,20,20);
		}
		
		&.next {
			right: 5%;
			background-position: right center;
			@include triangle(right,white,20,20);
		}
		
		&:hover, &:active {
			
		}
		
	}
}

#post_list_pagination_0,
#post_list_pagination_1,
#post_list_pagination_2,
#post_list_pagination_3 {
	li {
		border: none;
		background: #bbbbbb;
		&.current {
			background: #02519c;
		}
	}
}

#related-pagination {
	position: relative;
	padding-bottom: 5px;
	li{
		border: none;
		background: #c6c6c6;
		&.prev, &.next {
			background: #d9dadc;
			position: absolute;
			display: inline-block;
			text-indent: -9999px;
			width: 24px; height: 24px;
			top: -180px;
			//margin-top: -28px;
			background-image: url(//cdn2.content.compendiumblog.com/uploads/user/6845341e-d92f-4ca9-aa1b-e6b61e175503/f0ceaf30-0c29-4948-9234-8354687cab4d/Image/1679848396209daf0909b1bc3a89922d/slide_nav.png);
			background-repeat: no-repeat;
			border: 1px solid #c4c4c4;
			background-size: 150%;
			@include border-radius(50%);
		}
		
		&.prev {
			background-position: 8px center;
			left: 1%;
		}
		&.next {
			right: 1%;
			background-position: -19px center;
		}
		
	}
}


.slider-pager {
	float: right;
	padding-top: 10px;
	font-size: .9em;
	li {
		display: inline-block;
		//background: #71b843;
		padding: 4px 15px;
		@include border-radius(50px);
		
		a {
			color: #2e3236;
		}
		
		&.active {
			background: #71b843;
			a {
				color: white;
			}
		}
		
	}
}