.tabbar {
	height: 33px;
  	line-height: 33px;
  	position: relative;

	.active {
		bottom: 3px;
		line-height: 33px;
		height: 36px;
		background-image: linear-gradient(to top, #F2F4F8, #e7e9ee 50%, #e7e9ee);
  	}
	h3 {
		cursor: pointer;
		background-color: #e7e9ee;
		color: #1e2933;
		font-weight: 500;
		margin-right: 3px;
		text-transform: uppercase;
		float: left;
		font-size: 14px;
		padding: 0 16px;
		text-align: center;
		bottom: 3px;
		position: relative;
		height: 33px;

		@if $isAMP != 'true' {
			&:hover {
			  background-color: #d3dce6;
			}

			@include break(v-mobile){
				padding: 0 3.5%;
			}
			@include break(sm-mobile){
				padding: 0 2%;
			}

			a {
				color: #1e2933;
			  	
			  	&:hover {
					color: #1e2933;
			  	}
			}
			&.pricetab {
				background-color: #59a059;
				color: white;
			
				&:hover {
					background-color: #339933;
			  	}
			}

			span.number {
				background: #0557B5;
				border-radius: 14px;
				text-align: center;
				line-height: 18px;
				color: #fff;
				display: inline-block;
				width: 18px;
				height: 17px;
				font-size: 0.85em;
				margin-left: 2px;
				font-weight: 500;
				font-family: Roboto;
			}

			span.number.large {
				line-height: 20px;
				width: 22px;
				height: 20px;
			}
		}
	}

	&.single {
		h3 {
			text-transform: none;
			font-weight: 400;
			font-size: 15px;
			padding-top: 4px;
		}
	}

	@if $isAMP != 'true' {
		&:after {
			height: 28px;
			width: 100%;
			position: absolute;
			bottom: -28px;
			left: 0;
			display: block;
			content: '';
			background-image: linear-gradient(to top, #fff, #e7e9ee);
			width: 100%;
			background-image: none;
			bottom: -5px;
			height: 5px;
			background-color: #F2F4F8;
		}
	}
}
