header {
	.hoverOrange {
		background-color: $orange;
	}
	$line-height: 43px;
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	line-height: $line-height;
	height: $line-height;
	#main-menu #dk_menu{
		#SpecialHeightF {
			.nav-submenu {
				height: 335px;
				@include break(tablet) {
					height: 455px;
				}
			}
		}	
		#SpecialHeightD {
			.nav-submenu {
				height: 300px
			}
		}
	} 
	.withHeader {
		background-color: #8B9296 !important;	
	}
	#dk_menu {
		height: 42px;
		margin-left: -8px;
	}
	#main-menu #dk_menu > li {
		margin-right: -4px;
	}
	.header-top {
		background: $dark-blue;
		position: relative;
		z-index: 2;
		@include break(v-mobile){
			border-bottom: 5px solid #105ab2;
		}
		.wrapper {
			padding: 0;
			line-height: $line-height;
		}
		.right-links {
			float: right;
			line-height: $line-height;
			ul {
				li {
					display: inline-block;
					line-height: $line-height;
					@include break(mobile){
							line-height: 52px;
					}
					a {
						font-size: .7em;
						font-weight: 300;
						color: white;
					}
					
					&.login {
						background-image: url(/images/badge-right.svg);
						background-repeat: no-repeat;
						background-position: 10px center;
						padding-right: 10px;
						position: relative;
						@include break(mobile) {
								padding-right: 0px;
								background-position: 8px 15px;
							}
						
						&:hover {
							background-image: url(/images/badge-right-active.svg);
							background-color: $orange;
							.login-dropdown {
								display: block;
							}
						}
						a {
							display: block;
							padding-left: 38px;
							text-transform: uppercase;
							font-weight: 400;
							@include break(mobile) {
								padding-left: 0px;
								text-indent: -9999px;
							}
							
						}
						.login-dropdown {
							display: none;
							position: absolute;
							width: 280px;
							left: 50%;
							margin-left: -140px;
							background: white;
							text-indent: 0;
							line-height: 25px;
							z-index: 100;
							@include break(mobile){
								right: 0%;
								left: 0%;
								margin-left: -175px;
							}
							@include break(v-mobile){
								margin-left: -212px;
								width: 250px;
							}
							
							.pad {
								display: block;
								padding: 10px 13px;
							}
							
							.top {
								margin-top: 12px;
							}
							
							h4 {
								font-size: 0.9em;
								font-weight: 400;
								line-height: 10px;
							}
							
							small {
								font-size: .55em;
							}
							
							a {
								color: $blue;
								font-size: 1em;
								line-height: normal;
								padding: 0;
								text-transform: none;
								display: inline;
							}
							
							.login {
								background: #EAEAEA;
								
								form {
									padding: 5px 0;
									
									label {
										display: block;
										margin-bottom: 5px;
										margin-right: 15px;
									}
									.login_error {
										color: #c00;
										font-size: 12px;
										padding: 15px 0px 0px;
									}
								}
								
							}
							
						}
						
					}
					
					&.social {
						background-image: url(/images/social-sprite.svg);
						background-repeat: no-repeat;
						background-position: left center;
						text-indent: -9999px;
						width: 17px;
						
						a {
							display: block;
						} 
						
						&.group {
							background-position: center center;
							width: 80px;
							margin-right: 20px;
							position: relative;
							@include break(mobile){
								display: none;
							}
							&:hover {
								background-color: $orange;
								.dropdown {
									display: block;
								}
							}
							
							.social-dropdown {
								display: none;
								position: absolute;
								width: 250px;
								left: 50%;
								margin-left: -125px;
								background: white;
								text-indent: 0;
								line-height: 25px;
								z-index: 100;
								
								.pad {
									display: block;
									padding: 15px 20px;
								}
								
								.social {
									h4 {
										font-weight: 400;
										font-size: .8em;
										display: inline-block;
									}
									a {
										font-size: 0.9em;
									}
									.WidgetArea{
										width: 70px;
										float: right;
										display: inline;
										margin: 5px 80px 0 0;
									}
								}
								.fb a {
									color: #0059B2;
								}
								.gp a {
									color: #B21A00;
								}
								.tw a {
									color: #00A3D8;
								}
								.yt a {
									color: #8C2200;
								}
								.st a{
									color: #326600;
								}
								.socialrow {
									padding: 0px 0px 7px 20px;
									font-family: "Roboto Condensed", sans-serif;
								}
								
								.rss {
									background-color: #EEEEEE;									
									a {
										background-image: url(/images/rss-icon.svg);
										background-repeat: no-repeat;
										background-position: 5px center;
										background-size: 23px;
										padding-left: 35px;
										color: $dark-grey;
										font-weight: 400;
									}
									
								}
								.newsletter {
									background-color: #DDDDDD;
									text-align: center;
									font-size: .7em;
								}
							}
							
						}
						
						&.google_plus {
							background-position: -17px center;
						}
						
						&.twitter {
							background-position: -40px center;
						}
						
						&.google_play {
							background-position: -63px center;
						}
						
						&.rss {
							background-position: -83px center;
							margin-right: 20px;
						}
						
						&.search {
							background-image: url(/images/search-icon.svg);
							background-position: center center;
							width: 32px;
							background-color: black;
							position: relative;
							@include break(v-mobile){
								background-position: center center;
							}
							
							&:hover,
							&.active {
								background-color: $orange;
								
								form {
									display: block;
								}
								
							}
							
							form {
								display: none;
								position: absolute;
								right: 0;
								top: $line-height;
								width: 220px;
								height: $line-height;
								z-index: 100;
								input {
									display: block;
									width: 100%;
									height: 34px;
									background: white;
									border: none;
									color: #333;
									padding: 0 15px;
									font-size: .81em;
									line-height: 25px;
									//height: 30px;
									@include border-radius(0);
									&::-webkit-input-placeholder { /* WebKit browsers */
							            color:    #DFDFD0;
							          }
							          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
							              color:    #DFDFD0;
							          }
							          &::-moz-placeholder { /* Mozilla Firefox 19+ */
							              color:    #DFDFD0;
							          }
							          &:-ms-input-placeholder { /* Internet Explorer 10+ */
							              color:    #DFDFD0;
							          }

																		
									&:focus {
										outline: none;
									}
									
								}
								
							}
							
						}
						
					}
					
				}
			}
		}
		
	}
	
	&.interior{
		$small-line-height: 32px;
		line-height: $small-line-height;
		height: $small-line-height;
		.header-top {
			.wrapper {
				line-height: $small-line-height;
			}
			.right-links {
				line-height: $small-line-height;
				ul {
					li {
						line-height: $small-line-height;
						&.login {
							@include break(mobile) {
								padding-right: 0px;
								background-position: 8px 6px;
							}
						}
						&.social {
							&.search {
								@include break(mobile){
									background-position: center 7px;
								}
								form {
									top: $small-line-height;
								}
							}
						}
					}
				}
			}
            
		}
		#MobileMenu a {
			padding-left:15px;
			padding-right: 15px;
			margin-left: -15px;
			position: relative;
			float: left;
		    svg {
		    	@include opacity(0);
		    	display: none;
				text-decoration: none;
				fill: white;
				float: left;
				height: $small-line-height;
				line-height:$small-line-height; 
				margin-top:3px;
				width: 15px;
				height: 30px;
				@include transitions (0.1s);
				@include break(mobile){
					display: block;
					@include opacity(1);	
				}	
			}
		}
		h1#logo {
			background-size: contain;
			line-height: $small-line-height;
			height: $small-line-height;
			padding-bottom: 3px;
			width: 160px;
			@include break(v-mobile){
				width: 150px;
			}
			a {
				line-height: $small-line-height;
			}
		}
		
		.menu {
  		font-size: .70em;
      line-height: 42px;
  
      .wrapper {
        & > ul {
  			& > li {
  				.nav-submenu {
  					top: 42px;
  				}
  			}
		}
      }
		}
		
	}
	
	.menu {
		background: $blue;
		font-size: .75em;
		line-height: 50px;
		position: relative;
		z-index: 1;
		box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
		font-size: .70em;
		line-height: 38px;
		@include break(mobile) {
			display: none;
		}
		.SubHeader {
			background: #777D82; 
			text-align: center;
			/*box-shadow: inset 0px 6px 5px 1px rgba(0, 0, 0, 0.15); */
			li {
				text-align: center;
				margin: 0px 15px;
				padding-bottom: 0!important;
				display: inline-block;
				text-transform: none;
				color: white;
				line-height: 20px;
				a:after {
					left: 0;
					top: 7px!important;
				}
				a {
					padding: 0 0 0 15px!important;
				}
			}
			li:hover {
				border-bottom: 1px solid white;
			}
			.OArrow{
				a:after {
					@include triangle(right,$orange,5,5);
				
				}
			}
			.GArrow{
				a:after {
					@include triangle(right,#77E805,5,5);
				}
			}
			.NoArrow {
				a {
					padding: 0 0 0 0 !important;
				}
				a:after {
					border: 0!important;
				}
			}	
		}
		#download {
			li:first-child {
				margin-left: 180px;
				@include break(tablet){
					margin-left: 580px;
				}
				@include break(v-tablet){
					margin-left: 0
				}
			}
			li:last-child {
				@include break(v-tablet){
					margin-right: 8%;
				}
					
			}
			@include break (tablet){
				text-align: left;
			}
			@include break (v-tablet){
				text-align: right;
			}
		}
		#forums {
			li:first-child {
				margin-left: -50px;
				@include break(tablet){
					margin-left: 450px;
				}
				@include break(v-tablet){
					margin-left: 390px;
				}
			}
			@include break (tablet){
				text-align: left;
			}
		}
		
		
		.wrapper {
			@include break(v-tablet){
				width: 94%;
			}
			& > ul {
			  
				& > li {
					display: inline-block;
					text-transform: uppercase;
					font-weight: 400;
					&:first-child a{
						
					}
					@include break(v-tablet) {
						margin-right: 0px;
					}
					a {
						color: white;
						position: relative;
						display: block;
						padding: 0 32px 0 15px;
						margin-top: 0px;
						
						@include break(tablet){
							padding: 0 32px 0 10px;
						}
						
						&:after {
							content:"";
							position: absolute;
							right: 15px;
							top: 50%;
							margin-top: -2px;
							width: 15px; height: 15px;
							@include triangle(down,white,5,5);
						}
						
						&.active {
							background: #777D82;
							height: 45px;
							line-height: 32px;
							z-index: 10;
							border-top: solid 4px #777D82;
							
							&:after {
  							margin-top: -9px;
							}
							
						}
						
					}
					
					&:hover {
  					background-color: lighten($blue,15%);
					}
					
					.nav-submenu {
						position: absolute;
						left: 0; top: 38px;
						width: 110%;
						margin-left: -5%;
						
						background: #777D82;
						height: 250px;
						/*box-shadow:0px 5px 7px 1px rgba(0, 0, 0, 0.15), inset 0px 6px 5px 1px rgba(0, 0, 0, 0.15); */
						
						.wrapper {
							padding: 30px 0;
							@include break(tablet){
								width: 85%;
							}
						}
						
					}
					.submenu-mini{
						position: relative;
						margin-top: -15px;
						li {
							line-height: 240%;
							font-weight: 500;	
							width: 89px;
							height: 120px;
							float: left;
							text-align: center;
							display: inline-block;	
							padding: 5px 10px 0px 10px;
							margin-left: 10px;
							&:hover {
								@include trans-bg(black,.2);
							}
							img {
								@include border-radius(5px);
							}
							h3 {
								display: block;
								font-family: $f-condensed;
								line-height: 15px;
								margin-top: 10px;
							}
						}
						
						a {
							padding: 0;
							text-transform: none;
							&:after {
								display: none;
							}
						}
					
					}
					.submenu {
						position: relative;
						
						li {
							width: 20%;
							line-height: 240%;
							display: block;
							font-weight: 500;
							//position: relative;
							&:first-child a {
								padding: 0 30px 0 15px;
							}
							a {
								text-transform: none;
								&:after {
									display: none;
								}
							}
							
							&.active {
								@include trans-bg(black,.7);
								& > a {
									position: relative;
									
									&:after {
										position: absolute;
										content:"";
										display: block;
										width: 7px; height: 7px;
										top: 50%; right: 5px;
										margin-top: -5px;
										@include triangle(right,$orange,5,7);
									}
								}
								
								ul.recent-items {
									display: block;
								}
								
							}
							
							ul.recent-items {
								display: none;
								position: absolute;
								left: 20%;
								top: 0;
								width: 80%;
								
								li {
									@include col(1,4,2);
									
									
									a {
										display: block;
										color: white;
										line-height: 120%;
										padding: 0px;
										@include transitions();
										font-size: 1.05em;
										text-align: center;
										padding-bottom: 10px;
										
										&:hover {
											@include trans-bg(black,.2);
										}
										
									}
									
									img {
										width: 100%;
										height: auto;
										margin-bottom: 15px;
									}
									
									&:nth-child(4) {
										@include col-last(1,4,2);
									}
									
								}
							}
							
						}
						
					}
					
				}
			}
		}
		
		
	}
	#MobileMenu a {
		padding-left:15px;
		padding-right: 15px;
		margin-left: -15px;
		position: relative;
		float: left;
	    svg {
	    	@include opacity(0);
	    	display: none;
			text-decoration: none;
			fill: white;
			float: left;
			height: $line-height;
			line-height:$line-height; 
			margin-top:2px;
			width: 15px;
			@include transitions (0.1s);
			@include break(mobile){
				height: 49px;
				display: block;
				@include opacity(1);
			}
			/*&:hover {
				fill: $orange;
			}*/
		}
	}
	h1#logo {
		text-indent: -9999px;
		background-image: url(../images/logo-header.png);
		background-repeat: no-repeat;
		background-position: left center;
		width: 189px; height: $line-height;
		line-height: $line-height;
		background-image: url(../images/logo-header-highres1.png);
	    background-size: contain;
	    height: 45px;
	    line-height: 45px;
	    width: 185px;
	    margin-left: 5px;
	    @include transitions (0.1s);
	    @include break(mobile){
		    margin-left: 32px;
		    height: 52px;
	    }
	    @include break(v-mobile){
		    width: 160px;
	    }
		a {
			display: block;
			width: 189px; height: $line-height;
			line-height: $line-height;
		}
		
	}
}
#Mobileheader {
	width: 250px;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	position: fixed;
	background: #2F373D;
	display: none;
	z-index: 0;
	@include break(mobile){
		display: block
	}
	#flyout-main-menu {
		padding: 0px 0px;
		#logo {
			text-indent: -9999px;
			background-image: url(../images/logo-header.png);
			background-repeat: no-repeat;
			background-position: left center;
			width: 189px; height: auto;
			background-image: url(../images/logo-header-highres1.png);
		    background-size: contain;
		    height: 55px;
		    line-height: 45px;
		    width: 160px;
		    margin-left: 14px;
		    margin-bottom: 6px;
		    margin-top: 5px; 
			a {
				display: block;
				width: 189px; height: 40px;
			}
	
		}
		.wrapper {
			width: 100%;
		}
    		.wrapper ul li{
			line-height: 50px;
			width: 100%;
			border-top: 1px solid #555;
			padding-left: 15px;
			a {
				color: white;
				text-transform: uppercase;
				font-size: 0.95em;
				font-family: Roboto Condensed;
			}
		}
	}
}
.activebar #MobileMenu a {
	width: 100%;
	height: 1000px;
	position: absolute !important;
}
