.also-looked-at {
	margin-bottom: 25px;
}

.expert-reviews-and-ratings {
	margin-bottom: 45px;
}

.also-looked-at,
.expert-reviews-and-ratings {
	@if $isAMP == 'true' {
		margin-bottom: 35px;
	} @else {
		@include break(mobile){
			margin-bottom: 35px;
		}
	}

	& > h3 {
		font-weight: 400;
		border-bottom: 2px solid $blue;
		line-height: 230%;
		
		span {
			position: relative;
			display: inline-block;

			&:after {
				position: absolute;
				content:"";
				display: block;
				left: 50%; bottom: 0;
				width: 5px; height: 7px;
				margin-left: -5px;
				@include triangle(up,$blue,4,6);
				@include break (v-mobile){
					display: none;
				}
			
			}
		}
	}

	ul.teaser-list {
		padding: 20px 0;
		
		li {
			font-size: .8em;
			background: #2D3842;
			margin-bottom: 20px;
			@include col(1,4,2);
			@include outer-glow(10,0,.2);

			&:nth-child(4),&:nth-child(8) {
				@include col-last(1,4,2);
			}

			a {
				color: white;
			}

			.img-wrap {
				background-size: 110%;
				background-repeat: no-repeat;
				background-color: white;
				background-position: center center;
				display: block;
				height: 150px;
				position: relative;
			
				.rating {
					font-family: $f-helvetica;
					font-weight: 500;
					color: white;
					font-size: 1.9em;
					position: absolute;
					display: inline-block;
					padding: 0 13px;
					line-height: 160%;
					bottom: 0; right: 0px;
					@include border-radius(2px);

					&.excellent {
						@include trans-bg($c-excellent,.9);
					}
					&.average {
						@include trans-bg($c-average,.9);
					}
					&.good {
						@include trans-bg($c-good,.9);
					}
					&.bad {
						@include trans-bg($c-bad,.9);
					}
					&.perfect {
						@if $isAMP == 'true' {
							padding: 0 5px;
						} @else {
							padding: 0 5px !important;
						}
					}
				}
			}

			h3 {
				text-align: center;
				padding: 10px;
				min-height: 42px;
				max-height: 42px;
				font-weight: 500;
			}
		}
	}

	&.expert-reviews-and-ratings {
		& > h3 {
			position: relative;
			margin-bottom: 10px;
			&:after {
				position: absolute;
				content:"";
				display: block;
				left: 60px; bottom: -8px;
				width: 5px; height: 7px;
				margin-left: -5px;
				@include triangle(down,$blue,4,6);
			}
		}
	}

	.comment {
		position: relative;
		padding: 15px 100px 0px 10px;
		min-height: 100px;

		@if $isAMP == 'true' {
			border-bottom: 1px solid #eee;
		} @else {
			border-bottom: 1px solid #eee !important;
		}
	
		&:nth-child(even) {
			background: #f5f5f5;
		}
	
		.rating {
			font-family: $f-helvetica;
			font-weight: 500;
			color: white;
			font-size: 1.5em;
			position: absolute;
			display: inline-block;
			padding: 0 15px;
			line-height: 180%;
			top: 30px; right: 15px;
			@include border-radius(2px);

			&.excellent {
				@include trans-bg($c-excellent,.9);
			}
			&.average {
				@include trans-bg($c-average,.9);
			}
			&.good {
				@include trans-bg($c-good,.9);
			}
			&.bad {
				@include trans-bg($c-bad,.9);
			}
			&.perfect {
				@if $isAMP == 'true' {
					padding: 0 5px;
				} @else {
					padding: 0 5px !important;
				}
			}

		}
	
		cite {
			line-height: 220%;
			font-style: normal;
			font-size: .8em;

			a {
				font-weight: 500;
			}

			time {
				@include break(mobile){
					display: block;
					margin-top: -10px;
					font-size: 0.8em;
					color: #888;
				}
			}
		}
	
		p {
			padding: 5px 0 15px;
			line-height: 1.5;
			font-size: .7em;
			font-weight: 400;
		}
	} 
}

//Related products or Product.php
.product .also-looked-at .teaser-list li{
	@include break(v-mobile){
		@include col(1,1,0);
		margin-bottom: 15px;
	}
	&:nth-child(4), &:nth-child(8){
		@include break(v-mobile){
			@include col(1,1,0);
		}
	}
}




#product_info {
	background: white;

	@if $isAMP != 'true' {
		figure {
			max-height: 435px;
			background: white;
			@include col(6,10,5);

			@include break(tablet) {
				margin-right: 2%;
				img {
					width: 96%;
					height: auto;
				}
			}

			.imgwrap ul li {
				img {
					max-width: 100%;
					max-height: 100%;
					width: auto;
					margin: 0 auto;
					display: block;
				}
			}

			.imgwrap .flex-viewport {
				overflow: hidden;
			}

			.imgwrap .flex-viewport ul li {
				display: block;
				position: relative;
				height: 435px;
				padding: 0;
				text-align: center;
				vertical-align: middle;
				overflow: hidden;

				img {
					max-width: 100%;
					max-height: 100%;
					width: auto;
					margin: 0 auto;
					display: block;
				}

				@include break(mobile) {
					height: 300px;
				}
			}
			/*
			.imgwrap .flex-viewport ul li::after {
				-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
				box-shadow: 0 0 30px rgba(0,0,0,0.05) inset;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
			}
			*/

			.imgwrap .flex-direction-nav a {
				opacity: 0;
				@include transitions(0.1s);
			}
			.imgwrap:hover .flex-direction-nav a {
				opacity: 0.1;
				@include transitions(0.1s);
			}
			.imgwrap:hover .flex-direction-nav a:hover {
				opacity: 0.9;
				@include transitions(0.1s);
			}

			.flex-control-nav {
				width: 100%;
				position: absolute;
				bottom: -45px;
				text-align: center;
				cursor: pointer;
				@include break(mobile) {
					bottom: -35px;
				}
				li {
					margin: 0 3px;
					display: inline-block;
					zoom: 1;
					cursor: pointer;
				}
			}
			.flex-control-paging li a {
				width: 5px;
				height: 5px;
				display: block;
				background: #AAA;
				cursor: pointer;
				text-indent: -9999px;
				border: 4px solid #fff;
			}
			.flex-active{
				background: $orange !important;
			}
			
			.flex-direction-nav {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				@include break (v-mobile) {
					display: none;
				}
				li {
					box-shadow: none;
					-webkit-box-shadow: none;
					&:before {
						box-shadow: none;
					}
				}
				a {
					text-indent: -9999px;
					position: absolute;
					display: block;
					background: url(/images/photoarrow.svg) no-repeat right center;
					background-size: 30px;
					height: 100%;
					
				}
			
				.flex-prev{
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					display: block;	
					width: 18%;
					left: 2%;
				}
				.flex-next{
					width: 78%;
					right: 2%;
				}
			}

			@include break(v-tablet) {
				@include col(1,2,5);
			}
			@include break(mobile) {
				width: 100%;
			}
		}
	}

	.product-desc {
		@include col-last(4,10,5);
		margin-top: 15px;
		
		@if $isAMP == 'true' {
			width: 100%;
			margin-top: 40px;

		} @else {
			@include break(tablet) {
				width: 40%;
			}

			@include break(v-tablet) {
				@include col-last(1,2,5);
			}

			@include break(mobile) {
				width: 100%;
				margin-top: 40px;
			}
		}
	
		.Prodcomment {
			margin: 15px 0px 15px;
			letter-spacing: -.333px;

			h3 {
				padding-left: 20px;
				margin-bottom: 5px;
				font-family: $f-condensed;
				font-weight: 400;
				
				a {
					border-bottom: solid 1px;
					padding-bottom: 3px;
				}
			}
			.pros h3, .cons h3 {
				@if $isAMP == 'true' {
					padding-left: 0;
				} @else {
					padding-left: 0 !important;
				}
			}
			p {
				font-family: $f-paragraph;
				font-size: 0.85em;
				border-left: 5px solid #ddd;
				padding: 0px 0px 0px 15px;
				margin: 0;
				color: #333;

				&.reviewed_by {
					border-left: none;
					font-size: .75em;
					font-family: $f-condensed;
					padding-left: 20px;
					margin: 5px 0;

					a {
						border-bottom: solid 1px;
						padding-bottom: 3px;
					}
				}

			}
			&.editorial p {
				border-left: none;
				padding: 0;
				font-size: 0.85em;
			}
			ul {
				li {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
		.price-widget {
			width: 100%;
			margin: 20px 0px;
			border-bottom: 0px solid #339933;

			.price-count {
				display: inline-block;
				background-color: #339933;
				color: white;
				margin-bottom: 0px;
				font-size: .7em;
				line-height: 34px;
				padding: 8px 0;
				font-weight: 600;
				float: left;
				text-align: center;

				@if $isAMP == 'true' {
					width: 30%;
					height: 17px;
				
				} @else {
					width: 23%;
					height: 34px;
					@include break(mobile) {
						width: 30%;
						height: 17px;
					}
				}

				@include break(v-mobile) {
					width: 20%;
					height: inherit;
				}
			}
			.price-int {
				float: left;
				display: inline;
				background-color: #f5f5f5;
				font-family: $f-condensed;
				line-height: 50px;

				@if $isAMP == 'true' {
					height: 33px;
					width: 68%;
				
				} @else {
					height: 50px;
					width: 75%;

					@include break(mobile) {
						height: 33px;
						width: 68%;
					}
				}

				@include break(v-mobile) {
					height: 50px;
					width: 78%;
				}

				a {
					padding-left: 15px;
					font-size: 1.4em;
					color: #075BC0;

					@if $isAMP != 'true' {
						&:hover {
							color: #c00;
						}
					}
				}

				span.onamazon {
					font-size: 0.75em;
					position: absolute;
					padding: 3px 0px 0px 5px;
				}
			}
			#artificialBorder {
				width: 2%;
				display: inline-block;
				float: left;
				background: #339933;

				@if $isAMP == 'true' {
					height: 33px;
				
				} @else {
					height: 50px;

					@include break(mobile) {
						height: 33px;
					}
				}
				@include break(v-mobile) {
					height: 50px;
				}
			}
		}
		.social-widget {
			width: 100%;
			margin: 20px 0px;
			border-bottom: 0px solid $orange;

			.social-count {
				display: inline-block;
				margin-bottom: 0px;
				font-size: 0.7em;
				line-height: 17px;
				padding: 8px 0;
				float: left;

				@if $isAMP == 'true' {
					width: 30%;
					height: 17px;
				
				} @else {
					width: 23%;
					height: inherit;

					@include break(mobile) {
						width: 30%;
						height: 17px;
					}
				}

				@include break(v-mobile) {
					width: 20%;
					height: inherit;
				}
			}
			.social-int {
				display: inline;
				float: left;
				background-color: $light-grey;

				@if $isAMP == 'true' {
					width: 68%;
					height: 33px;
				
				} @else {
					width: 75%;
					height: 50px;

					@include break(mobile) {
						width: 68%;
						height: 33px;
					}
				}

				@include break(v-mobile) {
					height: 50px;
					width: 78%;
				}

				span {
					@include col(1,3,0);
					display: block;

					li {
						@if $isAMP == 'true' {
							margin: 7px 0 0 15px;
						
						} @else {
							margin: 15px 0 0 15px;

							@include break(mobile) {
								margin: 7px 0 0 15px;
							}
						}

						@include break(v-mobile) {
							margin: 15px 0 0 15px;
						}
					}
				}
			}
			.social {
				background-image: url(/images/social-widget-bg-90.svg?v=#{$social-icons-version});
				position: relative;
				left: 50%;
				margin-left: -16px;
				line-height: 50px;

				@if $isAMP == 'true' {
					margin-top: 4px;
						
				} @else {
					margin-top: 12px;

					@include break(mobile) {
						margin-top: 4px;
					}
				}

				@include break(v-mobile) {
					margin-top: 12px;
				}
				
				&.facebook {
					width: 32px;
					background-position: 0px 1px;
				}
				&.twitter {
					width: 32px;
					background-position: -32px 1px;
				}
			
				&.google_plus {
					width: 32px;
					background-position: -65px 1px;
				}
				a {
					display: block;
					text-indent: -9999px;
					line-height: 30px;
				}
			}
			#artificialBorder {
				width: 2%;
				display: inline-block;
				float: left;
				background: $orange;

				@if $isAMP == 'true' {
					height: 33px;
						
				} @else {
					height: 50px;

					@include break(mobile) {
						height: 33px;
					}
				}

				@include break(v-mobile) {
					height: 50px;
				}
			}
		}
		.last-updated {
			margin: 15px 10px 0 15px;
			text-align: right;
			color: #666;
			font-size: .65em;
		}
		nav {
			font-family: $f-condensed;
			font-size: .9em;

			@if $isAMP == 'true' {
				width: 100%;
				text-align: center;
				padding: 18px 0px;

			} @else {
				text-align: left;
				padding: 10px 0;

				@include break(mobile) {
					width: 100%;
					text-align: center;
					padding: 18px 0px;
				}
			}

			ul {
				li {
					display: inline-block;
					line-height: 100%;
					&:first-child {
						border-right: 1px solid black;
						padding-right: 15px;
						margin-right: 10px;
					}

					a {
						color: black;
			
						span {
			
							&.red {
								color: $red;
							}
							&.blue {
								color: $blue;
							}
						}
					}
				}
			}
		}
	}

	.score {
		margin: 0 0 15px;

		@if $isAMP == 'true' {
			min-height: 125px;

		} @else {
			@include break(mobile) {
				min-height: 125px;
			}
		}

		.number {
			float: left;
			margin: 15px 5px 0;
			color: #fff;
			background-color: #075BC0;
			font-size: 44px;
			font-weight: 500;
			text-align: center;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
			@include border-radius(3px);

			@if $isAMP == 'true' {
				width: 86px;
				line-height: 78px;
				height: 78px;

			} @else {
				width: 82px;
				line-height: 80px;
				height: 80px;

				@include break(mobile) {
					width: 86px;
					line-height: 78px;
					height: 78px;
				}
			}

			@include break(v-mobile) {
				font-size: 42px;
				margin: 15px 0 0;
			}
		}
		.excellent {
			background-color: #00bf17;
		}
		.good {
			background-color: #075BC0;
		}
		.average {
			background-color: #6F22A0;
		}
		.bad {
			background-color: $red;
		}
		.none {
			background-color: #999;
		}

		.breakdown {
			font-size: 13px;

			@if $isAMP == 'true' {
				width: 65%;
				float: left;
				margin-left: 5%;
			
			} @else {
				margin-left: 110px;

				@include break(v-tablet) {
					//margin-left: 90px;
				}
				@include break(mobile) {
					width: 65%;
					float: left;
					margin-left: 5%;
				}
			}

			a {
				font-weight: 500;
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 10px 20px 0 0;
			}
			li {
				height: 16px;
				overflow: hidden;
			}
			h3 {
				font-weight: 500;
				font-size: 15px;
				line-height: 2em;
			}
			h5, .count, .bar {
				float: left;
				height: 20px;
			}
			h5 {
				font-size: 11px;
				margin: 0;
				font-weight: 500;

				@if $isAMP == 'true' {
					width: 20%;
				} @else {
					width: 60px;
					@include break(mobile) {
						width: 20%;
					}
				}

				@include break(v-mobile) {
					width: 23%;
					min-width: 54px;
				}
			}
			.count {
				font-size: 11px;
				text-align: right;
				float: right;

				@if $isAMP == 'true' {
					margin-left: 0;
					width: none;
				} @else {
					margin-left: 5px;
					@include break(mobile) {
						margin-left: 0;
						width: none;
					}
				}
			}
			.bar {
				@if $isAMP == 'true' {
					width: 70%;
				} @else {
					width: 150px;

					@include break(mobile) {
						width: 70%;
					}
				}

				@include break(v-mobile) {
					width: 60%;
				}
				div {
					background: $c-good;
					height: 8px;
					margin-top: 4px;
				}
				.excellent {
					background: $c-excellent;
				}
				.average {
					background: $c-average;
				}
				.bad {
					background: $c-bad;
				}
			}
		}

		&.bestof {
			border-bottom: 2px solid #eee;

			a {
				.awardlogo {
					text-align:center;

					img {
						max-height: 225px;
					}
				}

				.awardtext {
					font-size: 0.75em;
					text-align: center;
					color: #222;
					margin: -65px 45px 30px;
					line-height: 1.3;

					@if $isAMP != 'true' {
						&:hover {
							color: #222;
						}
					}

					span {
						font-size: 0.95em;
					}
				}

				.award {
					float: left;
					img {
						@if $isAMP == 'true' {
							width: 88px;
						} @else {
							width: 95px;
							@include break(mobile) {
								width: 88px;
							}
						}
					}
				}

				@if $isAMP != 'true' {
					&:hover {
						h3 {
							color: #c00;
						}
					}
				}

				.breakdown {
					padding: 8px 15px 32px 0;
					color: #000;
					font-weight: 400;

					@if $isAMP != 'true' {
						&:hover {
							color: #000;
						}
					}

					h3 {
						font-weight: 500;

						@if $isAMP != 'true' {
							&:hover {
								color: #c00;
							}
						}
					}
				}
			}
		}
	}

	.score_users {
		margin: 0 0 20px;
		padding-top: 16px;
		border-top: 2px solid #eee;

		@if $isAMP == 'true' {
			height: 60px;
		} @else {
			@include break(mobile) {
				height: 60px;
			}
		}

		.number {
			float: left;
			margin: 0px 7px;
			background-color: #f08804;
			font-size: 36px;
			font-weight: 500;
			color: #fff;
			text-align: center;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
			letter-spacing: -1px;
			width: 80px;
			height: 80px;
			line-height: 79px;
			@include border-radius(70px);

			@include break(v-mobile) {
				margin: 0 0 0 4px;
			}

			a {
				color: #fff;

				@if $isAMP != 'true' {
					&:hover {
						color: #fff;
					}
				}
			}
		}

		.breakdown {
			font-size: 13px;
			line-height: 1.4em;

			@if $isAMP == 'true' {
				width: 65%;
				float: left;
				margin-left: 5%;
			} @else {
				margin-left: 110px;
				@include break(mobile) {
					width: 65%;
					float: left;
					margin-left: 5%;
				}
			}

			a {
				font-weight: 500;
			}

			h3 {
				font-weight: 500;
				font-size: 15px;
				line-height: 2em;
			}
		}
	}

	.pros,
	.cons {
		border-left: 15px solid $red;
		padding-left: 10px;
		margin-bottom: 20px;
		margin-top: 10px;
		h3 {
			font-family: $f-condensed;
			font-weight: 400;
			font-size: 1em;
		}
	
		ul {
			font-size: .7em;
		}
	
		&.pros {
			border-left: 15px solid #0250C5;
		}
	}
	.pros {
		@if $isAMP == 'true' {
			@include col(1,2,5);
		} @else {
			@include break(mobile) {
				@include col(1,2,5);
			}
		}

		@include break(v-mobile) {
			@include col(1,1,0);
			margin-bottom: 0px;
		}
	}
	.cons {
		@if $isAMP == 'true' {
			@include col-last(1,2,5);
		} @else {
			@include break(mobile) {
				@include col-last(1,2,5);
			}
		}

		@include break(v-mobile) {
			@include col(1,1,0);
			margin-bottom: 20px;
		}
	}
}