body.interior {
	&.features, &.reviews, &.reviews-cat, &.features-cat {

		@if $isAMP != 'true' {
			.col-2-3{
				@include col-last(2,3,0);
				width: 80%;
				//padding: 0px 2% 0px 0px;
				@include break(mobile){
					width: 100%;
					padding: 0;		
					.wrapperMobileOnly {
						@include break(mobile){
							width: auto;
							margin-top: 15px;
						}
					}
				}
			}
		}
		.category {
			ul {
				@if $isAMP != 'true' {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				li {
					//Both: AMP and Normal
					min-height: 130px;
					border-bottom: 1px solid #E5E5E5;
					position: relative;

					h3 {
						line-height: 1.5;

						@if $isAMP != 'true' {
							@include break(v-mobile){
								font-size: 0.9em;
							}
						}
					}
					p {
						font-weight: 400;
						font-size: .6em;
						color: #666;

						@if $isAMP == 'true' {
							padding: 2px 0;

						} @else {
							padding: 2px 0 !important;
						}
					}
					@if $isAMP != 'true' {
						.desc {
							font-size: .75em;
							font-weight: 400;
							padding: 5px 0 !important;
							color: #333;
							font-family: $f-paragraph;
							line-height: 1.4;
								
							@include break(mobile){
								display: none;
							}
						}
						.more_info {
							float: right;
							right: 20px;
							top: 25px;
							position: absolute;

							@include break(mobile){
								display: none;
							}
							@include break(v-mobile){
								right: 2%;
								top: 19px;
							}
							
							.excellent {
								background-color: rgba(0,191,23,1);
							}
							.good {
								background-color: rgba(7,91,192,1);
							}
							.average {
								background-color: rgba(112,33,161,1);
							}
							.bad {
								background-color: rgba(204,0,0,1);
							}
							.none {
								background-color: rgba(153,153,153,1);
							}
							.score {
								font-size: 1.5em;
								color: #fff;
								text-align: center;
								font-weight: 500;
								height: 55px;
								line-height: 55px;
								width: 65px;
								@include border-radius(3px);
								text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
							}
						}
					}
				}
				@if $isAMP != 'true' {
					.alternate {
						background-color: white;
					}
				}
				.info {
					position: absolute;
					opacity: 1;
					margin-top: 5px;

					@if $isAMP == 'true' {
						left: 3%;

					} @else {
						left: 15px;
						@include break(mobile){
							left: 3%;
						}
					}
					/*
					@include break(v-mobile){
						position: relative;
						width: 100%;
						left: 0;
					}
					*/
				}
				.img{
					line-height: 120px;
					text-align: center;
					overflow: hidden;

					@if $isAMP != 'true' {
						width: 150px;
						height: 100px;

					} @else {
						width: 180px;
						height: 120px;
						@include break(v-mobile){
							width: 150px;
							height: 100px;
						}
					}
					/*
					@include break(v-mobile){
						width: 100%;
						height: auto;
						margin-bottom: 5px;
						img {
							width: 100%;
							height: auto;
						}
					}
					*/
				}
			}
		}
		#review {
			ul {
				li {
					@if $isAMP == 'true' {
						//Default for AMP
						padding: 12px 15px 12px 180px;
					
					} @else {
						padding: 20px 100px 20px 215px; 

						&:nth-child(even) {
						  background: white;
						}

						@include break(mobile) {
							padding: 14px 20px 14px 215px; 
						}
						@include break(v-mobile) {
							padding: 12px 15px 12px 180px;
						}
						/*@include break(v-mobile){
							padding: 14px 14px 14px 14px; 
						}*/
					}
				}
			}
		}
		#features {
			ul {
				li {
					@if $isAMP == 'true' {
						//Default for AMP
						padding: 12px 15px 12px 180px;
					
					} @else {
						padding: 20px 20px 20px 215px;

						&:nth-child(even) {
						  background: white;
						}

						@include break(mobile){
							padding: 14px 20px 14px 215px; 
						}
						@include break(v-mobile) {
							padding: 12px 15px 12px 180px;
						}
						/*@include break(v-mobile){
							padding: 14px 14px 14px 14px; 
						}*/
					}
				}
			}
		}
		#sidebar{
			@include col(1,3,0);
			text-transform: uppercase;
			font-family: $f-condensed;
			font-size: 0.7em;

			@if $isAMP == 'true' {
				width: 100%;
				padding: 10px 3% 0px 3%;
				//Default: "display: block" from multi-column (included in col)

			} @else {
				width: 16%;

				@include break(mobile){
					width: 100%;
					padding: 10px 3% 0px 3%;
					display: block !important;
				}
			}

			@if $isAMP != 'true' {
				// Used in Mobile
				// But not neccesary in AMP
				.has_more{
					.SideTitle{
						.arrow{
							@include triangle(left,white,4,6);
							float: right;
							margin-top: -19px;
							display: none;
							@include break(mobile){
								display: block;
							}
						}
					}
					.sub{
						@include break(mobile){
							display: none;
						}
					}
				}
			}

			@if $isAMP != 'true' {
				.open{
					.SideTitle{
						.arrow{
							@include triangle(down,white,4,6);
							float: right;
							margin-top: -18px;
							display: none;
							@include break(mobile){
								display: block;
							}
						}
					}
					.sub{
						display: block;
					}
				}
			}

			#CategoryList{
				background: #304456;
				li {
					line-height: 40px;

					@if $isAMP == 'true' {
						padding: 0px 10px;
					
					} @else {
						padding: 0px 15px;
						@include break(v-tablet){
							padding: 0px 10px;
						}
					}

					a {
						color: white;
						display: block;
						width: 100%;
						text-decoration: none;
					}
					.arrow {
						opacity: 0;
					}
					&:hover, &.active {
						background: white;
						a {
							color: black;
						}
						.arrow{
							@include triangle(right,$orange,4,6);
							float: right;
							margin-top: 15px;
							opacity: 1;
						}
					}
					
				}
			}
			.SideTitle{
				line-height: 33px;
				background-color: $blue;
				color: white;
				margin-top: -5px;

				@if $isAMP == 'true' {
					padding: 0px 10px;
					width: 100%;

				} @else {
					padding: 0px 15px;
					@include break(v-tablet){
						padding: 0px 10px;
					}
				}
				
				.arrow {
					@include triangle(down,white,4,6);
					float: right;
					margin-top: -18px;
					opacity: 1;
				}
			}
		}
	}
}