body.interior {
	&.features, &.reviews, &.reviews-cat, &.features-cat {

		@if $isAMP != 'true' {
			.col-2-3{
				@include col-last(2,3,0);
				width: 80%;
				//padding: 0px 2% 0px 0px;
				@include break(mobile){
					width: 100%;
					padding: 0;		
					.wrapperMobileOnly {
						@include break(mobile){
							width: auto;
							margin-top: 15px;
						}
					}
				}
			}
		}
		.category {
			ul {
				@if $isAMP != 'true' {
					list-style: none;
					padding: 0;
					margin: 0;
				}

				//Both: AMP and Normal
				li {
					min-height: 130px;
					border-bottom: 1px solid #E5E5E5;
					position: relative;

					h3 {
						line-height: 1.5;

						@if $isAMP != 'true' {
							@include break(v-mobile){
								font-size: 0.9em;
							}
						}
					}
					p {
						font-weight: 400;
						font-size: .6em;
						color: #666;

						@if $isAMP == 'true' {
							padding: 2px 0;

						} @else {
							padding: 2px 0 !important;
						}
					}
					@if $isAMP != 'true' {
						.desc {
							font-size: .75em;
							font-weight: 400;
							padding: 5px 0 !important;
							color: #333;
							font-family: $f-paragraph;
							line-height: 1.4;
								
							@include break(mobile){
								display: none;
							}
						}
						.more_info {
							float: right;
							right: 20px;
							top: 25px;
							position: absolute;

							@include break(mobile){
								display: none;
							}
							@include break(v-mobile){
								right: 2%;
								top: 19px;
							}
							
							.excellent {
								background-color: rgba(0,191,23,1);
							}
							.good {
								background-color: rgba(7,91,192,1);
							}
							.average {
								background-color: rgba(112,33,161,1);
							}
							.bad {
								background-color: rgba(204,0,0,1);
							}
							.none {
								background-color: rgba(153,153,153,1);
							}
							.score {
								font-size: 1.5em;
								color: #fff;
								text-align: center;
								font-weight: 500;
								height: 55px;
								line-height: 55px;
								width: 65px;
								@include border-radius(3px);
								text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
							}
						}
					}
				}
				@if $isAMP != 'true' {
					.alternate {
						background-color: white;
					}
				}
				.info {
					position: absolute;
					opacity: 1;
					margin-top: 5px;

					@if $isAMP == 'true' {
						left: 3%;

					} @else {
						left: 15px;
						@include break(mobile){
							left: 3%;
						}
					}
					/*
					@include break(v-mobile){
						position: relative;
						width: 100%;
						left: 0;
					}
					*/
				}
				.img{
					line-height: 120px;
					text-align: center;
					overflow: hidden;

					@if $isAMP != 'true' {
						width: 150px;
						height: 100px;

					} @else {
						width: 180px;
						height: 120px;
						@include break(v-mobile){
							width: 150px;
							height: 100px;
						}
					}
					/*
					@include break(v-mobile){
						width: 100%;
						height: auto;
						margin-bottom: 5px;
						img {
							width: 100%;
							height: auto;
						}
					}
					*/
				}
			}
		}
		#review {
			ul {
				li {
					@if $isAMP == 'true' {
						//Default for AMP
						padding: 12px 15px 12px 215px;
					
					} @else {
						padding: 20px 100px 20px 215px; 

						@include break(mobile) {
							padding: 14px 20px 14px 215px; 
						}
						@include break(v-mobile) {
							padding: 12px 15px 12px 180px;
						}
						/*@include break(v-mobile){
							padding: 14px 14px 14px 14px; 
						}*/
					}

					&:nth-child(even) {
						background: white;
					}
				}
			}
		}
		#features {
			ul {
				li {
					@if $isAMP == 'true' {
						//Default for AMP
						padding: 12px 15px 12px 180px;
					
					} @else {
						padding: 20px 20px 20px 215px;

						&:nth-child(even) {
						  background: white;
						}

						@include break(mobile){
							padding: 14px 20px 14px 215px; 
						}
						@include break(v-mobile) {
							padding: 12px 15px 12px 180px;
						}
						/*@include break(v-mobile){
							padding: 14px 14px 14px 14px; 
						}*/
					}
				}
			}
		}
		#sidebar{
			@include col(1,3,0);
			text-transform: uppercase;
			font-family: $f-condensed;
			font-size: 0.7em;

			@if $isAMP == 'true' {
				width: 100%;
				padding: 10px 3% 0px 3%;
				//Default: "display: block" from multi-column (included in col)

			} @else {
				width: 16%;

				@include break(mobile){
					width: 100%;
					padding: 10px 3% 0px 3%;
					display: block !important;
				}
			}

			@if $isAMP != 'true' {
				// Used in Mobile
				// But not neccesary in AMP
				.has_more{
					.SideTitle{
						.arrow{
							@include triangle(left,white,4,6);
							float: right;
							margin-top: -19px;
							display: none;
							@include break(mobile){
								display: block;
							}
						}
					}
					.sub{
						@include break(mobile){
							display: none;
						}
					}
				}
			}

			@if $isAMP != 'true' {
				.open{
					.SideTitle{
						.arrow{
							@include triangle(down,white,4,6);
							float: right;
							margin-top: -18px;
							display: none;
							@include break(mobile){
								display: block;
							}
						}
					}
					.sub{
						display: block;
					}
				}
			}

			#CategoryList{
				background: #304456;
				li {
					line-height: 40px;

					@if $isAMP == 'true' {
						padding: 0px 10px;
					
					} @else {
						padding: 0px 15px;
						@include break(v-tablet){
							padding: 0px 10px;
						}
					}

					a {
						color: white;
						display: block;
						width: 100%;
						text-decoration: none;
					}
					.arrow {
						opacity: 0;
					}
					&:hover, &.active {
						background: white;
						a {
							color: black;
						}
						.arrow{
							@include triangle(right,$orange,4,6);
							float: right;
							margin-top: 15px;
							opacity: 1;
						}
					}
					
				}
			}
			.SideTitle{
				line-height: 33px;
				background-color: $blue;
				color: white;
				margin-top: -5px;

				@if $isAMP == 'true' {
					padding: 0px 10px;
					width: 100%;

				} @else {
					padding: 0px 15px;
					@include break(v-tablet){
						padding: 0px 10px;
					}
				}
				
				.arrow {
					@include triangle(down,white,4,6);
					float: right;
					margin-top: -18px;
					opacity: 1;
				}
			}
		}
	}



	&.article {
		#content {
			.index-mobile {
				.article-index {
					display: block;
					
					@if $isAMP == 'true' {
						margin: 20px 0 15px;
						width: 100%;

					} @else {
						margin: 30px 0 0;
						width: 94%;

						@include break(big-desk){
							width: 100%;
						}

						@include break(mobile){
							margin: 20px 0 15px;
							width: 100%;
						}
					}

					strong {
						line-height: 25px;
						padding-bottom: 5px;
						background: #ff7f00;
						font-size: 0.9em;
						color: white;
					}
					section {
						display: block;
						width: 100%;
						position:relative;
						left: 0;
						z-index: 0;
						h3 {
							display: none;
						}
					}
				}
			}

			.page-nav{
				@if $isAMP == 'true' {
					a {
						font-size: 1.4em;
					}

				} @else {
					@include break(mobile){
						a {
							font-size: 1.4em;
						}
					}
				}
			}

			@if $isAMP != 'true' {
				position: relative;

				.wrapper {
					overflow: visible;
					padding: 15px 0 40px;
					@include break(mobile) {
						width: 94%;
						padding: 25px 0 30px;
					}
				}

				.social-column {
					position: absolute;
					right: 0;
					top: 50px;
					z-index: 1;

					@include break(mobile){
						position: relative;
						top: 0;
						margin-bottom: 25px;

						.article-index {
							position: absolute;
							right: 0;

							strong {
								line-height: 28px;
								font-weight: 500;
							}
							
							@include break(mobile){
								display: none;
							}
						}					
					}
				}
			
				.articleBody {
					width: 100%;
					
					@include break(v-tablet){
						width: 90%
					}
					@include break(mobile){
						width: 100%
					}

					blockquote {
						background: white;
						margin: 5px 20px 25px 0px;
						padding: 15px 10px 0px 15px;
						border-left: 3px solid #ccc;
					}

					.blue-quote {
						color: #105ab2;
						font-size: 1.7em;
						font-weight: 400;
						text-align: center;
						margin: 20px 10px 40px;
					}

					.slide-image { padding: 0 0 25px; }				

					/*
					img {
						padding: 0 0 25px;
					}
					*/

					/*
					.side-object {
						width: 350px;
						padding: 0px 50px 0px 0px;
						float: left;
						margin-left: -200px;
						strong {
							font-size: 1.7em;
							color: #003D85;
							font-weight: 400;
							@include break(mobile){
								font-size: 1.3em;
							}
						}
						@include break(v-tablet){
							margin-left: -230px;
						}
						@include break(mobile){
							margin-left: -0px;
							width: 50%;
							padding: 10px 15px 10px 0px;
						}
						@include break(v-mobile){
							width: auto;
							padding: 15px 15px 25px 15px
						}
					}
					.QuoteWithNoSpace {
						font-size: 0.7em;
						margin-left: 0;
						width: 250px;
					}
					*/
				}
			}
		}

		@if $isAMP != 'true' {
			#content-header {
				&.featured-image {
					.wrapper {
						//max-width: 1100px;
						//width: 94%;
						padding: 0;
						overflow: auto;
						@include break(mobile){
							width: 100%;
						}
					}
					.title-group {
						h1.large {
							font-weight: 500;
							padding: 15px 0 8px;

							@include break(mobile){
								padding-top: 0px;
							}
						}

						h2 {
							color: #eee;
							font-size: 1.5em;
							font-weight: 400;
							padding: 0px 0px 5px 3px;

							@include break(mobile){
								font-size: .85em;
								padding: 0px 0px 5px 0;
								margin-top: -3px;
							}
						}
						
						em {
							font-size: 0.75em;
							color: #eee;

							@include break(mobile){
								font-size: .65em;
							}

							time {
								a {
									color: #eee;
								}
							}
						}
					
					}

					&.second-page {
						min-height: 400px;
						max-height: 400px;

						@include break(mobile){
							min-height: 140px;
							max-height: 140px;
						}
						@include break(v-mobile){
							min-height: 200px;
							max-height: 200px;
						}

						.wrapper {
							min-height: 400px;
							max-height: 400px;

							@include break(mobile){
								min-height: 140px;
								max-height: 140px;
							}
							@include break(v-mobile){
								min-height: 200px;
								max-height: 200px;
							}
						}

						.title-group {
							bottom: 55px;

							h1.large {
								font-size: 2.4em;

								&.medium {
									font-size: 2.2em;
								}

								&.small {
									font-size: 2em;
								}
							}

							h4 {
								color: #eee;
								font-size: .75em;
								font-weight: 400;
								padding: 5px 0px 5px 5px;
								text-shadow: 1px 1px 5px black;
							}

							em {
								font-size: 0.7em;

								@include break(mobile){
									display: none;
								}
							}
						}

						.rating { display: none; }
					}

					&.index-page {
						min-height: 250px;
						max-height: 250px;

						@include break(mobile){
							min-height: 140px;
							max-height: 140px;
						}
						@include break(v-mobile){
							min-height: 200px;
							max-height: 200px;
						}
					}

					&.best-of {
						min-height: 55vh;
						max-height: 400px;

						.wrapper {
							min-height: 55vh;
						}

						.title-group {
							bottom: 75px;
							@include break(mobile){
								bottom: 25px;
							}
						}
						.rating { display: none; }
					}

				}
			}

			#content-header.featured-image.second-page {
				&:before {
					top: 0; right: 0; bottom: 0; left: 0;
					//previous @include gradient-trans-percent($start_color:#1E2933,$start_cent:35%,$start_alpha:0.03,$end_color:#1E2933,$end_cent:100%,$end_alpha:1,$degree:180deg);
					@include gradient-trans-percent($start_color:#1E2933,$start_cent:35%,$start_alpha:0.2,$end_color:#1E2933,$end_cent:95%,$end_alpha:1,$degree:200deg);
				}
			}

			#content-header.featured-image.index-page {
				&:before {
					top: 0; right: 0; bottom: 0; left: 0;
					@include gradient-trans-percent($start_color:#1E2933,$start_cent:25%,$start_alpha:0,$end_color:#1E2933,$end_cent:100%,$end_alpha:0.65,$degree:180deg);
				}
			}

			.col-2-3-last{
				float: left !important;
				width: 68%;
				padding-bottom: 20px;

				@include break(big-desk){
					width: 68%;
				}
				@include break(tablet) {
					width: 64%;
				}
				@include break(v-tablet) {
					width: 100%;
				}
			}

			&.about {
				.col-2-3 {
					width: 100%;
					margin-right: 0;
				}

				#content {
					.wrapper {

						@include break(mobile){
							padding-top: 0;
						}

					}

					article {
						width: 94%;
						font-size: 0.9em;

						@include break(mobile){
							font-size: 0.8em;
						}

					}

					h1 {
						font-weight: 500;
						font-size: 1.8em;
						padding: 25px 0 20px;

						@include break(mobile){
							padding-top: 10px;
						}

					}
					h2 {
						font-size: 1.4em;
						font-weight: 500;
						padding: 20px 0 15px;
					}

					.index-mobile {
						float: right;
						width: 200px;

						.article-index {
							display: block;
							margin: 0 0 25% 25%;
							width: 100%;

							.pad ul {
								font-size: 1.2em;
								margin: 4% 0 0 10%;
								line-height: 1.8;
							}
						}

						b, strong {
							font-weight: 500;
						}
						
						@include break(mobile){
							display: none;
						}
					}
				}
			}
		}
	}
}