.features, .reviews, .slide-article{

	.featured-posts-title {
		@if $isAMP == 'true' {
			margin-top: 25px;

			h1 {
				font-size: 1.1em;
				line-height: 50px;
				width: 320px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		
		} @else {
			width: $desk;
			margin: 0 auto;

			@include break(tablet){
				width: 94%; 
				padding: 0px 3%;
			}

			@include break(mobile){
				margin-top: 25px;
			}

			h1 {
				font-size: 1.4em;
				font-weight: 500;
				color: white;
				line-height: 80px;

				@include break(mobile){
					font-size: 1.1em;
					line-height: 50px;
					width: 320px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}


	@if $isAMP != 'true' {
		#masthead {
			min-height: 440px;
			position: relative;
			@include break(mobile) {
				min-height: 270px;
			}
			.wrapper {
				position: relative;
			}
			.FGheadCom {
				position: absolute;
				right: 0;
				bottom: 0;
				margin-right: 10px;
				margin-bottom: 10px;
				color: white;
				display: block!important;
				font-size: .7em;
				font-style: italic;
				@include gradient-trans($start_color:#4785D0,$start_alpha:1,$end_color:#025AC1,$end_alpha:1);
				padding: 2px 4px;
				@include border-radius(5px);
				.triangle {
					@include triangle(down,#025AC1,4,6);
					position: absolute;
					right: 2px;
				}
			}
			ul.featured-posts {
				position: absolute;
			
				li {
					width: $tile-width-sec;
					height: 166px;
					top: 0;
					left: 0;
					position: absolute;
					background-size: cover;
					background-position: center center !important;
					
					&.tall {
						height: 334px;
						
						a {
							height: 334px - 40px;
							hgroup {
								h2 {
									font-size: 1.45em;
								}
							}
						}
						
					}
					a {
						position: relative;
						display: block;
						padding: 20px;
						color: white;
						height: 166px - 40px;

						background: linear-gradient(345deg, rgba(21, 76, 143, 0.35) 25%, rgba(30, 41, 51, 0.75) 85%);

						&:hover {
							background: linear-gradient(345deg, rgba(21, 76, 143, 0.6) 25%, rgba(30, 41, 51, 0.75) 85%);

							hgroup {
								//bottom: 25px;
							}
						}
						
						hgroup {
							width: 90%;
							position: absolute;
							top: 20px;
							display: block;
							
							
							h3 {
								text-transform: uppercase;
								font-weight: 500;
								font-size: .60em;
								-webkit-font-smoothing: subpixel-antialiased;
								text-shadow: 0px 0px 3px #333;
								color: #FF9B37;
								padding-bottom: 2px;
								letter-spacing: .25px;
							}
							h2 {
								font-size: 1.05em;
								font-weight: 500;
								text-shadow: 1px 1px 3px #222;
								letter-spacing: -.2px;

								@include break(v-tablet) {
									font-size: 0.95em;
								}
								@include break(mobile) {
									font-size: 1.2em;
								}
							}
						}	
					}
					
					&:nth-child(1) {
						top: 0;
						left: 0;
					}
					
					&:nth-child(2) {
						/*top: 168px;*/
						left: $tile-width;

					}
					
					&:nth-child(3) {
						left: $tile-width;
						top: 168px;

					}
					
					&:nth-child(4) {
						top: 0;
						left: $tile-width*2;
					}
					
					&:nth-child(5) {
						left: $tile-width*2;
						top: 168px;
					}
					
				}
			}
			@include break(tablet){
				.wrapper {
					position: relative;
					width: 100%;
					height: 330px;
				}
				ul.featured-posts {
					width: inherit;
					li {
					width: 1/3*100%;
					height: 166px;
					top: 0;
					left: 0;
					position: absolute;
					background-size: cover;
					background-position: center center;
					
					background: #1E2832;
					a {
						position: relative;
						display: block;
						padding: 15px;
						color: white;
						height: 166px - 30px;
						
						hgroup {
							width: 90%;
							position: absolute;
							bottom: 15px;
							display: block;
							
							
										
									}	
						
					}			
						&:nth-child(1) {
							top: 0;
							left: 0;
						}
						
						&:nth-child(2) {
							/*top: 168px;*/
							left: 1/3*100%;
							/* border-left: 2px solid $dark-green; */
							/* border-bottom: 2px solid $dark-green; */
						}
						
						&:nth-child(3) {
							left: 1/3*100%;
							top: 168px;
							/* border-left: 2px solid $dark-green; */
							
						}
						
						&:nth-child(4) {
							top: 0;
							left: 2/3*100%;
							/* border-left: 2px solid $dark-green; */
							
						}
						
						&:nth-child(5) {
							top: 168px;
							left: 2/3*100%;
							/* border-left: 2px solid $dark-green; */
						}	
					}
				}	
			}
			@include break(mobile){
				.wrapper {
					position: relative;
					width: 100%;
					height: 270px;
					overflow: scroll;
					-webkit-overflow-scrolling: touch;
				}
				ul.featured-posts {
					li {
						width: 80%;
						height: 270px;
						top: 0;
						left: 0;
						position: absolute;
						background-size: cover;
						background-position: center center;
							
						&.tall {
							height: 270px;
							
							a {
								height: 270px - 30px;
								hgroup {
									h2 {
										font-size: 1.2em;
									}
								}
							}
							
						}			
						a {
							position: relative;
							display: block;
							padding: 15px 10px;
							color: white;
							height: 270px - 30px;
							hgroup {
								width: 80%;
								position: absolute;
								bottom: 15px;
								display: block;
								
							}	
						}
						
						&:nth-child(1) {
							top: 0;
							left: 0;
							border-bottom: 0px  ;
							border-left: 0px ;
							/* border-top: 0px; */
						}
						
						&:nth-child(2) {
							top: 0;
							left: 80%;
							/* border-bottom: 0px ; */
							/* border-left: 1px solid $dark-green; */
							/* border-top: 0px; */
						}
						
						&:nth-child(3) {
							top: 0;
							left: 80%*2;
							/* border-bottom: 0px ; */
							/* border-left: 1px solid $dark-green; */
							/* border-top: 0px; */
						}
						
						&:nth-child(4) {
							left: 80%*3;
							top: 0;
							/* border-bottom: 0px ; */
							/* border-left: 1px solid $dark-green; */
							/* border-top: 0px; */
						}
						
						&:nth-child(5) {
							left: 80%*4;
							top: 0;
							/* border-bottom: 0px ; */
							/* border-left: 1px solid $dark-green; */
							/* border-top: 0px; */
						}
						
						&:nth-child(6) {
							left: 80%*5;
							top: 0;
							margin: 0;
							/* border-bottom: 0px ; */
							/* border-left: 1px solid $dark-green; */
							/* border-top: 0px; */
						}
						
					}
				}
			}
		}
	}
}


@if $isAMP != 'true' {
	.reviews-cat #masthead, .features-cat #masthead {
		min-height: 365px;

		@include break(tablet){
			.wrapper {
				position: relative;
				width: 100%;
				height: 0;
			}
		}
		@include break(mobile){
			min-height: 270px;

			.wrapper {
				position: relative;
				width: 100%;
				height: 270px;
			}
		}
		li {
			height: 266px !important;

			a {
				height: 226px !important;
			}

			&:nth-child(3) {
				left: $tile-width*2 !important;
				top: 0 !important;

			}
			&:nth-child(4) {
					display: none;
			}
				
			&:nth-child(5) {
					display: none;
			}
				
			&:nth-child(6) {
					display: none;
			}

			@include break(tablet){
				&:nth-child(2) {
					/* border-left: 2px solid $dark-blue2 !important; */
					/* border-bottom: 2px solid $dark-blue2 !important; */
				}
				&:nth-child(3) {
					left: 2/3*100% !important;
					top: 0 !important;	
					/* border-left: 2px solid $dark-blue2 !important; */
				}
			}
			@include break(mobile){
				&:nth-child(3) {
					left: 160% !important;
					top: 0 !important;
					/* border-bottom: 2px; */
				}

			}
		}	
	}
}