.article-index {
	width: 60px;
	border-top: 5px solid $orange;
	background: white;
	margin-bottom: 50px;
	position: relative;
	
	strong {
		display: block;
		line-height: 35px;
		text-align: center;
		font-size: .7em;
		cursor: pointer;
	}
	
	section {
		font-size: .7em;

		@if $isAMP != 'true' {
			display: none;
			width: 300px;
			position: absolute;
			left: -300px; top: -5px;
			background: white;
			border-top: 5px solid $orange;
			z-index: 10;
		}
		
		.pad {
			padding: 10px 20px 20px 20px;
		}
		
		h3 {
			font-size: 1.5em;
			line-height: 180%;
			font-weight: 400;
		}
		
		ol {
			margin: 10px 10px 0 12%;
			line-height: 200%;
			li {
				list-style-type: decimal-leading-zero;
				font-family: $f-paragraph;
				font-weight: 400;
				font-size: 1.1em;
				line-height: 1.6;
				padding-bottom: 5px;

				a {
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
	
	&:hover {
		strong {
			color: white;
			background: $orange;
			transition: background 0.1s;
		}
		section {
			display: block;
		}
	}
}

// PAGE NAV
.article nav.page-nav {
	text-align: right;
	float: left;

	@if $isAMP == 'true' {
		width: 94%;
		margin: 0;
		
		padding-bottom: 10px;

	} @else {
		width: 94% !important;
		margin: 0 !important;

		@include break(big-desk) {
			width: 100% !important;
		}

		@include break(mobile) {
			padding-bottom: 10px !important;
		}
	}

	a span {
		font-size: 0.75em;
		&:after {
			content:"";
			display: block;
			position: absolute;
			right: 0; top: 50%;
			margin-top: -5px;
			width: 10px; height: 7px;
			@include triangle(right,black,8,10);
		}
	}
	a:hover {
		span {
			&:after {
				content:"";
				display: block;
				position: absolute;
				right: 0; top: 50%;
				margin-top: -5px;
				width: 10px; height: 7px;
				@include triangle(right,$orange,8,10);
			}
		}
	}
	a strong {
		font-size: 0.85em;
	}	
}


// ! Special body styles ===========================================
body.reviews {
	#masthead{
		background-color: #1E2933;
		background-image: url(/images/reviewmasthead.png);
		background-position: center 28px;
		background-repeat: no-repeat;

		.wrapper {
			@if $isAMP == 'true' {
				padding: 0;

			} @else {
				padding: 0 !important;
			}
		}
	}
	#content {
		.wrapper {
			@if $isAMP == 'true' {
				padding: 10px 0;
			
			} @else {
				padding: 40px 0;
				@include break(mobile) {
					padding: 10px 0;
				}
			}
		}
	}
}

body.features {
	#masthead {
		background-color: #237A3C;
		background-image: url(/images/featuremasthead.png);
		background-position: center 28px;
		background-repeat: no-repeat;

		.wrapper {
			@if $isAMP == 'true' {
				padding: 0;
			
			} @else {
				padding: 0 !important;
			}
		}
	}
	#content {
		.wrapper {
			padding: 20px 0;
		}
	}
}