/* Review box */
.review_box {
	margin: 20px 0 20px;
	font-size: 0.9em;
	background: #fff;
	border-top: 20px solid #eaeaea;
	border-bottom: 20px solid #eaeaea;

	@if $isAMP == 'true' { //Only Amp
		padding: 15px 20px 15px;

	} @else {
		padding: 32px 30px 15px 35px;
		@include break(mobile){
			padding: 15px 20px 15px;
		}
	}

	@if $isAMP != 'true' {
		&.outstanding {
			border-top: 80px solid #eaeaea;
			.frame {
				margin-top: 25px;
			}

			@include break(mobile){
				border-top: 65px solid #eaeaea;
				.frame {
					margin: 8px 0 0;
				}
			}
		}
	}

	.score_box {
		width: 100px;
		height: 120px;
		position: relative;

		@if $isAMP == 'true' {
			float: none;
			margin: 0 auto 10px;

		} @else {
			float: left;
			@include break(mobile){
				float: none;
				margin: 0 auto 10px;
			}
		}
	}

	.pf_score {
		font-family: $f-helvetica-roboto;
		font-size: 50px;
		width: 100px;
		padding: 5px 0 3px;
		margin: 0;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
		@include border-radius(3px);
	}

	.ts_brand {
		font-family: $f-primary;
		font-size: 0.70em;
		text-transform: uppercase;
		font-weight: 500;
		color: #fff;
		text-align: center;
		line-height: 1.2;
		padding-bottom: 12px;
		@include border-radius(3px);
	}
	ul {
		padding-left: 25px;

		@if $isAMP == 'true' { //Only Amp
			margin: 0 0 10px;
		} @else {
			margin: 0 0 10px !important;
		}
	}
	.two_column {
		float: left;
		width: 50%;
		margin-bottom: 20px;
		ul {
			margin-right: 10px;
		}
	}

	@if $isAMP != 'true' {
		.outstanding {
			display: block;
			height: 80px;
			width: 305px;
			margin: -105px 0 0;
			background: url('/images/outstanding-reviewbox_big1.png');
			background-size: cover;

			@include break(mobile){
				height: 65px;
				width: 250px;
				margin: -75px 0 0 -75px;
			}

			/*
				display: block;
				height: 68px;
				width: 300px;
				margin: -105px 0 0;
				background: url('/images/outstanding-reviewbox_big2.png');
				background-size: cover;
			*/
		}
	}

	.content_box {
		padding-top: 2px;

		@if $isAMP == 'true' {
			padding-left: 0;
			font-size: .95em;
			margin-top: 145px;

		} @else {
			padding-left: 130px;
			font-size: 1.05em;

			@include break(mobile){
				padding-left: 0;
				font-size: .95em;
				margin-top: 145px;
			}
		}

		
	}
	.label {
		color: $blue;
		font-weight: bold;
	}
	h3 {
		@if $isAMP == 'true' {
			margin-bottom: 0;
		} @else {
			margin-bottom: 0 !important;
		}
	}
	.others_said {
		@if $isAMP == 'true' {
			display: none;
			
		} @else {
			clear: both;
			height: 30px;
			line-height: 30px !important;
			font-size: 0.9em;
			color: #444;
			text-align: right;
			a {
				color: #444444 !important;
				box-shadow: none !important;
			}
			p {
				margin: 0;
			}
			a:hover {
				text-decoration: none !important;
				.pf_score {
					text-decoration: none !important;
				}
			}
			.pf_score_o {
				float: right;
				margin-top: -5px;
				font-family: $f-helvetica-roboto;
				font-size: 17px;
				font-weight: 500;
				text-align: center;
				width: 40px;
				height: 32px;
				line-height: 32px;
				color: #fff !important;
				margin: -5px 10px 0 5px;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
				@include border-radius(2px);
			}
		}
	}
}